$white                : #ffffff;
$black                : #000000;

$light-grey           : #f6f6f6;
$grey                 : #726D72;
$dark-grey            : #3d3e40;

$red                  : #ef081e;

$pink                 : #dd5287;
$pink-secondary       : #f296b9;
$pink-light           : #f9eaf1;

$border-color         : #ddc4c3 !default;
$border-radius        : 10px;

$link-color           : $dark-grey !default;
$link-hover-color     : $pink      !default;
$link-decoration      : none       !default;
$link-hover-decoration: underline  !default;

$body-color           : $black;
$body-bg              : $white;

$grid-breakpoints: (
  xs: 420px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
) !default;

$container-max-widths: (
  xs: 320px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
  hd: 1440px,
) !default;

$font-family-base     : "Noto Sans", "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo,            Monaco, Consolas,   "Liberation Mono",   "Courier New",    monospace !default;
$font-family-heading  : 'Noto Serif', serif;

$line-height          : 1.4;
$letter-spacing       : 0.2em;

$font-size-base       : 14px;
$font-weight-base     : 400;
$line-height-base     : 1.7;

$font-weight-bolder   : 600;
$font-weight-bold     : 700;

$font-weight-heading  : $font-weight-bold;
$line-height-heading  : 1.2 !default;
$font-size: (
    xs: 11px,
    sm: 12px,
    md: 13px,
    lg: 16px,
    xl: 18px,
);

$dt-font-weight: $font-weight-bold !default;

$grid-columns         : 12 !default;
$grid-gutter-width    : 40px !default;
$spacer-gutter        : 15px !default;

$spacer : 40px !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .5),    // 20
    2: ($spacer * .75),   // 30
    3: $spacer,           // 40
    4: ($spacer * 1.5),   // 60
    5: ($spacer * 2),     // 80
    6: ($spacer * 2.5)    // 100
  ),
  $spacers
);

$headings-margin-bottom : $spacer / 2 !default;
$headings-font-family   : null !default;
$headings-font-weight   : 400 !default;
$headings-line-height   : 1.2 !default;
$headings-color         : null !default;

$paragraph-margin-bottom: 20px !default;

$table-cell-padding     : 10px !default;
$table-cell-padding-sm  : 6px !default;
$table-caption-color    : $dark-grey !default;

$label-margin-bottom    : 10px;

$enable-grid-classes              : true !default;
$enable-pointer-cursor-for-buttons: true !default;

// Utilities

$displays : none,   inline,   inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto,   hidden !default;
$positions: static, relative, absolute,     fixed, sticky !default;


// Printing

$print-page-size     : a3 !default;
$print-body-min-width: map-get($grid-breakpoints, "lg") !default;