.slider-container{
    position: relative;

    padding-top: 118px;
    padding-bottom: $spacer;

    .slider-nav{
        opacity: 0;
        transition: .4s;
    }

    &:hover{
        .slider-nav{
            opacity: 1;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .slider-container{
        .slider-nav{
            opacity: 1;
        }
    }
}