// Горизонтальный инфо-блок c картинкой
.info_row{
    padding: map-get($spacers, 3) map-get($spacers, 1);

    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .info_row{
        .info__img{
            padding-right: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .info_row{
        height: auto;
        .info__img{
            padding-right: 20px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .info_row{
        padding: map-get($spacers, 1 ) 0;
    }
}