// Блок с преимуществами онлайн курса
.info-advantage{
    position: relative;
    padding: map-get($spacers, 5) 0 0;
    background: darken($color: $pink-light, $amount: 5);

    &__position{
        padding-top: 0;
        transform: translateY(50%);
    }

    & + .content,
    & + .programm{
        padding-top: 140px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .info-advantage{
        &__position{
            transform: translateY(0);
            padding: map-get($spacers, 4) 0;
        }

        & + .content,
        & + .programm{
            padding-top: 40px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .info-advantage{
        padding: map-get($spacers, 4) 0 0;
    }   
}