.contacts_inline{
    display: flex;
    flex-wrap: wrap;

    .contacts__item + .contacts__item{
        margin-top: 0;
        margin-left: map-get($spacers, 1)/2;
    }
    .contacts__item_phone + .contacts__item_phone{
        margin-left: 24px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .contacts_inline{
        .contacts__item{
            &_phone{
                font-size: 12px;
            }
            & + .contacts__item{
                margin-left: 10px;
            }
        }
    }
}