header.header
    .container
        .row
            .col-4
                .header__line
                    ul.contacts.contacts_inline
                        li.contacts__item.contacts__item_phone
                            a.header__link(href="tel:88001112233") 8 800 111-22-33
                        li.contacts__item.contacts__item_phone
                            a.header__link(href="tel:88001112233") 8 800 111-22-33
                .header__line
                    nav.navbar
                        a.navbar__link(href="#") Курсы
                        a.navbar__link(href="#") О школе
                        a.navbar__link(href="#") Преподаватели
            .col-4
                a.header__logo(href="/")
            .col-4
                .header__line.text-right
                    a.header__btn.btn.btn_default(href="#") Актуальное расписание курсов
                .header__line
                    nav.navbar.navbar_right
                        a.navbar__link(href="#") Портфолио
                        a.navbar__link(href="#") Отзывы
                        a.navbar__link(href="#") Блог