.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__link{
        font-size: 12px;
        line-height: 1;
        padding: 8px 0;
    
        white-space: nowrap;
        text-transform: uppercase;

        &:hover, &:focus{
            text-decoration: none;
        }

        &_online{
            display: inline-block;
            padding: 0 6px;
            border-radius: 10px;

            background: $pink;
            color: $white;
            font-size: 11px;
            line-height: 18px;

            &:hover, &:focus{
                color: $white;
            }
        }

        &_has-child{
            position: relative;

            cursor: pointer;
            transition: .3s;

            &:hover, &:focus{
                color: $pink;
            }
        }
    }
    &__children{
        display: none;

        position: absolute;
        left: 0;
        top: 28px;
        background: $white;
        width: 200px;
        padding: $spacer/2;
        border: 1px solid $border-color;

        &--active{
            display: block;
        }
    }
    &__children-link{
        display: block;
        padding: 0 0 $spacer/2;
        text-transform: none;

        &:last-child{
            padding: 0;
        }
    }

    &_left{
        .navbar__link:not(:last-child){
            margin-right: 2em;
        }
    }
    &_right{
        justify-content: flex-end;

        .navbar__link + .navbar__link{
            margin-left: 2em;
        }
    }
}

.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 89;

    background: rgba(0,0,0,.4);

    &--disable{
        position: inherit;
        display: none;
    }
}
@media all and (max-width: 1200px){
    .navbar{
        &_left{
            .navbar__link:not(:last-child){
                margin-right: 1em;
            }
        }
        &_right{
            .navbar__link + .navbar__link{
                margin-left: 1em;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .navbar{
        flex-wrap: wrap;
        
        .navbar__link{
            font-size: 16px;
            text-transform: none;

            &_online{
                padding: 4px 10px;
                border-radius: 20px;
            }
        }
    }
}