.preview-courses-col{
    display: flex;
    align-items: stretch;

    &__label{
        position: absolute;
        z-index: 11;
        top: $spacer-gutter;
        left: $spacer-gutter;
    }
    // margin-bottom: map-get($map: $spacers, $key: 3);
    &__inside{
        position: relative;
        width: 100%;
    
        border: 1px solid $border-color;
        border-radius: $border-radius;
        background-color: $white;
        overflow: hidden;
        
        padding-top: 180px;
        padding-bottom: 24px;

        &_recommend{
            display: grid;
            grid-gap: $spacer-gutter;
            grid-template-columns: 1fr;
            grid-template-rows: auto 30px;

            &:hover, &:focus{
                color: inherit;
                text-decoration: none;
                border-color: $pink-secondary;
            }
        }
        &_archive{
            display: grid;
            grid-gap: $spacer-gutter;
            grid-template-columns: 1fr;
            grid-template-rows: auto 30px;

            filter: grayscale(1);
        }
    }
    // Изображение-иллюстрация
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 180px;

        background-position: center;
        background-size: cover;
    }
    // Заголовок
    &__title{
        display: block;

        font-size: map-get($map: $font-size, $key: lg);
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;
        padding: map-get($spacers,1) map-get($spacers,2) map-get($spacers,1)/2;
    }
    // Дополнительный текст
    &__intro{
        font-size: map-get($map: $font-size, $key: md);
        padding: 0 map-get($spacers,2);
    }
    // Цена 
    &__price{
        font-size: map-get($map: $font-size, $key: lg);
        font-weight: $font-weight-bold;

        color: $pink;
        padding: 0 map-get($spacers,2);

        &_old{
            text-decoration: line-through;

            color: $black;
            font-weight: $font-weight-base;
            margin-right: 6px;
        }
    }
}