.page-price{
    display: grid;
    grid-gap: $spacer-gutter;
    grid-template-columns: repeat(2, 1fr);

    width: 240px;
    max-width: 100%;

    &__label{
        font-size: map-get($map: $font-size, $key: sm);
    
        display: inline-block;
        white-space: nowrap;

        padding: 2px 10px 4px;
        background: $white;
        border-radius: 12px;
    }
    &__value{
        font-size: 1.5rem;
        white-space: nowrap;

        &_old{
            text-decoration: line-through;
            color: $grey;
        }
        &_new{
            font-weight: 700;
            color: $pink;
        }
    }
}