.item-icon_information{
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: map-get($spacers, 2);
    padding-left: 110px;
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item-icon_information{
        padding: map-get($spacers, 3);
        padding-left: map-get($spacers, 3);
    }
}