// Кому подходит онлайн курс BEM
.item-cources{
    &__img{
        position: relative;
        width: 100%;
        height: 180px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: map-get($spacers, 2);

        &:before{
            content: '';
            display: block;
            width: 100%;
            padding-top: 180px;

            border: 1px solid $pink;
            transform: translate(10px, -10px);
        }

        &--lg{
            height: 240px;
            &:before{
                padding-top: 240px;
            }
        }
    }
    &__title{
        font-size: 1.15rem;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: map-get($spacers, 1);
    }
    &__list{
        font-size: 13px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item-cources{
        &__img{
            &--lg{
                height: 180px;
                &:before{
                    padding-top: 180px;
                }
            }
        }
    }
}