.info_video{
    padding: $spacer/4;
    iframe{
        max-height:100vh;
        border-radius:12px;
    }
}
@media (max-width: 992px){
    .info_video{
        iframe{
            height:360px;
        }
    }
}
@media (max-width: 576px){
    .info_video{
        iframe{
            height:280px;
        }
    }
}