// Информация о человеке
.info_person{
    position: relative;
    padding-left: 140px;
    // box-shadow: none;
    
    &__img{
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);

        width: 140px;
        height: 140px;
        border-radius: 12px;
        background-color: $white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--lg{
        padding-top: 2*$spacer;
        padding-bottom: 2*$spacer;
        padding-left: 180px;
        .info_person__img{
            width: 160px;
            height: 160px;
            border-radius: 12px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'hd')){
    .info_person{
        &--lg{
            padding-top: map-get($map: $spacers, $key: 3);
            padding-bottom: map-get($map: $spacers, $key: 3);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .info_person{
        &--lg{
            padding-top: map-get($map: $spacers, $key: 2);
            padding-bottom: map-get($map: $spacers, $key: 2);
            padding-left: 160px;
            .info_person__img{
                width: 160px;
                height: 160px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .info_person{
        padding-left: 200px;
        
        &__img{
            left: 20px;

            width: 150px;
            height: 150px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .info_person{
        padding-top: $spacer/2;
        padding-bottom: $spacer/2;
        padding-left: 80px;
        
        &__img{
            width: 74px;
            height: 74px;
            left: -10px;
        }
    }
}