header .container,
footer .container,
.info-block .container {
  width: 100%;
  max-width: 1240px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

header .row,
footer .row,
.info-block .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -40px;
  margin-left: -40px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media all and (max-width: 1400px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  header .container,
  footer .container,
  .info-block .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .row,
  footer .row,
  .info-block .row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.header {
  padding: 20px 0 0;
}

.header .header__row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header .header__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc( 50% - 115px);
  flex: 0 0 calc( 50% - 115px);
  max-width: calc( 50% - 115px);
}

.header .header__line + .header__line {
  margin-top: 20px;
}

.header .header__line_right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5px;
}

.header .header__item + .header__item {
  margin-left: 20px;
}

.header .header__logo {
  background: url("../img/logo_white.svg") no-repeat center 0px/contain;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  max-width: 230px;
  height: 140px;
  margin: 0 auto;
  display: block;
}

.header .header__logo_white {
  background-image: url("../img/logo_white.svg");
}

@media all and (max-width: 1200px) {
  .header .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    height: 70px;
    background-position-y: bottom;
  }
  .header .header__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc( 50% - 50px);
    flex: 0 0 calc( 50% - 50px);
    max-width: calc( 50% - 50px);
  }
}

@media all and (max-width: 992px) {
  .header {
    display: none;
  }
}

.header-btn {
  color: #dd5287;
  background-color: #f9eaf1;
  padding: 4px 15px !important;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-btn:hover {
  color: #d3296a;
  background: #f3d6e4;
}

.header-link {
  text-decoration: underline;
  color: #726d72;
}

.header-link:hover {
  color: #dd5287;
}

.header-top .header {
  position: relative;
  z-index: 1;
}

.header-top .header:after {
  display: block;
  content: '';
  width: 100%;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9eaf1), to(#f4dae6));
  background: -o-linear-gradient(#f9eaf1, #f4dae6);
  background: linear-gradient(#f9eaf1, #f4dae6);
  z-index: -1;
}

@media all and (max-width: 1200px) {
  .header-top .header:after {
    height: 12px;
  }
}

@media all and (max-width: 992px) {
  .header-top .header-mobile-only {
    background: -webkit-gradient(linear, left top, left bottom, from(#f9eaf1), to(#f0c9d8));
    background: -o-linear-gradient(#f9eaf1, #f0c9d8);
    background: linear-gradient(#f9eaf1, #f0c9d8);
  }
}

.header-fixed .header, .header-fixed .header-mobile-only {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.header-mobile-only {
  display: none;
  padding: 10px 0;
}

.header-mobile-only .nav-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header-mobile-only .header__logo {
  background: url("../img/logo.svg") no-repeat left center/contain;
  width: 100%;
  height: 80px;
}

@media all and (max-width: 992px) {
  .header-mobile-only {
    display: block;
  }
}

.footer {
  padding: 60px 0;
  background: #f9eaf1;
  border-top: 1px solid #ddc4c3;
  overflow: hidden;
}

.footer .footer__logo {
  background: url("../img/logo.svg") no-repeat left center/contain;
  max-width: 100%;
  width: 180px;
  height: 110px;
  display: block;
  margin-bottom: 30px;
}

.footer .footer__title {
  font-size: 1.25rem;
}

.footer .footer__content {
  color: #726d72;
}

.footer .contacts {
  text-align: left;
  padding: 0;
  margin-top: 0;
}

.footer .contacts + .contacts {
  padding-top: 30px;
}

.footer .contacts .contacts__item {
  font-weight: 400;
}

.footer .contacts_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contacts_inline .contacts__item + .contacts__item {
  margin-top: 0;
  margin-left: 10px;
}

@media all and (max-width: 576px) {
  .footer {
    padding: 30px 0;
  }
  .footer .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footer__content {
    text-align: center;
  }
  .footer .contacts {
    text-align: left;
  }
  .footer .col-sm-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navbar_left .navbar__link:not(:last-child) {
  margin-right: 2em;
}

.navbar_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar_right .navbar__link + .navbar__link {
  margin-left: 2em;
}

.navbar .navbar__link {
  font-size: 12px;
  white-space: nowrap;
  text-transform: uppercase;
}

.navbar .navbar__link:hover {
  text-decoration: none;
}

.navbar-mobile {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9eaf1), to(#f0c9d8));
  background: -o-linear-gradient(#f9eaf1, #f0c9d8);
  background: linear-gradient(#f9eaf1, #f0c9d8);
  top: 0;
  left: 0;
  z-index: 101;
  max-width: calc(100% - 80px);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 40px 30px;
  height: 100%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.navbar-mobile.navbar-mobile--active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.navbar-mobile .navbar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-mobile .navbar .navbar__item + .navbar__item {
  margin-top: 20px;
}

.navbar-mobile .contacts {
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.navbar-mobile .contacts .contacts__item {
  font-size: 16px;
  margin-bottom: 10px;
}

.navbar-mobile .header-btn {
  text-align: center;
  background-color: #ffffff;
}

@media all and (max-width: 1200px) {
  .navbar_left .navbar__link:not(:last-child) {
    margin-right: 1.5em;
  }
  .navbar_right .navbar__link + .navbar__link {
    margin-left: 1.5em;
  }
}

@media all and (max-width: 992px) {
  .navbar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .navbar .navbar__link {
    font-size: 16px;
    text-transform: none;
  }
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}

.contacts__item {
  padding-left: 30px;
}

.contacts__item_networks {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
}

.contacts__item_networks .footer__link {
  width: 100%;
  height: 100%;
  display: block;
}

.contacts__item_vk {
  background: url("../img/vk.svg") no-repeat left center/contain;
}

.contacts__item_inst {
  background: url("../img/inst.svg") no-repeat left center/contain;
}

.contacts__item_fb {
  background: url("../img/fb.svg") no-repeat left center/contain;
}

.contacts__item_phone {
  background: url("../img/telephone-pink.svg") no-repeat left center/16px;
}

.contacts__item_email {
  background: url("../img/mail-pink.svg") no-repeat left center/16px;
}

.contacts__item + .contacts__item {
  margin-top: 10px;
}

.contacts_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contacts_inline .contacts__item + .contacts__item {
  margin-top: 0;
  margin-left: 30px;
}

.contacts_header {
  padding: 0;
}

.contacts_header .contacts__item + .contacts__item {
  margin-left: 10px;
}

.contacts + .contacts {
  padding: 30px 0 0;
}

@media all and (max-width: 992px) {
  .contacts_inline .contacts__item_phone {
    font-size: 12px;
  }
  .contacts_inline .contacts__item + .contacts__item {
    margin-left: 10px;
  }
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.networks__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  max-width: 25%;
  padding: 0 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 40px;
}

.networks__item:hover {
  padding: 0 12px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list .list__item {
  max-width: 100%;
  margin-bottom: .5em;
}

.list .list__item:last-child {
  margin-bottom: 0;
}

.list_circle .list__item {
  position: relative;
  padding-left: 20px;
}

.list_circle .list__item:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 8px;
  background: #dd5287;
}

.list_circle .list__item + .list__item {
  margin-top: 10px;
}

.list_circle .list__item_disabled {
  opacity: .5;
  color: #726d72;
}

.list_circle .list__item_disabled:before {
  background: #ddc4c3;
}

header .btn {
  border: none;
  padding: 18px 40px;
  border-radius: 30px;
  outline: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

header .btn:hover, header .btn:focus {
  text-decoration: none;
  outline: none;
}

header .btn_action {
  background: #dd5287;
  color: #ffffff;
  font-weight: bold;
}

header .btn_action:hover {
  color: #ffffff;
  background: #d3296a;
}

.jGrowl#jGrowl {
  font-family: "Noto Sans";
  top: 50%;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
}

.jGrowl#jGrowl .jGrowl-notification {
  position: relative;
  width: 275px;
  max-width: 100%;
  padding: 30px;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: 0px 0px 15px 0px #f0d5dd;
  box-shadow: 0px 0px 15px 0px #f0d5dd;
  border-radius: 20px;
  font-size: 14px;
  color: #3d3e40;
}

.jGrowl#jGrowl .jGrowl-notification .jGrowl-close {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
  font-size: 0px;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  background: #dd5287 url("../img/close.svg") no-repeat center/12px;
  color: #fff;
  outline: 0;
}

.jGrowl#jGrowl .jGrowl-notification .jGrowl-message {
  font-weight: 700;
}

.jGrowl#jGrowl .jGrowl-notification.af-message-success {
  background-color: #ffffff !important;
  color: #dd5287;
  border-color: #d3d3d3;
}

.jGrowl#jGrowl .jGrowl-notification.af-message-success .jGrowl-close {
  background-color: #dd5287;
}

.jGrowl#jGrowl .jGrowl-notification.af-message-error {
  background-color: #ffffff !important;
  color: #ef081e;
  border-color: #ef081e;
}

.jGrowl#jGrowl .jGrowl-notification.af-message-error .jGrowl-close {
  background-color: #ef081e;
}

.jGrowl#jGrowl .jGrowl-notification.af-message-info {
  background-color: #ffffff !important;
  color: #3d3e40;
  border-color: #d3d3d3;
}

.jGrowl#jGrowl .jGrowl-notification.af-message-info .jGrowl-close {
  background-color: #726d72;
}

.ajax_form .error {
  color: #ef081e;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mr-0 {
  margin-right: 0;
}

.mr-auto {
  margin-right: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-auto {
  margin-left: auto;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

@media all and (max-width: 1400px) {
  .mt-xl-0 {
    margin-top: 0px !important;
  }
  .mt-xl-20 {
    margin-top: 20px !important;
  }
  .mt-xl-40 {
    margin-top: 40px !important;
  }
  .mt-xl-60 {
    margin-top: 60px !important;
  }
  .mb-xl-0 {
    margin-bottom: 0px !important;
  }
  .mb-xl-10 {
    margin-bottom: 10px !important;
  }
  .mb-xl-20 {
    margin-bottom: 20px !important;
  }
  .mb-xl-40 {
    margin-bottom: 40px !important;
  }
  .mb-xl-60 {
    margin-bottom: 60px !important;
  }
  .mr-xl-0 {
    margin-right: 0;
  }
  .mr-xl-auto {
    margin-right: auto;
  }
  .ml-xl-0 {
    margin-left: 0;
  }
  .ml-xl-auto {
    margin-left: auto;
  }
  .pt-xl-0 {
    padding-top: 0px !important;
  }
  .pt-xl-20 {
    padding-top: 20px !important;
  }
  .pt-xl-40 {
    padding-top: 40px !important;
  }
  .pt-xl-60 {
    padding-top: 60px !important;
  }
  .pb-xl-0 {
    padding-bottom: 0px !important;
  }
  .pb-xl-20 {
    padding-bottom: 20px !important;
  }
  .pb-xl-40 {
    padding-bottom: 40px !important;
  }
  .pb-xl-60 {
    padding-bottom: 60px !important;
  }
}

@media all and (max-width: 992px) {
  .mt-lg-0 {
    margin-top: 0px !important;
  }
  .mt-lg-20 {
    margin-top: 20px !important;
  }
  .mt-lg-40 {
    margin-top: 40px !important;
  }
  .mt-lg-60 {
    margin-top: 60px !important;
  }
  .mb-lg-0 {
    margin-bottom: 0px !important;
  }
  .mb-lg-10 {
    margin-bottom: 10px !important;
  }
  .mb-lg-20 {
    margin-bottom: 20px !important;
  }
  .mb-lg-40 {
    margin-bottom: 40px !important;
  }
  .mb-lg-60 {
    margin-bottom: 60px !important;
  }
  .mr-lg-0 {
    margin-right: 0;
  }
  .mr-lg-auto {
    margin-right: auto;
  }
  .ml-lg-0 {
    margin-left: 0;
  }
  .ml-lg-auto {
    margin-left: auto;
  }
  .pt-lg-0 {
    padding-top: 0px !important;
  }
  .pt-lg-20 {
    padding-top: 20px !important;
  }
  .pt-lg-40 {
    padding-top: 40px !important;
  }
  .pt-lg-60 {
    padding-top: 60px !important;
  }
  .pb-lg-0 {
    padding-bottom: 0px !important;
  }
  .pb-lg-20 {
    padding-bottom: 20px !important;
  }
  .pb-lg-40 {
    padding-bottom: 40px !important;
  }
  .pb-lg-60 {
    padding-bottom: 60px !important;
  }
}

@media all and (max-width: 768px) {
  .mt-md-0 {
    margin-top: 0px !important;
  }
  .mt-md-20 {
    margin-top: 20px !important;
  }
  .mt-md-40 {
    margin-top: 40px !important;
  }
  .mt-md-60 {
    margin-top: 60px !important;
  }
  .mb-md-0 {
    margin-bottom: 0px !important;
  }
  .mb-md-10 {
    margin-bottom: 10px !important;
  }
  .mb-md-20 {
    margin-bottom: 20px !important;
  }
  .mb-md-40 {
    margin-bottom: 40px !important;
  }
  .mb-md-60 {
    margin-bottom: 60px !important;
  }
  .mr-md-0 {
    margin-right: 0;
  }
  .mr-md-auto {
    margin-right: auto;
  }
  .ml-md-0 {
    margin-left: 0;
  }
  .ml-md-auto {
    margin-left: auto;
  }
  .pt-md-0 {
    padding-top: 0px !important;
  }
  .pt-md-20 {
    padding-top: 20px !important;
  }
  .pt-md-40 {
    padding-top: 40px !important;
  }
  .pt-md-60 {
    padding-top: 60px !important;
  }
  .pb-md-0 {
    padding-bottom: 0px !important;
  }
  .pb-md-20 {
    padding-bottom: 20px !important;
  }
  .pb-md-40 {
    padding-bottom: 40px !important;
  }
  .pb-md-60 {
    padding-bottom: 60px !important;
  }
}

@media all and (max-width: 576px) {
  .mt-sm-0 {
    margin-top: 0px !important;
  }
  .mt-sm-20 {
    margin-top: 20px !important;
  }
  .mt-sm-40 {
    margin-top: 40px !important;
  }
  .mt-sm-60 {
    margin-top: 60px !important;
  }
  .mb-sm-0 {
    margin-bottom: 0px !important;
  }
  .mb-sm-10 {
    margin-bottom: 10px !important;
  }
  .mb-sm-20 {
    margin-bottom: 20px !important;
  }
  .mb-sm-40 {
    margin-bottom: 40px !important;
  }
  .mb-sm-60 {
    margin-bottom: 60px !important;
  }
  .mr-sm-0 {
    margin-right: 0;
  }
  .mr-sm-auto {
    margin-right: auto;
  }
  .ml-sm-0 {
    margin-left: 0;
  }
  .ml-sm-auto {
    margin-left: auto;
  }
  .pt-sm-0 {
    padding-top: 0px !important;
  }
  .pt-sm-20 {
    padding-top: 20px !important;
  }
  .pt-sm-40 {
    padding-top: 40px !important;
  }
  .pt-sm-60 {
    padding-top: 60px !important;
  }
  .pb-sm-0 {
    padding-bottom: 0px !important;
  }
  .pb-sm-20 {
    padding-bottom: 20px !important;
  }
  .pb-sm-40 {
    padding-bottom: 40px !important;
  }
  .pb-sm-60 {
    padding-bottom: 60px !important;
  }
}

body {
  max-width: 100%;
}

body a {
  color: #232323;
}

body a:hover {
  color: #dd5287;
}

header *, footer.footer * .navbar-mobile * {
  color: #3d3e40;
}

header *, header *::before, header *::after,
footer.footer *, footer.footer *::before, footer.footer *::after,
.info-block *, .info-block *::before, .info-block *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header, footer {
  font-family: 'Roboto';
  position: initial;
  height: auto;
  background: unset;
  font-size: 14px;
}

header .contacts,
footer .contacts {
  width: unset;
  max-width: 100%;
  float: unset;
  height: unset;
  padding: 10px 0 0;
}

header .contacts_header {
  padding-top: 0;
}

header .contacts .contacts__item {
  line-height: 1.2;
}

.header-top .header {
  z-index: 11;
}

.header-top.main .header:after {
  opacity: 0;
}

.header-btn {
  max-width: 100%;
  display: inline-block;
  line-height: 18px;
}

.header-top.main .header .header__logo {
  background: url("/manager/templates/magenta2019/img/logo_white.svg") no-repeat center/contain !important;
}

.header__logo {
  display: block;
}

.navbar-mobile {
  font-family: 'Roboto';
  color: #3d3e40;
}

section.main {
  margin-top: -56px;
}

section.main, section.main .bg_handler img.bg_sl_mp {
  min-height: 600px;
  height: calc(100vh - 110px);
}

section.main .banner-im {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.footer {
  line-height: 1.5;
}

.footer ul.list {
  padding: 0;
}

.footer ul.list li.list__item {
  list-style: none;
}

.footer p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

.footer .text-small, .footer small, .footer .small, .footer .header-link {
  font-size: 12px;
  line-height: 16px;
}

.footer .mb-0 {
  margin-bottom: 0;
}

.footer .mt-20 {
  margin-top: 20px;
}

body.card section.choice.choice_update,
section.choice.choice_update {
  min-height: unset;
  padding-bottom: 120px;
}

section.courses.blog {
  padding-top: 20px;
}

body.other-page section.reviews,
body.other-page section.teachers,
section.courses.portfolio {
  padding-top: 60px;
}

section.faq {
  padding: 100px 0 40px;
}

body.other-page section.about {
  padding-top: 60px;
}

body.other-page section.about .h1_page {
  height: auto;
}

footer.footer {
  position: unset;
}

.info-block {
  padding: 60px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9eaf1), to(#f0c9d8));
  background: -o-linear-gradient(#f9eaf1, #f0c9d8);
  background: linear-gradient(#f9eaf1, #f0c9d8);
  color: #726d72;
  text-align: center;
}

.info-block .h2, .info-block h2 {
  font-family: 'Noto Serif', serif;
  font-size: 35px;
  color: #000;
}

.info-block p {
  font-family: "Noto Sans";
  line-height: 1.6;
  color: #726d72;
  margin-bottom: 1.25rem;
}

.info-block .btn {
  border: none;
  padding: 18px 40px;
  border-radius: 30px;
  outline: none;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.info-block .btn_action {
  background: #dd5287;
  color: #ffffff;
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
}

@media (max-width: 992px) {
  .header .header__logo {
    background: url("/manager/templates/magenta2019/img/logo.svg") no-repeat center/contain !important;
  }
  section.main {
    margin-top: 0px;
  }
  section.main .banner-im {
    background-position-x: calc(50% + 60px);
  }
}

@media (max-width: 768px) {
  .info-block {
    padding: 40px 0;
  }
  .info-block .h2, .info-block h2 {
    font-size: 26px;
  }
}

@media (max-width: 420px) {
  section.main .banner-im {
    background-position-x: calc(50% + 140px);
  }
}
