.list{
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    &__item{
        max-width: 100%;
        margin-bottom: .5em;
    
        &:last-child{
            margin-bottom: 0;
        }

        &_circle{
            position: relative;
            padding-left: map-get($spacers, 1);

            &:before{
                content:'';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 3px;

                position: absolute;
                left: 0;
                top: 10px;
                
                background: $pink;
            }
        }
        &_disabled{
            opacity: .5;
            color: $grey;
            &:before{
                background: $border-color;
            }
        }
    }
}