.btn_more{
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;

    font-weight: bold;
    text-transform: uppercase;

    &:after{
        content: '+';
        display: inline-block;

        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-left: 10px;

        background-color: $pink;
        color: $white;

        font-size: 18px;
        line-height: 22px;
        transition: .4s;
    }

    &:hover, &:focus{
        color: darken($pink, 15%);
        &:after{
            background-color: darken($color: $pink, $amount: 15);
        }
    }
}