.item-icon{
    position: relative;
    padding-left: map-get($spacers, 4);
    
    &__img{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 36px;
        height: 36px;
    }

    &_information{
        border: 1px solid $border-color;
        border-radius: 24px;
        padding: map-get($spacers, 3);
        padding-left: 110px;

        .item-icon__img{
            left: map-get($spacers, 3);
        }
    }    
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item-icon{
        &_information{
            padding: map-get($spacers, 3);
            padding-left: map-get($spacers, 3);
    
            .item-icon__img{
                display: none;;
            }
        }
    }
}