.item-slide{
    position: relative;

    padding-right: 80px;
    background: $white;
    transition: .4s;
    cursor: pointer;

    // Arrows
    &:after{
        display: block;
        content:'';
        background: url('../img/arrow-down.svg') no-repeat right center / 24px;
        width: 24px;
        height: 24px;

        position: absolute;
        right: 24px;
        top: calc(50% - 12px);
        transition: .4s;
    }
    // Open Item
    &.item-slide--active{
        &:after{
            transform: rotate(-180deg);
        }
    }
    // Component
    .item-slide__title{
        color: $dark-grey;
        transition: .4s;
    }
    .item-slide__content{
        display: none;
        padding-top: 20px;
        .subtitle{
            margin-bottom: 0px;
        }
    }
    // Customize Programm Item
    &_programm{
        background: $white;
        background-position-x: calc(100% - 26px);
        &.item-slide--active{
            border-color: $pink!important;
        }
    }
    // Customize FAQ Item
    &_faq{
        padding-top: map-get($spacers, 2);
        padding-bottom:map-get($spacers, 2);
        
        border-bottom: 1px solid $border-color;

        .item-slide__content{
            color: $grey;
        }
        &.item-slide--active,
        &:hover{
            .item-slide__title{
                color: $pink;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item-slide{
        padding-right: 60px;
        &_faq {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}