.item{
    .item__title{
        font-size: 1.5rem;
    }
    .item__number{
        font-size: 4rem;
        font-family: 'Noto Serif', serif;
        line-height: 1;

        position: relative;
    }
}