.content{
    padding-top: 120px;
    padding-bottom: 120px;

    &__title{
        font-size: 3.75rem;
    }
    &__text-top{
        padding-top: 6px;
    }
    
    // Отступы между смысловыми блоками
    &__row{
        padding-top: map-get($spacers, 5);

        &:first-child,
        &_first{
            padding-top: 0;
        }
    }

    // Преимущества
    &__advantages{
        display: grid;
        grid-gap: $grid-gutter-width/2;
        grid-template-columns: repeat(4, 1fr);

        &-item{
            display: flex;
            align-items: stretch;
        }
        &-title{
            color: $pink;
            margin-bottom: 0;
        }
        &-subtitle{
            // font-weight: $font-weight-bolder;
            color: $pink;
            margin-bottom: $grid-gutter-width/2;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content{
        padding-top: map-get($spacers, 5);
        padding-bottom: map-get($spacers, 5);

        &__title{
            font-size: 3.375rem;
        }
        // Отступы между смысловыми блоками
        &__row{
            padding-top: map-get($spacers, 4);

            &:first-child,
            &_first{
                padding-top: 0;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content{
        padding-top: map-get($spacers, 3);
        padding-bottom: map-get($spacers, 3);

        &__title{
            font-size: 2.5rem;
        }

        &_bg-flowers{padding-bottom: 160px;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        &__title{
            font-size: 1.75rem;
        }
        // Отступы между смысловыми блоками
        &__row{
            padding-top: map-get($spacers, 3);

            &_first{
                padding-top: 0;
            }
        }
    }
}