.timetable-item{
    text-align: center;
    margin-bottom: $spacer;

    &__image{
        position: relative;
        width: 180px;
        height: 120px;
        border-radius: 10px;
        margin: 0 auto $spacer/2;
        background: no-repeat center / cover;
    }
    &__time{
        position: absolute;
        right: -$spacer/4;
        bottom: -$spacer/4;
        background-color: $white;
        border-radius: 6px;
        padding: 10px 15px;
        font-weight: bold;
        filter: drop-shadow(2px 2px 6px #e5e5e5);
    }
    &__content{
        width: 300px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    // Style
    &_icon{
        position: relative;
        background-color: $pink;
        color: $white;
        text-align: center;
        border-radius: 10px;
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 2);

        &__img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 50px;
            height: 50px;
            padding: 8px;
            border-radius: 50%;
            background-color: $white;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .timetable-item{
        // text-align: left;
        &__content{
            width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}