.form{
    margin-bottom: 0;
    
    // One-line
    &__grid{
        display: grid;
        grid-gap: $grid-gutter-width/2;
        grid-template-columns: 1fr 220px;
    }
    // Form Label
    &__label{
        font-size: map-get($map: $font-size, $key: sm);
        color: $grey;
    }
    // Agree
    &__agree{
        font-size: map-get($map: $font-size, $key: sm);
    }

    .form-validation + input{
        margin-top: $spacer/2;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .form{
        &__grid{
            display: grid;
            grid-gap: $grid-gutter-width/2;
            grid-template-columns: 1fr;
        }
    }
}