.footer{
    font-size: 14px;

    padding: map-get($spacers, 4) 0;
    border-top: 1px solid $pink-light;
    overflow: hidden;

    &__logo{
        background: url("../icon/logo.svg") no-repeat left center / contain;
        
        max-width: 100%;
        width: 180px;
        height: 100px;

        display: block;
        margin-bottom: map-get($spacers, 2);
    }
    // Элементы колонок
    &__title{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: $font-weight-bold;
        // color: $grey;
        margin-bottom: map-get($spacers, 1);
    }
    &__link{
        text-decoration: underline;
    }
    &__content{
        color: $grey;
    }

    // Contacts
    &__contacts{
        margin-bottom: map-get($map: $spacers, $key: 2);

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        padding: map-get($spacers, 2) 0;
    }
}