footer.footer
    .container
        .row
            .col-3.col-xl-6.col-sm-12
                .footer__logo
                p.footer__content.text-small.mb-0 Санкт-Петербург, Пр. Юрия Гагарина, 7, пом. 25 ЖК "Космос", справа от центрального входа.
            .col-3.col-xl-6.col-sm-12.mt-sm-2
                p.footer__title Контакты
                .contacts.footer__contacts
                    a.contacts__item.contacts__item_phone(href="tel:88001112233") 8 (812) 317-76-18
                    a.contacts__item.contacts__item_phone(href="tel:88001112233") 8 (921) 938-09-01
                    a.contacts__item.contacts__item_email(href="mailto:88001112233") info@magentaflower.ru
                ul.contacts.contacts_inline
                    a.contacts__item.contacts__item_networks.contacts__item_vk.contacts_inline__item(href="https://vk.com/magentaflower")
                    a.contacts__item.contacts__item_networks.contacts__item_fb.contacts_inline__item(href="https://vk.com/magentaflower")
                    a.contacts__item.contacts__item_networks.contacts__item_inst.contacts_inline__item(href="https://vk.com/magentaflower")
            .col-3.col-xl-6.col-sm-12.mt-xl-2
                p.footer__title Курсы
                ul.list
                    li.list__item.list__item_circle
                        a.footer__link(href="#") Базовый
                    li.list__item.list__item_circle
                        a.footer__link(href="#") Базовый
                    li.list__item.list__item_circle
                        a.footer__link(href="#") Базовый
                    li.list__item.list__item_circle
                        a.footer__link(href="#") Базовый
            .col-3.col-xl-6.col-sm-12.mt-xl-2
                p.footer__title Блог
                a.footer__link(href="#") Хочу быть флористом
                a.footer__link(href="#") Выбираем школу флористики
                a.footer__link(href="#") Мастер-класс по флористике
        .row.mt-1.mt-xl-2
            .col-3.col-sm-12.col-lg-6
                p.footer__content.text-small
                    a.footer__link(href="#") Договор публичной оферты
            .col-3.col-sm-12.col-lg-6
                p.footer__content.text-small
                    a.footer__link(href="#") Политика конфиденциальности
            .col-3.col-sm-12.col-lg-6.col-xl-6.mt-lg-1
                p.footer__content.text-small.mb-0 © 2019. Все права защищены.