.mt{
    &-0{margin-top: 0px!important;}
    &-20{margin-top: 20px!important;}
    &-40{margin-top: 40px!important;}
    &-60{margin-top: 60px!important;}
}
.mb{
    &-0{margin-bottom: 0px!important;}
    &-10{margin-bottom: 10px!important;}
    &-20{margin-bottom: 20px!important;}
    &-40{margin-bottom: 40px!important;}
    &-60{margin-bottom: 60px!important;}
}
.mr{
    &-0{margin-right: 0;}
    &-auto{margin-right: auto;}
}
.ml{
    &-0{margin-left: 0;}
    &-auto{margin-left: auto;}
}

.pt{
    &-0{padding-top: 0px!important;}
    &-20{padding-top: 20px!important;}
    &-40{padding-top: 40px!important;}
    &-60{padding-top: 60px!important;}
}
.pb{
    &-0{padding-bottom: 0px!important;}
    &-20{padding-bottom: 20px!important;}
    &-40{padding-bottom: 40px!important;}
    &-60{padding-bottom: 60px!important;}
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .mt-xl{
        &-0{margin-top: 0px!important;}
        &-20{margin-top: 20px!important;}
        &-40{margin-top: 40px!important;}
        &-60{margin-top: 60px!important;}
    }
    .mb-xl{
        &-0{margin-bottom: 0px!important;}
        &-10{margin-bottom: 10px!important;}
        &-20{margin-bottom: 20px!important;}
        &-40{margin-bottom: 40px!important;}
        &-60{margin-bottom: 60px!important;}
    }
    .mr-xl{
        &-0{margin-right: 0;}
        &-auto{margin-right: auto;}
    }
    .ml-xl{
        &-0{margin-left: 0;}
        &-auto{margin-left: auto;}
    }
    
    .pt-xl{
        &-0{padding-top: 0px!important;}
        &-20{padding-top: 20px!important;}
        &-40{padding-top: 40px!important;}
        &-60{padding-top: 60px!important;}
    }
    .pb-xl{
        &-0{padding-bottom: 0px!important;}
        &-20{padding-bottom: 20px!important;}
        &-40{padding-bottom: 40px!important;}
        &-60{padding-bottom: 60px!important;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .mt-lg{
        &-0{margin-top: 0px!important;}
        &-20{margin-top: 20px!important;}
        &-40{margin-top: 40px!important;}
        &-60{margin-top: 60px!important;}
    }
    .mb-lg{
        &-0{margin-bottom: 0px!important;}
        &-10{margin-bottom: 10px!important;}
        &-20{margin-bottom: 20px!important;}
        &-40{margin-bottom: 40px!important;}
        &-60{margin-bottom: 60px!important;}
    }
    .mr-lg{
        &-0{margin-right: 0;}
        &-auto{margin-right: auto;}
    }
    .ml-lg{
        &-0{margin-left: 0;}
        &-auto{margin-left: auto;}
    }
    
    .pt-lg{
        &-0{padding-top: 0px!important;}
        &-20{padding-top: 20px!important;}
        &-40{padding-top: 40px!important;}
        &-60{padding-top: 60px!important;}
    }
    .pb-lg{
        &-0{padding-bottom: 0px!important;}
        &-20{padding-bottom: 20px!important;}
        &-40{padding-bottom: 40px!important;}
        &-60{padding-bottom: 60px!important;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .mt-md{
        &-0{margin-top: 0px!important;}
        &-10{margin-top: 10px!important;}
        &-20{margin-top: 20px!important;}
        &-40{margin-top: 40px!important;}
        &-60{margin-top: 60px!important;}
    }
    .mb-md{
        &-0{margin-bottom: 0px!important;}
        &-10{margin-bottom: 10px!important;}
        &-20{margin-bottom: 20px!important;}
        &-40{margin-bottom: 40px!important;}
        &-60{margin-bottom: 60px!important;}
    }
    .mr-md{
        &-0{margin-right: 0;}
        &-auto{margin-right: auto;}
    }
    .ml-md{
        &-0{margin-left: 0;}
        &-auto{margin-left: auto;}
    }
    
    .pt-md{
        &-0{padding-top: 0px!important;}
        &-20{padding-top: 20px!important;}
        &-40{padding-top: 40px!important;}
        &-60{padding-top: 60px!important;}
    }
    .pb-md{
        &-0{padding-bottom: 0px!important;}
        &-20{padding-bottom: 20px!important;}
        &-40{padding-bottom: 40px!important;}
        &-60{padding-bottom: 60px!important;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .mt-sm{
        &-0{margin-top: 0px!important;}
        &-10{margin-top: 10px!important;}
        &-20{margin-top: 20px!important;}
        &-40{margin-top: 40px!important;}
        &-60{margin-top: 60px!important;}
    }
    .mb-sm{
        &-0{margin-bottom: 0px!important;}
        &-10{margin-bottom: 10px!important;}
        &-20{margin-bottom: 20px!important;}
        &-40{margin-bottom: 40px!important;}
        &-60{margin-bottom: 60px!important;}
    }
    .mr-sm{
        &-0{margin-right: 0;}
        &-auto{margin-right: auto;}
    }
    .ml-sm{
        &-0{margin-left: 0;}
        &-auto{margin-left: auto;}
    }
    
    .pt-sm{
        &-0{padding-top: 0px!important;}
        &-20{padding-top: 20px!important;}
        &-40{padding-top: 40px!important;}
        &-60{padding-top: 60px!important;}
    }
    .pb-sm{
        &-0{padding-bottom: 0px!important;}
        &-20{padding-bottom: 20px!important;}
        &-40{padding-bottom: 40px!important;}
        &-60{padding-bottom: 60px!important;}
    }
}