.cta-block{
    position: relative;
    padding: 0 0 map-get($spacers, 4);

    background: $light-grey url("../img/bg-demo-contact.jpg") right center / cover;

    // Доп. блоки с информацией
    &__info{
        display: inline-block;
        width: 100%;
        padding: map-get($spacers, 1) map-get($spacers, 2);

        transform: translateY(-30px);

        border: 1px solid $border-color;
        border-radius: 16px;
        background-color: $white;

        .subtitle{
            margin-bottom: .5em;
        }
        .price-old{
            font-family: "Noto Serif";
            text-decoration: line-through;
            & + .price-new{
                margin-left: .75em;
            }
        }

        &.last{
            margin-right: 0px;
        }
    }
    // Заголовки доп. блоков
    &__info-title{
        margin: 0 0 .75em;
    }

    // Основной контент
    &__title{
        font-weight: bold;
        width: 500px;
        max-width: 100%;
        margin: 0 0 2rem;
    }
    &__offer{
        width: 340px;
        max-width: 100%;
        margin: 0 0 $spacer;
    }
    &__form{
        width: 380px;
        max-width: 100%;
        .form__input{
            width: 100%;
        }
    }

    // Модификаторы фонового фото
    &_summer{
        background: $light-grey url("../img/bg-contact-warm.jpg") right center / cover;
    }
    &_winter{
        background: $light-grey url("../img/bg-contact-cold.jpg") right center / cover;
    }
    &_autumn{
        background: $light-grey url("../img/bg-contact-autumn.jpg") right center / cover;
    }
    &_spring{
        background: $light-grey url("../img/bg-contact-spring.jpg") right center / cover;
    }
    // Модификатор отступов
    &_offset-top{
        padding-top: map-get($spacers, 4);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .cta-block{
        &__info{
            &.last{
                height: auto;
            }
        }
        // Модификаторы фонового фото
        &_autumn{
            background-position-x: 60%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .cta-block{
        padding: 0 0 60px;
        background-position-x: left;
        &__info{
            padding: map-get($spacers, 2);
        }        
        // Модификатор отступов
        &_offset-top{
            padding-top: map-get($spacers, 4);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .cta-block{
        padding: 0 0 map-get($spacers, 4);
        &__info{
            height: auto;
            padding: map-get($spacers, 1) map-get($spacers, 2);

            & + .cta-block__title{
                margin-top: -20px;
            }
        }
        &__title{
            margin: 0 0 2rem;
        }
        &__offer{
            width: 100%;
        }
        // Модификатор отступов
        &_offset-top{
            padding-top: map-get($spacers, 4);
        }
    }
}