.info_video{
    padding: $grid-gutter-width;
    background-color: $pink-light;

    iframe{
        // max-height: 100vh;
        border-radius: $border-radius;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .info_video{
        iframe{
            height:360px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .info_video{
        padding: $grid-gutter-width/2;
        iframe{
            height:280px;
        }
    }
}