.info_alert{
    padding: map-get($spacers, 3) map-get($spacers, 4);
    background: #fcf4f8 url("../img/bg-alert.png") no-repeat right center / 60%;

    &__content{
        width: 320px;
        max-width: 100%;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .info_alert{
        padding: map-get($spacers, 3);
        background-position-x: 100%;
        background-size: contain;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .info_alert{
        padding: map-get($spacers, 3) map-get($spacers, 2);
        background: linear-gradient(#f9eaf1, #f0c9d8);
        text-align: center;
        
        &__content{
            margin-left: auto;
            margin-right: auto;
        }
    }
}

//  Full HD
@media (min-width: 1920px){
    .info_alert{
        &__content {
            width: 420px;
        }
    }
}