.info{
    padding: map-get($spacers, 2) map-get($spacers, 3);
    border: 1px solid $border-color;
    border-radius: $border-radius;

    color: $black;
    background-color: $white;
    transition: .3s;

    // Заголовок блока
    &__title{
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;
        margin-bottom: $paragraph-margin-bottom;

        transition: .3s;

        &_small{
            font-size: 1rem;
        }
    }
    
    // Активный элемент
    &--active{
        border-color: $pink;
        // .info__title{
        //     color: $pink;
        // }
    }

    // Отступы
    &_offset-small{
        padding: map-get($spacers, 1) map-get($spacers, 2);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .info{
        &__title{
            font-size: 1.15rem;
            &_small{
                font-size: 1rem;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .info{
        padding: $spacer/2;
    }
}