html,body {
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    width: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6,
.h1-lead,.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1-lead, * + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: 1.5rem;
}
.h1-lead{font-size: 3.5rem;}
.h1,h1{font-size: 3rem;}
.h2,h2{font-size: 2.5rem;}
.h3,h3{font-size: 2rem;}
.h4,h4{font-size: 1.75rem;}
.h5,h5{font-size: 1.5rem;}
.h6,h6{font-size: 1.25rem;}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1.6;
    &.small{
        font-size: .9em;
    }
    &.lead{
        font-size: 1.15em;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
    padding: 0;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;
    &:hover, &:focus{
        outline: none;
    }
    &.link{
        text-decoration: underline;
    }
    &.link-inverse{
        color: $link-hover-color;
        &:hover{
            color: $link-color;
        }
    }
}
.p-relative{position: relative;}
.p-sticky{position: sticky; top: 0; left: 0; z-index: 101; background: $white;}

.d{
    &-flex{display: flex;}
    &-inline-block{display: inline-block;}
    &-none{display: none;}
    &-block{display: block;}
}
.flex-wrap{flex-wrap: wrap;}

.text-white{color: $white;}
.text-black{color: $black;}
.text-grey{color: $grey;}
.text-grey-dark{color: $dark-grey;}
.text-pink{color: $pink;}
.text-pink-secondary{color: $pink-secondary;}
.text-pink-light{color: $pink-light;}

.text-uppercase{text-transform: uppercase;}
.text-italic{font-style: italic;}

.text-bold,strong,b{font-weight: 700;}
.text-small,small,.small{font-size: 12px; line-height: 16px;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}

.img-fluid{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.img-border{
    border: 1px solid $border-color;
}

.blockquote, blockquote{
    padding: 20px;
    background: $light-grey;
    border-left: 4px solid $grey;
}

.border-bottom{
    border-bottom: 1px solid $border-color;
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .d-xl{
        &-flex{display: flex;}
        &-inline-block{display: inline-block;}
        &-none{display: none;}
        &-block{display: block;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .d-lg{
        &-flex{display: flex;}
        &-inline-block{display: inline-block;}
        &-none{display: none;}
        &-block{display: block;}
    }

    .h1-lead{font-size: 3rem;}

    .text-lg-left{text-align: left;}
    .text-lg-center{text-align: center;}
    .text-lg-right{text-align: right;}
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .d-md{
        &-flex{display: flex;}
        &-inline-block{display: inline-block;}
        &-none{display: none;}
        &-block{display: block;}
    }
    
    .h1-lead{font-size: 3rem;}
    .h1,h1{font-size: 2.5rem;}
    .h2,h2{font-size: 2rem;}
    .h3,h3{font-size: 1.75rem;}
    .h4,h4{font-size: 1.5rem;}
    .h5,h5{font-size: 1.25rem;}
    .h6,h6{font-size: 1rem;}

    .breadcrumbs{
        margin-bottom: 0;
    }
    .text-md-left{text-align: left;}
    .text-md-center{text-align: center;}
    .text-md-right{text-align: right;}
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .d-sm{
        &-flex{display: flex;}
        &-inline-block{display: inline-block;}
        &-none{display: none;}
        &-block{display: block;}
    }
    
    .h1-lead{font-size: 2rem;}
    .h1,h1{font-size: 1.75rem;}
    .h2,h2{font-size: 1.75rem;}
    .h3,h3{font-size: 1.5rem;}
    .h4,h4{font-size: 1.5rem;}
    .h5,h5{font-size: 1.25rem;}
    .h6,h6{font-size: 1rem;}

    .text-sm-left{text-align: left;}
    .text-sm-center{text-align: center;}
    .text-sm-right{text-align: right;}

    .text-sm-small{font-size: 12px;}
}