.btn{
    outline: none;
    padding: 18px 40px;
    border-radius: 30px;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
    &_action{
        background: $pink;
        color: $white;
        font-weight: bold;
        &:hover{
            color: $white;
            background: darken($pink, 10%);
        }
    }
}