.header{
    padding: 20px 0;    
    .header__line{
        & + .header__line{
            margin-top: 20px;
        }
    }
    .header__logo{
        background: url("../img/logo.svg") no-repeat center / contain;
        max-width: 100%;
        width: calc(100% - 40px);
        height: 160px;
        margin: 0 auto;
        display: block;
    }
}
.header-fixed{
    .header, .header-mobile-only{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 11;
    }
}
.header-top{
    .header{
        position: relative;
        &:after{
            display: block;
            content: '';
            width: 100%;
            height: 84px;

            position: absolute;
            left: 0;
            bottom: 0;

            background: linear-gradient(#feeef4, #ffd9d2);
            z-index: -1;
        }
    }
}
.header-mobile-only{
    display: none;
    padding: 10px 0;
    .nav-btn{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .header__logo{
        background: url("../img/logo.svg") no-repeat left center / contain;
        width: 100%;
        height: 60px;
    }
}
.header-btn{
    background: $dark-grey;
    color: $white;
    padding: 4px 15px!important;
    font-size: 12px;
    text-transform: uppercase;
    &:hover{
        background: $grey;
        color: $white;
    }
}
.contacts{
    list-style: none;
    margin: 0;
    padding: 10px 0 0;

    .contacts__item{
        font-weight: bold;
        padding-left: 26px;
        &_phone{
            background: url("../img/telephone-pink.svg") no-repeat left center / 16px;
        }
    }

    &_inline{
        display: flex;
        .contacts__item + .contacts__item{
            margin-left: 30px;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        .header__logo{
            width: 100%;
            height: 80px;
        }
    }
    .header-top{
        .header{
            &:after{
                height: 60px;
            }
        }
    }
    .contacts{
        &_inline{
            .contacts__item{
                &_phone{
                    font-size: 12px;
                }
                & + .contacts__item{
                    margin-left: 10px;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        display: none;
    }
    .header-mobile-only{
        display: block;
    }
    .header-top{
        .header-mobile-only{
            background: linear-gradient(#feeef4, #ffd9d2);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){}