.header{
    padding: 20px 0 0;    

    .header__row{
        flex-wrap: nowrap;
    }
    .header__col{
        flex: 0 0 calc( 50% - 115px);
        max-width: calc( 50% - 115px);
    }
    .header__line{
        & + .header__line{
            margin-top: 20px;
        }
    }
    .header__logo{
        background: url("../img/logo.svg") no-repeat center 0px/ contain;
        
        flex: 0 0 230px;
        max-width: 230px;

        height: 140px;
        margin: 0 auto;
        display: block;
    }
}
.header-fixed{
    .header, .header-mobile-only{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 11;
    }
}
.header-top{
    .header{
        position: relative;
        z-index: 1;
        &:after{
            display: block;
            content: '';
            width: 100%;
            height: 52px;

            position: absolute;
            left: 0;
            bottom: -10px;

            background: linear-gradient(#feeef4, #ffd9d2);
            z-index: -1;
        }
    }
}
.header-mobile-only{
    display: none;
    padding: 10px 0;
    .nav-btn{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .header__logo{
        background: url("../img/logo.svg") no-repeat left center / contain;
        width: 100%;
        height: 120px;
    }
}
.header-btn{
    color: $pink;
    background-color: $pink-light;
    padding: 4px 15px!important;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    &:hover{
        color: darken($pink, 10%);
        background: darken($pink-light, 5%);
    }
}
@media all and (max-width: 1200px){
    .header{
        .header__logo{
            flex: 0 0 180px;
            max-width: 180px;
            height: 110px;
        }
        .header__col{
            flex: 0 0 calc( 50% - 90px);
            max-width: calc( 50% - 90px);
            .navbar .navbar__link + .navbar__link {
                margin-left: 14px;
            }
        }
        &-top{
            .header:after{
                height: 12px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        display: none;
    }
    .header-mobile-only{
        display: block;
    }
    .header-top{
        .header-mobile-only{
            background: linear-gradient(#feeef4, #ffd9d2);
        }
    }
}