.navbar{
    display: flex;

    &_right{
        justify-content: flex-end;
    }

    .navbar__link{
        text-transform: uppercase;
        & + .navbar__link{
            margin-left: 40px;
        }
        &:hover{
            text-decoration: none;
        }
    }   
}
.navbar-mobile{
    position: absolute;
    background: #f6e2e7;
    top: 0;
    left: 0;
    z-index: 101;
    max-width: calc(100% - 80px);

    transform: translateX(-100%);

    padding: 40px 30px;
    height: 100%;

    transition: .4s;

    &.navbar-mobile--active{
        transform: translateX(0);
    }
    .navbar{
        flex-direction: column;
        .navbar__item{
            & + .navbar__item{
                margin-top: 20px;
            }
        }
    }
    .contacts{
        margin: 10px 0 20px;
        .contacts__item{
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    
    .header-btn{
        text-align: center;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .navbar{
        .navbar__link{
            text-transform: none;
            & + .navbar__link{
                margin-left: 20px;
            }
        }
    }
}