.navbar{
    display: flex;
    flex-wrap: wrap;

    &_left{
        .navbar__link:not(:last-child){
            margin-right: 2em;
        }
    }
    &_right{
        justify-content: flex-end;
        .navbar__link + .navbar__link{
            margin-left: 2em;
        }
    }

    .navbar__link{
        font-size: 12px;
        white-space: nowrap;
        text-transform: uppercase;

        &:hover{
            text-decoration: none;
        }
    }   
}
.navbar-mobile{
    position: absolute;
    background: linear-gradient(#f9eaf1, #f0c9d8);
    top: 0;
    left: 0;
    z-index: 101;

    max-width: calc(100% - 80px);
    transform: translateX(-100%);

    padding: 40px 30px;
    height: 100%;

    transition: .4s;

    &.navbar-mobile--active{
        transform: translateX(0);
    }

    .navbar{
        flex-direction: column;
        .navbar__item{
            & + .navbar__item{
                margin-top: map-get($spacers, 1);
            }
        }
    }
    .contacts{
        margin: map-get($spacers, 2) 0;
        padding: map-get($spacers, 2) 0;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        .contacts__item{
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    
    .header-btn{
        text-align: center;
        background-color: $white;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .navbar{
        flex-wrap: wrap;
        
        .navbar__link{
            font-size: 16px;
            text-transform: none;
        }
    }
}