.info.info_alert
    p.h4.text-bold.mb-20 Остались вопросы?
    p.lead.info_alert__content.mb-40 Задай их любым удобным способом — 
        span.text-pink.text-bold ответим в течении 5 минут!
    .networks.justify-content-sm-center
        a.networks__item(href="#")
            img.img-fluid(src="../icon/vk.svg")
        a.networks__item(href="#")
            img.img-fluid(src="../icon/whatsapp.svg")
        a.networks__item(href="#")
            img.img-fluid(src="../icon/telegram.svg")
        a.networks__item(href="#")
            img.img-fluid(src="../icon/send.svg")