.footer{
    padding: map-get($spacers, 4) 0;
    background: $pink-light;
    border-top: 1px solid $border-color;
    overflow: hidden;

    &__logo{
        background: url("../img/logo.svg") no-repeat left center / contain;
        
        max-width: 100%;
        width: 180px;
        height: 110px;

        display: block;
        margin-bottom: map-get($spacers, 2);
    }
    // Элементы колонок
    &__link{
        text-decoration: underline;
    }
    &__content{
        color: $grey;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        padding: map-get($spacers, 2) 0;

        .footer__logo{
            margin-left: auto;
            margin-right: auto;
        }
        .footer__content{
            text-align: center;
        }
        .contacts{
            text-align: left;
        }

        // Column content center
        .col-sm-12{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}