// Блоки с иконками на круглом фоне(градиент)
.icon-list{
    position: relative;
    padding-left: map-get($spacers, 6);
    
    &__img{
        position: absolute;
        left: 0;
        top: 0;

        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $pink-light;
        
        //- Модификаторы
        &_default{
            &:before{
                content:'';
                display: block;
                width: 26px;
                height: 26px;
                background: url('../img/icon-circle.svg') no-repeat center / contain;
                position: absolute;
                top: 22px;
                left: 22px;
            }
        }
        &_check{
            &:before{
                content:'';
                display: block;
                width: 100%;
                height: 100%;
                background: url('../img/check.svg') no-repeat center / 16px;

                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &_top{
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    &__title{
        margin-bottom: 10px;
    }
    &__content{
        width: 200px;
        max-width: 100%;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .icon-list{
        padding-left: 50px;
        &__img{
            width: 30px;
            height: 30px;

            //- Модификаторы
            &_default{
                width: 50px;
                height: 50px;
                &:before{
                    top: calc(50% - 9px);
                    left: calc(50% - 9px);
                    width: 18px;
                    height: 18px;
                }
            }
            &_check{
                width: 60px;
                height: 60px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .icon-list{
        padding-left: 80px;
        &__img{
            width: 50px;
            height: 50px;
            
            //- Модификаторы
            &_default{
                &:before{
                    top: 12px;
                    left: 13px;
                    width: 26px;
                    height: 26px;
                }
            }
            &_check{
                width: 40px;
                height: 40px;
                left: 0;
                transform: none;
            }
            &_top{
                left: 0;
                transform: none;
            }
        }
    }
}