.navbar-mobile{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;

    padding: 40px 30px;
    background: $white;
    // width: 260px;
    max-width: calc(100% - 60px);
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    overflow: auto;

    transform: translateX(-100%);
    transition: .4s;

    &__nav{
        flex-direction: column;
    }
    &__contacts{
        margin: map-get($spacers, 2) 0;
        padding: map-get($spacers, 2) 0;
        border-top: 1px solid $pink-light;
        border-bottom: 1px solid $pink-light;
    }
    &__item{
        margin-bottom: map-get($spacers, 1);
        
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__btn{
        padding: 8px 14px;
        font-size: 11px;
    }

    // JS Status
    &--active{
        filter: drop-shadow(2px 0px 8px #919191);
        transform: translateX(0);
    }
}