.navbar-mobile{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 501;

    padding: 40px 30px;
    background: $white;
    
    max-width: calc(100% - 60px);
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    overflow: auto;

    transform: translateX(-100%);
    transition: .4s;

    &__nav{
        flex-direction: column;
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: map-get($spacers, 2) 0!important;
        padding: map-get($spacers, 2) 0!important;

        border-top: 1px solid $pink-light;
        border-bottom: 1px solid $pink-light;

        // .contacts__item{
        //     display: inline-block;
        // }
    }
    
    &__btn{
        padding: 8px 14px;
        font-size: 11px;
    }

    // JS Status
    &--active{
        filter: drop-shadow(2px 0px 8px #919191);
        transform: translateX(0);
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .navbar-mobile{
        &__nav{
            grid-row-gap: 12px;
        }
    }
}