.teacher_inside{
    &__photo{
        flex: 0 0 30%;
        max-width: 30%;
        margin-bottom: 0;
    }
    &__content{
        flex: 0 0 70%;
        max-width: 70%;

        padding-left: $spacer;
    }
    &:hover, &:focus{
        .teacher_inside__photo:before{
            background-color: $pink-light;
        }
    }
}