.navbar-mobile
    nav.navbar.navbar-mobile__nav
        .navbar__item.navbar-mobile__item
            a.navbar__link.navbar__link_online(href="#") Online-курсы
        .navbar__item.navbar-mobile__item
            a.navbar__link(href="#") Очные курсы
        .navbar__item.navbar-mobile__item
            a.navbar__link(href="#") О школе
        .navbar__item.navbar-mobile__item
            a.navbar__link(href="#") Преподаватели
        .navbar__item.navbar-mobile__item
            a.navbar__link(href="#") Портфолио
        .navbar__item.navbar-mobile__item
            a.navbar__link(href="#") Отзывы
        .navbar__item.navbar-mobile__item
            a.navbar__link(href="#") Блог
        .navbar__item.navbar-mobile__item
            a.navbar__link(href="/contact.html") Контакты
    ul.contacts.navbar-mobile__contacts
        li.contacts__item.contacts__item_phone
            a(href="tel:88001112233") 8 800 111-22-33
        li.contacts__item.contacts__item_phone
            a(href="tel:88001112233") 8 800 111-22-33
    a.btn.btn_default(href="#") Актуальное расписание