.pagination{
    display: flex;
    flex-wrap: wrap;
    
    &__item{
        width: 30px;
        height: 30px;
        margin: 4px;

        text-align: center;
        line-height: 28px;
        color: $grey;

        background: $white;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        &:hover, &:focus{
            text-decoration: none;
            border-color: $pink;
        }

        &--active{
            background: $pink-light;
            color: $grey;

            &:hover, &:focus{
                background: $pink-light;
                border-color: $border-color;
                color: $grey;
                cursor: default;
            }
        }
    }
}