extends ../blocks/main.pug

block variables
    - var pageTitle = "2021 Страница ошибки"
    //- - var headerClass = "header_fixed"
    //- - var headerBodyClass = "header-fixed"
block content
    section.content.content_offset-small.text-center
        .container
            h1.page__title Страница не найдена
            p.page__introtext Cоздавайте свои шедевры современной флористики, начиная от круглого букета и завершая асимметричной композицией!
            .btn-group.page__btn-group
                a.btn.btn_default(href="#") Online-курсы
                a.btn.btn_default(href="#") Очные курсы
    aside.mb-4
        .container
            include ../blocks/_networks/networks.pug