extends ../blocks/main.pug

block variables
    - var pageTitle = "2021 Детский МК"
    - var headerClass = "header_fixed"
    - var headerBodyClass = "header-fixed"
block content
    //- Первый экран
    section.courses
        .courses__header
            .container
                .row.align-items-end    
                    .col-6.col-md-12
                        .courses__image-grid._courses__image-grid_single
                            .courses__image-child.courses__image-additional(style="background-image:url('./img/01.png');")
                            .courses__image-child.courses__image-main(style="background-image:url('./img/02.png');")
                    .col-6.col-md-12
                        //- span.label.text-bold ONLINE КУРС
                        h1.courses__title.mt-2.mb-2.mt-sm-1 Детский мастер-класс «Рождественские елочка»
                        p.text-lead Приглашаем вас и ваших детей провести время в творческой атмосфере!
                        .row
                            .col-4.col-xl-6.col-sm-12.mb-3.mb-sm-1
                                .subtitle.text-uppercase ВОЗРАСТ
                                .courses__info-title от 6 до 12 лет
                            .col-4.col-xl-6.col-sm-12.mb-3.mb-sm-1
                                .subtitle.text-uppercase ДЛИТЕЛЬНОСТЬ
                                .courses__info-title 120 минут
                            .col-4.col-xl-6.col-sm-12.mb-3.mb-sm-1
                                .subtitle.text-uppercase СПЕЦ. НАВЫКИ
                                .courses__info-title не требуются
                        a.btn.btn_action(href="#") Забронировать место
    //- About
    section.content
        .container
            //- Навыки после учебы
            p.h1.text-center.text-bold.mb-3 Даже взрослые не останутся равнодушными
            .row.justify-content-center.mb-3
                .col-8.col-md-12.col-lg-10
                    p.text-center Приближаются зимние волшебные праздники. И как приятно украсить свой дом или сделать подарок своими руками. У вас есть уникальная возможность создать самостоятельно креативную и неповторимую рождественскую елочку!
            .row.mt-4.mt-sm-2
                .col-4.col-lg-6.col-md-6.col-sm-12.mb-3
                    .list-icon.list-icon_adv
                        img.list-icon_adv__img(src="../icon/book.svg")
                        .list-icon_adv__content
                            span.d-block.text-bold.text-uppercesa(style="margin-bottom:6px;") БЕЗОПАСНОСТЬ
                            span Используем только безопасные материалы, инструменты и&nbsp;растения
                .col-4.col-lg-6.col-md-6.col-sm-12.mb-3
                    .list-icon.list-icon_adv
                        img.list-icon_adv__img(src="../icon/book.svg")
                        .list-icon_adv__content
                            span.d-block.text-bold.text-uppercesa(style="margin-bottom:6px;") БЕЗОПАСНОСТЬ
                            span Используем только безопасные материалы, инструменты и&nbsp;растения
                .col-4.col-lg-6.col-md-6.col-sm-12.mb-3
                    .list-icon.list-icon_adv
                        img.list-icon_adv__img(src="../icon/book.svg")
                        .list-icon_adv__content
                            span.d-block.text-bold.text-uppercesa(style="margin-bottom:6px;") БЕЗОПАСНОСТЬ
                            span Используем только безопасные материалы, инструменты и&nbsp;растения
            .row.justify-content-center.mt-4.mt-sm-2
                .col-10.col-lg-12.text-center
                    p.h5.text-bold Посмотрите, как проходят наши детские мастер-классы:
                    .info.info_video.mt-3.mb-3
                        <iframe width="100%" height="480" src="https://www.youtube.com/embed/4BzQQwn1WjI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    a.btn.btn_action(href="#") Присоединиться к обучению
    //- Программа & Портфолио
    section.content.bg-light-pink.bg-border
        .container
            //- Расписание
            p.h1.text-center.text-bold Программа мастер-класса
            p.text-center На протяжении всего занятия преподаватель будет помогать каждому ребенку
            .row.mt-4.mb-4.mb-sm-3
                .col-4.col-sm-12.col-lg-6
                    .program-timing
                        .program-timing__image(style="background-image:url('../img/child.png');")
                            span.program-timing__time 12:00 - 12:45
                        p.program-timing__content Знакомство с преподавателем и группой, инструктаж по рабочему месту
                .col-4.col-sm-12.col-lg-6
                    .program-timing
                        .program-timing__image(style="background-image:url('../img/child.png');")
                            span.program-timing__time 12:00 - 12:45
                        p.program-timing__content Знакомство с преподавателем и группой, инструктаж по рабочему месту
                .col-4.col-sm-12.col-lg-6
                    .program-timing
                        .program-timing__image(style="background-image:url('../img/child.png');")
                            span.program-timing__time 12:00 - 12:45
                        p.program-timing__content Знакомство с преподавателем и группой, инструктаж по рабочему месту
                .col-4.col-sm-12.col-lg-6
                    .program-timing
                        .program-timing__image(style="background-image:url('../img/child.png');")
                            span.program-timing__time 12:00 - 12:45
                        p.program-timing__content Знакомство с преподавателем и группой, инструктаж по рабочему месту
                .col-4.col-sm-12.col-lg-6
                    .program-timing
                        .program-timing__image(style="background-image:url('../img/child.png');")
                            span.program-timing__time 12:00 - 12:45
                        p.program-timing__content Знакомство с преподавателем и группой, инструктаж по рабочему месту
                .col-4.col-sm-12.col-lg-6
                    .program-timing.program-timing_icon
                        img.program-timing_icon__img(src="../icon/crown.svg")
                        p.program-timing_icon__content Каждый маленький флорист заберет с&nbsp;собой 
                            | работу сделанную своими руками и&nbsp;море ярких и&nbsp;положительных эмоций 
                            | от&nbsp;занятия творчеством.
            //- Фото
            p.h4.text-center.text-bold.mb-3 Фотографии с мастер-класса
            .row.no-gutters.portfolio.mb-3
                .col-3.col-sm-6.col-md-4
                    .portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                .col-3.col-sm-6.col-md-4
                    .portfolio__item(data-fancybox="gallery" href="/img/02.png")
                        img.img-fluid(src="/img/02.png")
                .col-3.col-sm-6.col-md-4
                    .portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                .col-3.col-sm-6.col-md-4
                    .portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                .col-3.col-sm-6.col-md-4
                    .portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                .col-3.col-sm-6.col-md-4
                    .portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                .col-3.col-sm-6.col-md-4
                    .portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                .col-3.col-sm-6.col-md-4
                    .portfolio__item
                        img.img-fluid(src="/img/02.png")
    //- Что входит & Преподаватель
    section.content.content_offset-small
        .container
            .row.justify-content-between.justify-content-lg-center.align-items-center
                .col-6.col-lg-12.mb-3
                    .info.info_child
                        p.info__title.info_child__title Что входит в стоимость мастер&#8209;класса?
                        ul.list.list_advantage.list_advantage--full
                            li.list_advantage__item
                                span.info_child__subtitle Материалы
                                span.d-block Расходные материалы включены
                            li.list_advantage__item
                                span.info_child__subtitle Материалы
                                span.d-block Расходные материалы включены
                            li.list_advantage__item
                                span.info_child__subtitle Материалы
                                span.d-block Расходные материалы включены
                        p.info_child__footer Сопровождающие взрослые бесплатно
                .col-6.col-md-12.mb-3
                    .info
                        .row.align-items-center.justify-content-between
                            .col-7.col-sm-12.col-md-12.col-lg-6.col-xl-7
                                p.subtitle.mb-1 Ведущая мастер-класса
                                p.h4.text-bold Елена Дмитриева
                                p.text-grey.text-lead Мастер-флорист. Большой опыт работы в сфере детского досуга
                            .col-4.col-sm-12.col-md-9.col-lg-6.col-xl-5
                                img.img-fluid(src="../img/Elena.jpg")
    //- Форма
    section.cta-block
        .container
            .cta-block__row
                .cta-block__info
                    .cta-block__info-label 
                        a.label(href="javascript;" data-fancybox="group" data-src="group") Следующая группа
                    p.subtitle.mb-0 Ближайшая группа
                    p.cta-block__info-title с 15 июля по 19 июля
                    p.text-small.text-grey Следующая группа стартует 20 января
                        a.cta-block__info-link(href="#") + подробное расписание
                .cta-block__info
                    p.subtitle.mb-0 Цена со скидкой
                    p.cta-block__info-title
                        span.cta-block__info-price.cta-block__info-price_old 19 000 р.
                        span.cta-block__info-price.cta-block__info-price_new 15 800 р.
                    p.text-small.text-grey не обязательно вносить сумму за весь уч.год, мы предоставляем рассрочку 23500 руб./мес.
                .cta-block__info
                    p.subtitle.mb-0 ВРЕМЯ ЗАНЯТИЙ
                    p.cta-block__info-title 5-6 раз в месяц / в будни с 10 до 17
                    p.text-small.text-grey расписание будет известно на весь уч. год и вы сможете планировать всё заранее.
            .cta-block__form
                p.h1.cta-block__title Оставьте заявку на&nbsp;обучение
                p.cta-block__offer Запишитесь на курс online и&nbsp;
                    span.text-bold.text-pink получите скидку 15%!
                .row
                    .col-5.col-lg-7.col-md-10.col-sm-12
                        form.form.form_column(action="")
                            input.form_column__input.input.input_name(placeholder="Ваше имя")
                            input.form_column__input.input.input_phone(placeholder="Телефон")
                            .form_column__group
                                .btn-group
                                    button.btn.btn_action(type="submit") Оплатить курс
                                    button.btn.btn_secondary(type="submit") Записаться
                            .checkbox.checkbox_agree
                                input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                label.checkbox__label(for="agree") согласен с 
                                    a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
    //- Отзывы
    section.content.content_offset-small
        .container
            .slider.slider_reviews
                .slider_reviews__slide
                    .info.review.review_child.text-center
                        .review__img.review__img_video.review_child__img
                            img.img-fluid(src="../img/test-05.jpg")
                        p.text-bold.text-pink 1 Ирина Толстова
                        p.review__intro Iure reprehenderit, qui blanditiis praesentium voluptatum deleniti atque corrupti. Eum fugiat, quo voluptas sit amet. Doloremque laudantium, totam rem aperiam
                .slider_reviews__slide
                    .info.review.review_child.text-center
                        .review__img.review_child__img
                            img.img-fluid(src="../img/test-05.jpg")
                        p.text-bold.text-pink 2 Ирина Толстова
                        p.review__intro Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
                .slider_reviews__slide
                    .info.review.review_child.text-center
                        .review__img.review__img_video.review_child__img
                            img.img-fluid(src="../img/test-05.jpg")
                        p.text-bold.text-pink 3 Ирина Толстова
                        p.review__intro Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
                .slider_reviews__slide
                    .info.review.review_child.text-center
                        .review__img.review_child__img
                            img.img-fluid(src="../img/test-05.jpg")
                        p.text-bold.text-pink Ирина Толстова
                        p.review__intro Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
                .slider_reviews__slide
                    .info.review.review_child.text-center
                        .review__img.review_child__img
                            img.img-fluid(src="../img/test-05.jpg")
                        p.text-bold.text-pink Ирина Толстова
                        p.review__intro Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
    //- FAQ
    section.mb-4
        .container
            p.h2.text-bold.mb-3.mb-sm-1 Популярные вопросы
            .toggle.toggle_faq.mb-1
                .toggle__title.text-bold Какие инструменты нужны для занятий?
                .toggle__content
                    p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
            .toggle.toggle_faq.mb-1
                .toggle__title.text-bold Какие инструменты нужны для занятий?
                .toggle__content
                    p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
            .toggle.toggle_faq
                .toggle__title.text-bold Какие инструменты нужны для занятий?
                .toggle__content
                    p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
            p.mb-0.mt-3
                a.link-inverse.text-uppercase.text-bold(href="#") + Все вопросы
    aside.mb-4
        .container
            include ../blocks/_networks/networks.pug
