extends ../blocks/main.pug

block variables
    - var pageTitle = "2021 Сертификаты"
    - var headerClass = "header_fixed"
block content
    //- Основной контент страницы
    section.page
        //- Первый экран 
        .page__header-block(style="background-image: url('../img/bg-default.jpg');")
            .container
                .label.text-bold.page__subtitle Идеальное решение
                h1.page__title Подарочные сертификаты
                p.page__introtext.mb-3.mb-sm-1 Для творческих личностей, людей желающих попробовать 
                    | новое, тем, кто составляет букеты для себя и работающим флористам, для повышения уровня.
                a.btn.btn_action.scroll(href="#test") Подобрать сертификат
        //- Слайдер с контентом
        .page__slider-container
            .slider.page__slider
                .page__slider-col
                    .info.info_offset-small
                        p.info__title.info__title_small Профессионалы высокого уровня
                        p.text-small.text-grey Преподают Елена Дмитриева и Татьяна Воронина: члены Национальной 
                            | Гильдии Флористов, флористы с 15-тилетним стажем, судьи проф. конкурсов по системе 
                            | сертификации FLORINT
                .page__slider-col
                    .info.info_offset-small
                        p.info__title.info__title_small Раскрывают творческий потенциал
                        p.text-small.text-grey Преподаватели имеют 10-летний опыт обучения, проверенные временем уникальные методики. Вы сможете создать шедевры и воссоздавать понравившиеся букеты/композиции.
                .page__slider-col
                    .info.info_offset-small
                        p.info__title.info__title_small Обучают европейским тенденциям
                        p.text-small.text-grey Преподаватели участвуют в международных выставках в Европе, отслеживая модные тенденции. А школа приглашает звезд мировой флористики для проведения мастер-классов.
                .page__slider-col
                    .info.info_offset-small
                        p.info__title.info__title_small Используют свежие цветы и зелень
                        p.text-small.text-grey Считаем, что научиться составлять букеты и композиции можно только с использованием свежесрезанных цветов и зелени.
                .page__slider-col
                    .info.info_offset-small
                        p.info__title.info__title_small Помогают открыть свой бизнес
                        p.text-small.text-grey Помогаем нашим выпускникам успешно открыть свой цветочный бизнес как в Санкт-Петербурге, так и в других городах России.
        .container.pb-4
            //- Денежный сертификат
            .info.bg-wave.mb-3
                .row.align-items-center
                    .col-5.col-xl-5.col-lg-12
                        p.info__title Денежный сертификат
                        p.text-grey.mb-0 Укажите любую сумму и подарите возможность выбрать курс, мастер-класс 
                            | или индивидуальный урок самостоятельно.
                    .col-7.col-xl-7.col-lg-12.mt-lg-1
                        .form.mb-0
                            .form__grid
                                input.input.input--full#getSertificateValue(type="number" placeholder="Укажите сумму")
                                a.btn.btn_action.btn--full#getMoneySertificate(href="#") Сделать заказ
            //- Подбор сертификата
            .row.align-items-center.align-items-xl-start.flex-md-column-reverse
                .col-5.col-xl-4.col-lg-5.col-md-12.mt-sm-1.mt-md-3
                    img.img-fluid.img-radius(src="../img/sertificate-mockup.jpg")
                .col-7.col-xl-8.col-lg-7.col-md-12.col-lg-7.mt-sm-1#test
                    p.h2.text-bold Нужен идеальный <br/>подарок?
                    p Индивидуальный подбор сертификата. Пройдите наш опрос и мы 
                        | поможем выбрать подоходящий курс или мастер-класс.
                    .sertificate.sertificate_poll.mt-3
                        .sertificate__fill
                            .sertificate__fill-active(style="width: 25%;")
                        .sertificate__step.sertificate__step--active(data-width="25%" data-count="question-1")
                            .sertificate__title Шаг 1: заголовок
                            .row.mt-1.mb-1.sertificate__row
                                .col-6.col-lg-12.mb-1   
                                    .sertificate__item.sertificate__item_image.sertificate__item--active(data-action="question-2")
                                        .sertificate__item-image(style="background-image: url('../img/pic-4.png');")
                                        .sertificate__item-title Вариант 1
                                .col-6.col-lg-12.mb-1
                                    .sertificate__item.sertificate__item_image(data-action="question-3")
                                        .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
                                        .sertificate__item-title Вариант 2
                                .col-6.col-lg-12
                                    .sertificate__item.sertificate__item_image(data-action="result-1")
                                        .sertificate__item-image(style="background-image: url('../img/pic-6.png');")
                                        .sertificate__item-title Вариант 3
                            .btn-group
                                a.btn.btn_default.btn--disable(data-href="prev" href="#") Назад
                                a.btn.btn_default(data-href="next" href="#") Вперед
                        .sertificate__step(data-count="question-2" data-width="50%")
                            .sertificate__title Шаг 2: вариант 1
                            .row.mt-1.mb-1.sertificate__row
                                .col-6.col-lg-12.mb-lg-1   
                                    .sertificate__item.sertificate__item_icon(data-action="question-3")
                                        .sertificate__item-icon(style="background-image: url('../icon/star1.svg');")
                                        .sertificate__item-title Вариант 1
                                .col-6.col-lg-12
                                    .sertificate__item.sertificate__item_icon(data-action="result-1")
                                        .sertificate__item-icon(style="background-image: url('../icon/star2.svg');")
                                        .sertificate__item-title Вариант 2
                            .btn-group
                                a.btn.btn_default(data-href="prev" data-action="question-1" href="#") Назад
                                a.btn.btn_default(data-href="next" href="#") Вперед
                        .sertificate__step(data-count="question-3" data-width="75%")
                            .sertificate__title Шаг 2: вариант 2
                            .row.mt-1.mb-1.sertificate__row
                                .col-6.col-lg-12.mb-lg-1   
                                    .sertificate__item.sertificate__item_image(data-action="question-2")
                                        .sertificate__item-image(style="background-image: url('../img/pic-4.png');")
                                        .sertificate__item-title Вариант 1
                                .col-6.col-lg-12
                                    .sertificate__item.sertificate__item_image(data-action="result-1")
                                        .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
                                        .sertificate__item-title Вариант 2
                            .btn-group
                                a.btn.btn_default(data-href="prev" data-action="question-1" href="#") Назад
                                a.btn.btn_default(data-href="next" href="#") Вперед
                        .sertificate__step(data-count="result-1" data-width="100%")
                            .sertificate__title Результат 1
                            .sertificate__result.mt-1.mb-1
                                .sertificate__item.sertificate__item_result.mb-1
                                    .sertificate__item-image.sertificate__item-image_result(style="background-image: url('../img/pic-5.png');")
                                    .sertificate__item-content
                                        a.sertificate__item-link(href="courses.html") Базовый курс флористики
                                        p.text-small.mb-0 количество часов: 70
                                        p.text-small.mb-0 график: с 12 по 23 октября
                                        p.text-small стоимость: 30 000
                                    a.sertificate__item-buy(href="#" title="Купить сертификат")
                                .sertificate__item.sertificate__item_result
                                    .sertificate__item-image.sertificate__item-image_result(style="background-image: url('../img/pic-4.png');")
                                    .sertificate__item-content
                                        a.sertificate__item-link(href="courses.html") Рождественские композиции со свечами в школе флористики
                                        p.text-small.mb-0 количество часов: 70
                                        p.text-small.mb-0 график: с 12 по 23 октября
                                        p.text-small стоимость: 30 000
                                    a.sertificate__item-buy(href="#" title="Купить сертификат")
                            .btn-group
                                a.btn.btn_default(data-href="prev" data-action="question-1" href="#") Вернуться в начало
    //- CTA блок с формой
    section.mb-4.cta-block#getSertificate
        .container.p-relative
            .cta-block__form
                p.h1.cta-block__title Знаете какой нужен сертификат?
                p.cta-block__offer Оставьте номер телефона и менеждер поможет завершить оформление заказа
                .row
                    .col-5.col-lg-7.col-md-10.col-sm-12
                        form.form.form_column(action="")
                            input.input.input--full.sertificate-action-input(placeholder="Выбрать сертификат" value="")
                            input.input.input--full.phone(placeholder="Телефон")
                            .form_column__group
                                .btn-group
                                    button.btn.btn_action(type="submit") Заказать
                                    button.btn.btn_secondary(type="submit") Оплатить
                            .checkbox.checkbox_agree
                                input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                label.checkbox__label(for="agree") согласен с 
                                    a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
    //- Модальные окна
    .modal.sertificate.sertificate_modal#sertificateModal
        .sertificate__item.sertificate__item_modal.mb-1
            .sertificate__item-image(style="background-image: url('../img/pic-3.png');")
            .sertificate__item-content.sertificate__item-content_modal
                p.sertificate_modal__title(data-link="1111") Мастер-класс «Рождественские композиции со свечами»
                p.text-small.mb-0 количество часов: 5
                p.text-small.mb-0 график: с 12 по 12 октября
                p.text-small стоимость: 2500
        .sertificate__item.sertificate__item_modal.mb-1
            .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
            .sertificate__item-content.sertificate__item-content_modal
                p.sertificate_modal__title(data-link="1111") Базовый курс флористики
                p.text-small.mb-0 количество часов: 70
                p.text-small.mb-0 график: с 12 по 23 октября
                p.text-small стоимость: 30 000
        .sertificate__item.sertificate__item_modal.mb-1
            .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
            .sertificate__item-content.sertificate__item-content_modal
                p.sertificate_modal__title(data-link="1111") Полный курс флористики
                p.text-small.mb-0 количество часов: 70
                p.text-small.mb-0 график: с 12 по 23 октября
                p.text-small стоимость: 30 000
        .sertificate__item.sertificate__item_modal
            .sertificate__item-image(style="background-image: url('../img/pic-4.png');")
            .sertificate__item-content.sertificate__item-content_modal
                p.sertificate_modal__title(data-link="1111") Рождественские композиции со свечами в школе флористики
                p.text-small.mb-0 количество часов: 70
                p.text-small.mb-0 график: с 12 по 23 октября
                p.text-small стоимость: 30 000
    //- Заказ денежного сертификата
    .modal.modal_form#sertificateMoney
        form.form(action="")
            label.text-bold.text-small Куда перезвонить:
            input.input.input--full.mb-1.phone(placeholder="Телефон")
            label.text-bold.text-small Сумма сертификата:
            input.input.input--full.mb-1#sertificateValue(placeholder="Укажите сумму" value="")
            button.btn.btn_action(type="submit") Заказать сертификат
            .form__agree.checkbox
                input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                label.checkbox__label(for="agree") согласен с 
                    a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных