//- html(lang="ru")
//-     include ../blocks/head.pug
//-     body.header-top
//-         script(src="/js/jquery.min.js")
//-         include ../blocks/header/header.pug
//-         include ../blocks/navbar/navbar.pug
//-         header.content.content_title
//-             .container
//-                 h1.text-bold.mb-0 Информация об оплате и доставке
//-         section.content.content_offset-small
//-             .container
//-                 .row
//-                     .col-6.col-lg-12
//-                         .row
//-                             .col-12.col-lg-6.col-md-12
//-                                 p.h5.text-bold Оплата курсов флористики
//-                                 p Мы учли самые популярные варианты оплаты курсов 
//-                                     <br/> и&nbsp;теперь они&nbsp;доступны у&nbsp;нас:
//-                                 .info.info_small.mb-20.d-inline-block
//-                                     p.text-pink.text-uppercase.text-bold.mb-0 30% предоплата
//-                                     p.text-grey 30% — в день записи, 70% — в день начала занятий
//-                                 .info.info_small.mb-40.d-inline-block
//-                                     p.text-pink.text-uppercase.text-bold.mb-0 100% оплата
//-                                     p.text-grey удобным для вас способом в день записи на курсы
//-                             .col-12.col-lg-6.col-md-12
//-                                 p.h5.text-bold Оплата сертификатов
//-                                 p Оплата сертификата на&nbsp;определенный курс или&nbsp;определенную сумму 
//-                                     b осуществляется на&nbsp;100% основе. 
//-                                     | После чего вам на&nbsp;почту сразу приходит электронный вариант сертификата. 
//-                     .col-6.col-lg-12.mt-lg-40
//-                         p.h5.text-bold Способы оплаты
//-                         p Вы можете оплатить курсы любым удобны для вас способом.
//-                         .item-slide.item-slide_faq
//-                             .item-slide__title Физическим лицам
//-                             .item-slide__content
//-                                 ul.list.list_circle.mb-20
//-                                     li.list__item 
//-                                         .text-bold.text-black Оплата в офисе.
//-                                         .text-grey по адресу пр. Юрия Гагарина, д. 7 можно наличными и пластиковой картой любого банка. 
//-                                     li.list__item
//-                                         .text-bold.text-black Оплата онлайн. 
//-                                         .text-grey очные и онлайн курсы можно оплатить на сайте. Можно оплатить всю стоимость или внести предоплату в 30%. 
//-                                 .info.info_small.d-inline-block
//-                                     p.mb-10 Оплата проходит в соответствии со всеми стандартнами безопасности и с помощью основных самых популярных технологий Сбербанка и Яндекс.
//-                                     p.text-small.text-grey Коммисия за онлайн оплату не взымается
//-                         .item-slide.item-slide_faq
//-                             .item-slide__title Юридическим лицам
//-                             .item-slide__content
//-                                 p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
//-                         p.h5.text-bold.mt-40 Доставка сертификатов
//-                         p Доставка по&nbsp;Санкт-Петербургу в&nbsp;пределах&nbsp;КАД — 500&nbsp;руб. Стоимость доставки по&nbsp;Лен.&nbsp;области и&nbsp;в&nbsp;другие города рассчитывается индивидуально.
//-         aside.mb-60.container
//-             include ../blocks/networks/networks.pug
//-         include ../blocks/footer/footer.pug
//-         script(src="./js/jquery.fancybox.min.js")
//-         script(src="./js/jquery.inputmask.js")
//-         script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=79c72616-7091-4150-914c-4d2e2a2ad526" type="text/javascript")
//-         script(src="./js/app.min.js")