//- html(lang="ru")
//-     include ../blocks/head.pug
//-     body.header-fixed
//-         script(src="/js/jquery.min.js")
//-         include ../blocks/header/header.pug
//-         include ../blocks/navbar/navbar.pug
//-         //- Основной контент страницы
//-         section.page
//-             //- Первый экран 
//-             .page__header-block(style="background-image: url('../img/bg-default.jpg');")
//-                 .container
//-                     .page__subtitle онлайн мастер-класс
//-                     .mt-40.mt-sm-20
//-                         a.btn.btn_video(href="javascript;" data-fancybox ) Тизер
//-                     h1.page__title Вариации букетов и&nbsp;упаковки ко&nbsp;дню Св.&nbsp;Валентина и&nbsp;8&nbsp;марта
//-                     p с Чемпионкой России Анастасией Шехериной
//-                     .page__info.mt-40.mb-40
//-                         .page__info-col
//-                             .subtitle Сроки
//-                             .page__info-title 27 ак. часов
//-                         .page__info-col
//-                             .subtitle Уровень
//-                             .page__info-title базовые знания
//-                         .page__info-col
//-                             .subtitle Стоимость
//-                             .page__info-title
//-                                 span.page__info-old-price 12 700
//-                                 | 10 000 р.
//-                     a.btn.btn_action.scroll(href="#buy") Забронировать место
//-         section.content
//-             .container
//-                 //- Общая информация
//-                 .row.justify-content-center
//-                     .col-7.col-xl-9.col-md-10.col-sm-12
//-                         p.text-center Уникальный мастер-класс с победителем Чемпионата России по профессиональной 
//-                             | флористике. В программе креативные букеты к 14 февраля и коммерческие к 8 марта, 
//-                             | различные способы упаковки одного цветка и моно-букетов, композиций и горшечных растений.
//-                 .info.mt-60.mt-md-40
//-                     h4.text-bold.mb-0.text-center Чему вы научитесь на мастер-классе?
//-                     .list.list_numeric.row.mt-20.mt-sm-0
//-                         .list_numeric__item.col-4.col-xl-5.col-lg-6.col-sm-12.mt-20 Опыт закупки и правильного хранения цветов 
//-                             span.list_numeric__number 1
//-                         .list_numeric__item.col-4.col-xl-5.col-lg-6.col-sm-12.mt-20 Поддержку и комментарии от&nbsp;известных преподавателей  
//-                             span.list_numeric__number 2
//-                         .list_numeric__item.col-4.col-xl-5.col-lg-6.col-sm-12.mt-20 Собственное портфолио 
//-                             span.list_numeric__number 3
//-                         .list_numeric__item.col-4.col-xl-5.col-lg-6.col-sm-12.mt-20 Навыки создания букетов в&nbsp;профессиональной технике 
//-                             span.list_numeric__number 4
//-                         .list_numeric__item.col-4.col-xl-5.col-lg-6.col-sm-12.mt-20 Сертификат школы, который ценится в&nbsp;Европе и&nbsp;РФ  
//-                             span.list_numeric__number 5
//-                         .list_numeric__item.col-4.col-xl-5.col-lg-6.col-sm-12.mt-20 Бесплатный вебинар с чемпионом Европы по флористике 
//-                             span.list_numeric__number 6
//-                 //- Кому подходит
//-                 h2.text-center.text-sm-left.text-bold.mt-60.mt-md-40 Кому подходит мастер-класс?
//-                 .row.justify-content-center.mt-40.mt-sm-20
//-                     .col-4.col-sm-12.mb-20
//-                         .icon-list.icon-list_top.text-center
//-                             .icon-list__img.icon-list__img_default.icon-list__img_top
//-                             p.icon-list__title.text-bold Начинающим флористам
//-                             p.icon-list_top__content Поздравьте сотрудников с помощью выездного творческого мастер-класса или проведите его прямо в офисе.
//-                     .col-4.col-sm-12.mb-20
//-                         .icon-list.icon-list_top.text-center
//-                             .icon-list__img.icon-list__img_default.icon-list__img_top
//-                             p.icon-list__title.text-bold Флористам с опытом
//-                             p.icon-list_top__content Поздравьте сотрудников с помощью выездного творческого мастер-класса или проведите его прямо в офисе.
//-                     .col-4.col-sm-12
//-                         .icon-list.icon-list_top.text-center
//-                             .icon-list__img.icon-list__img_default.icon-list__img_top
//-                             p.icon-list__title.text-bold Владельцам бизнеса
//-                             p.icon-list_top__content Поздравьте сотрудников с помощью выездного творческого мастер-класса или проведите его прямо в офисе.
//-         //- CTA
//-         .content.content_offset-small.cta
//-             .container
//-                 .row.justify-content-center.text-center
//-                     .col-8.col-md-12
//-                         p.h3.text-bold Узнайте, как&nbsp;создаётся коммерческий букет и&nbsp;о&nbsp;видах его&nbsp;упаковки.
//-                         p.mb-40 с Чемпионкой России Анастасией Шехериной
//-                         a.btn.btn_action.scroll(href="#buy") Купить мастер-класс
//-         section.content.content_offset-small
//-             .container
//-                 //- Преподаватель
//-                 .row.align-items-center.mb-60.mb-md-40
//-                     .col-4.col-lg-5.col-sm-9.mb-sm-20
//-                         img.img-fluid(src="../img/Elena-Dmitrieva.png")
//-                     .col-6.col-lg-7.col-sm-12
//-                         p.mb-10.subtitle Ведущая мастер-класса
//-                         p.mt-0.h5.text-bold Елена Дмитриева
//-                         p Хранительница стиля и традиций Lacy Bird, Оксана уже 8-й год подряд посвящает себя флористическому искусству. Любовь к творчеству, умение просто объяснять сложные вещи и неуемный оптимизм сделали Оксану прекрасным педагогом, к которому стремятся попасть и начинающие, и опытные флористы.
//-                         p Впитывает новые тенденции и перерабатывает их в своей особой манере, что позволяет Оксане изобретать уникальные методики, которыми она щедро делится с учениками LBA. В совершенстве владея техникой, считает интуицию важной составляющей работы флориста.
//-                         p Природа, трепетное отношение ко всему живому – вот что вдохновляет Оксану на создание коллекций авторских букетов и композиций, за которыми охотится вся Москва
//-                 //- Программа мастер-класса
//-                 h4.text-bold.text-center.mb-40 Программа мастер-класса
//-                 .page-programm__item.page-programm__item_slide.item-slide.item-slide_programm
//-                     .row.align-items-center
//-                         p.page-programm__title.col-7.col-sm-12.col-md-6 «Инструменты и материалы»
//-                         p.page-programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
//-                     .page-programm__content.item-slide__content
//-                         .row
//-                             .col-8.col-sm-12
//-                                 p.subtitle.mb-0 Теория
//-                                 p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
//-                                 p.subtitle.mb-0 Практика
//-                                 p.mb-0 спиральная техника
//-                             .col-4.col-sm-12.mt-sm-40
//-                                 img.img-fluid.ml-auto.mr-0.mr-sm-auto(src="../img/01.png")
//-                 .page-programm__item.page-programm__item_slide.item-slide.item-slide_programm.mt-20
//-                     .row.align-items-center
//-                         p.page-programm__title.col-7.col-sm-12.col-md-6 «Свежесрезанные цветы»
//-                         p.page-programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
//-                     .page-programm__content.item-slide__content
//-                         p.subtitle.mb-0 Теория
//-                         p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
//-                         p.subtitle.mb-0 Практика
//-                         p.mb-0 спиральная техника
//-                 .page-programm__item.page-programm__item_slide.item-slide.item-slide_programm.mt-20
//-                     .row.align-items-center
//-                         p.page-programm__title.col-7.col-sm-12.col-md-6 «Цвет и настроение»
//-                         p.page-programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
//-                     .page-programm__content.item-slide__content
//-                         p.subtitle.mb-0 Теория
//-                         p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
//-                         p.subtitle.mb-0 Практика
//-                         p.mb-0 спиральная техника
                
//-         //- Networks
//-         aside.mb-60.container
//-             //- Сторонняя форма
//-             .info.mb-40
//-                 p Форма с GetCourses
//-             .info.info_alert
//-                 p.h4.text-bold.mb-20 Хочешь сэкономить?
//-                 p.info_alert__content Предлагаем комплект мастер-классов 
//-                     span.text-pink.text-bold со&nbsp;скидкой&nbsp;30%
//-                 a.btn.btn_action(href="MK-complect.html") Узнать подробности
//-         include ../blocks/footer/footer.pug
        
//-         script(src="./js/jquery.fancybox.min.js")

//-         script(src="./js/jquery.inputmask.js")

//-         link(href='./css/slick.css', rel='stylesheet')
//-         link(href='./css/slick-theme.css', rel='stylesheet')
//-         script(src="./js/slick.min.js")

//-         script(src="./js/app.min.js") 