//- html(lang="ru")
//-     include ../blocks/head.pug
//-     body.header-top
//-         script(src="/js/jquery.min.js")
//-         include ../blocks/header/header.pug
//-         include ../blocks/navbar/navbar.pug

//-         section.content.content_offset-small
//-             .container
//-                 .teacher.teacher_inside
//-                     .teacher__photo.teacher_inside__photo
//-                     .teacher__content.teacher_inside__content
//-                         h1.text-bold.h3 Елена Дмитриева
//-                         p О себе Анастасия говорит: «Я флорист от макушки и до самых пяток». В 2001 году она пришла во флористику и сразу же поняла, что это ее жизнь и призвание. Профессиональное образование Анастасия получила в г. Таллин, Эстония, в Krista Perli's Studio of Floral Design. Постоянно повышает квалификацию на мастер-классах ведущих международных флористов, таких как Грегор Лерш, Питер Хесс, Фридхельм Раффел. В 2017 году получила звание чемпионки России по профессиональной флористике. 
//-                         p Анастасия имеет опыт работы в крупных салонах, на масштабных оформлениях различных мероприятий, и, кажется, нет такой задачи, с которой она не могла бы справиться. Мы горды тем, что Анастасия работает в нашей школе и делится со студентами тонкостями профессии.
//-                 //- Gallery
//-                 h2.h5.text-bold.mt-60.mb-40 Портфолио работ преподавателя
//-                 .row.no-gutters.portfolio.mb-40
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item(data-fancybox="gallery" href="/img/01.png")
//-                             img.img-fluid(src="/img/01.png")
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item(data-fancybox="gallery" href="/img/02.png")
//-                             img.img-fluid(src="/img/02.png")
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item(data-fancybox="gallery" href="/img/03.png")
//-                             img.img-fluid(src="/img/03.png")
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item(data-fancybox="gallery" href="/img/04.png")
//-                             img.img-fluid(src="/img/04.png")
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item(data-fancybox="gallery" href="/img/03.png")
//-                             img.img-fluid(src="/img/03.png")
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item(data-fancybox="gallery" href="/img/01.png")
//-                             img.img-fluid(src="/img/01.png")
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item(data-fancybox="gallery" href="/img/04.png")
//-                             img.img-fluid(src="/img/04.png")
//-                     .col-3.col-sm-6.col-md-4
//-                         .portfolio__item
//-                             img.img-fluid(src="/img/02.png")
//-                 //- Docs
//-                 h3.h5.text-bold.mt-60.mb-20 Сертификаты и дипломы
//-                 .row
//-                     .col-2.mt-20
//-                         img.img-fluid(src="../img/sertifikat-obucheniya-v-shkole.jpg")
//-                     .col-2.mt-20
//-                         img.img-fluid(src="../img/sertifikat-obucheniya-v-shkole.jpg")
//-                     .col-2.mt-20
//-                         img.img-fluid(src="../img/sertifikat-obucheniya-v-shkole.jpg")
//-                     .col-2.mt-20
//-                         img.img-fluid(src="../img/sertifikat-obucheniya-v-shkole.jpg")
//-         include ../blocks/footer/footer.pug
//-         script(src="./js/jquery.fancybox.min.js")
//-         script(src="./js/jquery.inputmask.js")
//-         script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=79c72616-7091-4150-914c-4d2e2a2ad526" type="text/javascript")
//-         script(src="./js/app.min.js")