//- html(lang="ru")
//-     include ../blocks/head.pug
//-     body.header-top
//-         script(src="/js/jquery.min.js")
//-         include ../blocks/header/header.pug
//-         include ../blocks/navbar/navbar.pug
//-         header.content.content_title
//-             .container
//-                 h1.text-bold.mb-0 Наши преподаватели
//-         section.container
//-             .row
//-                 .col-4.col-xl-4.col-md-6.col-sm-12.mt-60.mt-md-40
//-                     a.teacher(href="teacher.html")
//-                         .teacher__photo
//-                         .teacher__content
//-                             p.teacher__name Елена
//-                             p.teacher__surname Дмитриева
//-                             p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
//-                 .col-4.col-xl-4.col-md-6.col-sm-12.mt-60.mt-md-40
//-                     a.teacher(href="teacher.html")
//-                         .teacher__photo
//-                         .teacher__content
//-                             p.teacher__name Елена
//-                             p.teacher__surname Дмитриева
//-                             p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
//-                 .col-4.col-xl-4.col-md-6.col-sm-12.mt-60.mt-md-40
//-                     a.teacher(href="teacher.html")
//-                         .teacher__photo
//-                         .teacher__content
//-                             p.teacher__name Елена
//-                             p.teacher__surname Дмитриева
//-                             p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
//-                 .col-4.col-xl-4.col-md-6.col-sm-12.mt-60.mt-md-40
//-                     a.teacher(href="teacher.html")
//-                         .teacher__photo
//-                         .teacher__content
//-                             p.teacher__name Елена
//-                             p.teacher__surname Дмитриева
//-                             p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
//-                 .col-4.col-xl-4.col-md-6.col-sm-12.mt-60.mt-md-40
//-                     a.teacher(href="teacher.html")
//-                         .teacher__photo
//-                         .teacher__content
//-                             p.teacher__name Елена
//-                             p.teacher__surname Дмитриева
//-                             p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
//-         aside.mt-60.mb-60.container
//-             include ../blocks/networks/networks.pug
//-         include ../blocks/footer/footer.pug

//-         script(src="./js/jquery.fancybox.min.js")
//-         script(src="./js/jquery.inputmask.js")
//-         script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=79c72616-7091-4150-914c-4d2e2a2ad526" type="text/javascript")
//-         script(src="./js/app.min.js")