.preview-info{
    position: relative;

    background-color: $white;
    color: $pink;
    letter-spacing: 1px;
    display: inline-block;

    padding: 14px 24px;
    border-radius: 6px;

    &:before{
        content: '';
        display: block;
        width: 60px;
        height: 70px;
        position: absolute;
        top: -40px;
        left: -70px;

        background: url("../img/arrow-left.png") no-repeat center / contain;
    }
    &:after{
        content: '';
        display: block;
        width: 60px;
        height: 70px;
        position: absolute;
        top: -40px;
        right: -70px;

        background: url("../img/arrow-right.png") no-repeat center / contain;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview-info{
        &:after, &:before{
            display: none;
        }
    }
}