.preview-link{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__image{
        flex: 0 0 100px;
        max-width: 100px;
        border-radius: 8px;
    }
    &__content{
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);
        padding: 0 20px;
        text-align: left;
    }
    &__title{
        font-size: 1.15rem;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.2;
        text-transform: uppercase;
    }
    &__link{
        font-size: 11px;
        font-weight: bold;
        line-height: 1;

        text-transform: uppercase;
        background-color: $pink;
        color: $white;
        padding: 8px 14px;
        border-radius: 12px;
        
        &:hover, &:focus{
            color: $white;
            background-color: darken($color: $pink, $amount: 12);
            text-decoration: none;
        }
    }
}