.header-block{
    position: relative;
    padding: 230px 0 map-get($spacers, 6);
    background: $light-grey url("../img/bg-demo-header.jpg") no-repeat right bottom / contain ;
    &__subtitle{
        font-family: "Noto Sans";
        font-size: 1rem;
        display: inline-block;
        background: #e2e2e2;
        color: #797979;
        padding: 8px 24px 10px;
        border-radius: 28px;
        margin: 0 0 2rem;
    }
    &__title{
        display: block;
        font-size: 3.5rem;
        // font-size: 3.375rem;
        font-weight: bold;
        margin: 0 0 map-get($spacers, 4);
    }
    &__offer{
        color: #797979;
        @extend .text-small;
        width: 150px;
        max-width: 100%;
    }
    // Значение в инфо-блоке
    &__info{
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.2;
        margin: .5rem 0;
    }
    // Позиционирование картинки
    &__container{
        position: relative;
        z-index: 2;
    }
    &__image{
        max-width: 100%;

        position: absolute;
        left: 0;
        bottom: -100px;
        z-index: 1;
    }
    // Размещение блоков с информацией
    &__info-row{
        flex-wrap: wrap;
        .header-block__info-row__col:not(.last){
            padding-right: map-get($spacers, 4);
        }
    }

    // Styling
    &_col{
        margin-top: 110px;
        padding: 120px 0 map-get($spacers, 5);
        background: linear-gradient(90deg, $light-grey 0%, $light-grey 60%, $pink-light 60%, $pink-light 100%);

        &__image{
            position: relative;
            background: $light-grey no-repeat center / cover;
            &:before{
                content: '';
                display: block;
                width: 100%;
                padding-top: 100%;

                border: 1px solid $pink;
                transform: translate(15px, -15px);
            }
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding-top: 100%;

                border: 1px solid $pink;
                transform: translate(25px, -25px);
            }
        }
        .btn{
            z-index: 12;
            position: relative;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header-block{
        &__title{
            font-size: 2.75rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header-block{
        padding-top: 150px;
        &__image{
            top: 0;
            bottom: auto;
        }

        &_col{
            margin-top: 0px;
            padding: 180px 0 map-get($spacers, 3);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header-block{
        padding: 160px 0 80px;
        background-position-x: 100px;
        &__title{
            font-size: 2.5rem;
            width: 480px;
            max-width: 100%;
        }
        &__info{
            font-size: 1.25rem;
        }

        &_col{
            background: linear-gradient(180deg, $light-grey 0%, $light-grey 60%, $pink-light 60%, $pink-light 100%);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header-block{
        padding: 160px 0 40px;

        background-size: 860px;
        background-position-x: -260px;

        &__title{
            font-size: 2.5rem;
            margin: 0 0 map-get($spacers, 3);
        }
        &__margin{
            margin-bottom: 2rem;
        }
        &__info{
            line-height: 1.2;
        }
        // Размещение блоков с информацией
        &__info-row{
            flex-direction: column;
        }
        &__offer{
            font-size: 1rem;
            line-height: 1.5;
        }

        &_col{
            &__image{
                &:after{
                    transform: translate(5px, -25px);
                }
            }
        }
    }
}