.video-block{
    iframe{
        max-height:100vh;
        border-radius:20px;
    }
}
@media (max-width: 992px){
    .video-block{
        iframe{
            height:360px;
        }
    }
}
@media (max-width: 576px){
    .video-block{
        iframe{
            height:280px;
        }
    }
}