.pagination{
    display: flex;
    flex-wrap: wrap;
    
    &__item{
        width: 30px;
        height: 30px;

        text-align: center;
        line-height: 28px;

        border-radius: 15px;

        background: $white;
        border: 1px solid $border-color;
        color: $grey;
        font-weight: bold;
        margin: 4px;

        &:hover, &:focus{
            text-decoration: none;
            background: darken($color: $pink-light, $amount: 10);
        }

        &--active{
            background: $pink-light;
            color: $grey;

            &:hover, &:focus{
                background: $pink-light;
                color: $grey;
                cursor: default;
            }
        }
    }
}