.blog{
    &__tags{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -4px;

        // padding: map-get($map: $spacers, $key: 2);
        // border: 1px solid $border-color;
        // border-radius: 8px;

        &-item{
            font-size: 11px;
            line-height: 13px;
            white-space: nowrap;
            margin: 4px;
            padding: 4px 8px;
            border-radius: 10px;
            border: 1px solid $pink-light;

            &_all{
                background: $pink-light;
            }

            &--active{
                font-weight: $font-weight-bold;
            }

            &:nth-child(n+14) {
                display: none;
            }
        }
        &-show{
            font-size: 11px;
            line-height: 13px;
            white-space: nowrap;
            margin: 4px;

            color: $pink;
            font-weight: $font-weight-bold;

            &--active{
                color: $grey;
            }
        }

        &--active{
            .blog__tags-item{
                display: inline-block;
            }
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: map-get($map: $spacers, $key: 2);

        &-title{
            margin: map-get($map: $spacers, $key: 1) 0 map-get($map: $spacers, $key: 1)/2;
            font-family: $font-family-serif;
        }
        &-intro{
            flex-grow: 1;
        }
    }
}