.sertificate{
    position: relative;
    border: 1px solid $border-color;
    border-radius: 24px;
    padding: 30px $spacer;

    &__fill{
        width: calc(100% - 60px);
        height: 20px;
        border-radius: 8px;
        background-color: $pink-light;

        position: absolute;
        top: -10px;
        left: 30px;
        z-index: 10;
    }
    &__fill-active{
        width: 0;
        height: 20px;
        border-radius: 8px;
        background-color: $pink;

        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 11;
    }
    // Шаг теста
    &__step{
        display: none;
        &--active{
            display: block;
        }
    }
    &__title{
        font-size: 1.25rem;
        font-weight: 700;
    }
    &__row{
        margin-right: -10px;
        margin-left: -10px;

        & > .col-6{
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    // Элемент теста
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        border: 1px solid $border-color;
        border-radius: 8px;
        cursor: pointer;
        transition: .4s;

        &:hover, &:focus{
            border-color: $pink;
        }

        &_image{
            padding: 4px;
        }
        &_icon{
            padding: 20px;
        }
        &_result{
            padding: 20px;
            cursor: default;

            &:hover, &:focus{
                border-color: $border-color;
            }
        }
        &_modal{
            padding: 20px;
        }

        &--active{
            border-color: $pink;
            background-color: $pink-light;
        }
    }
    // Картинка-превью
    &__item-image{
        width: 90px;
        height: 90px;

        flex: 0 0 90px;
        max-width: 90px;
        border-radius: 8px;

        background: no-repeat center / cover;
    }
    // Иконки
    &__item-icon{
        width: 90px;
        height: 20px;

        flex: 0 0 90px;
        max-width: 90px;
        border-radius: 8px;
        background: no-repeat center / contain;
    }
    // Заголовок блока-ответа
    &__item-title{
        flex: 0 0 calc(100% - 110px);
        max-width: calc(100% - 110px);
    }
    // Блок-результат
    &__item-content{
        padding-top: 8px;
        padding-bottom: 8px;
        flex: 0 0 calc(100% - 140px);
        max-width: calc(100% - 140px);

        padding-left: 20px;
        padding-right: 100px;

        &_modal{
            flex: 0 0 calc(100% - 140px);
            max-width: calc(100% - 140px);
            padding-right: 20px;
        }
    }
    // Заголовок блока-результата
    &__item-link{
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 4px;
    }
    &__item-buy{
        display: inline-block;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;

        border-radius: 20px;
        background: $pink url("../icon/add-cart.svg") no-repeat center/16px;
    }

    // Контейнер результатов
    &__result{
        padding-right: 10px;
        max-height: 240px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }
          
        &::-webkit-scrollbar-track {
            background: $pink-light;
        }       
          
        &::-webkit-scrollbar-thumb {
            background: $pink;
        }       
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .sertificate{
        padding: 30px 20px;
        // Элемент теста
        &__item{
            &_result{
                flex-wrap: wrap;
                padding: 10px;
            }
        }
        // Картинка-превью
        &__item-image{
            &_result{
                width: 60px;
                height: 60px;

                flex: 0 0 60px;
                max-width: 60px;
            }
        }
        &__item-icon{
            &_result{
                width: 60px;

                flex: 0 0 60px;
                max-width: 60px;
            }
        }
        // Блок-результат
        &__item-content{
            padding-right: 20px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .sertificate{
        // Картинка-превью
        &__item-image{
            &_result{
                width: 90px;
                height: 90px;

                flex: 0 0 90px;
                max-width: 90px;
            }
        }
        &__item-icon{
            &_result{
                width: 90px;

                flex: 0 0 90px;
                max-width: 90px;
            }
        }
        // Блок-результат
        &__item-content{
            flex: 0 0 calc(100% - 140px);
            max-width: calc(100% - 140px);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .sertificate{
        padding: $spacer/2;
        // Картинка-превью
        &__item-image{
            width: 60px;
            height: 60px;

            flex: 0 0 60px;
            max-width: 60px;
        }
        &__item-icon{
            width: 60px;

            flex: 0 0 60px;
            max-width: 60px;
        }
        // Заголовок блока-ответа
        &__item-title{
            flex: 0 0 calc(100% - 80px);
            max-width: calc(100% - 80px);
        }
        // Блок-результат
        &__item-content{
            flex: 0 0 100%;
            max-width: 100%;
    
            padding: 10px 0 20px;

            &_modal{
                padding-bottom: 0;
            }
        }
    }
}