// Разграничительная линия после меню
.header-top{
    .header{
        position: relative;
        z-index: 1;
        &:after{
            display: block;
            content: '';
            width: 100%;
            height: 1px;

            position: absolute;
            left: 0;
            bottom: 40px;

            background: linear-gradient(#f9eaf1, darken(#f9eaf1, 4) );
            z-index: -1;
        }
    }
    .content_title{
        margin-top: -40px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header-top{
        .header{
            background: linear-gradient(#f9eaf1, #f0c9d8);
            &:after{
                display: none;
            }
        }
        .content_title{
            margin-top: 0px;
        }
    }
}