.header{
    padding: map-get($map: $spacers, $key: 1) 0 0;

    // Обертка меню
    &__row{
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
    }
    // Колонка со ссылками
    &__col{
        // @extend .col;
        // flex: 0 0 calc( 50% - 115px);
        // max-width: calc( 50% - 115px);
    }
    // Логотип
    &__logo{
        background: url("../icon/logo.svg") no-repeat center 0px/ contain;
        
        // flex: 0 0 230px;
        width: 200px;
        max-width: 100%;

        height: 140px;
        margin: 0 auto;
        display: block;

        &_white{
            background-image: url("../icon/logo_white.svg");
        }
        &_mobile{
            background: url("../icon/logo.svg") no-repeat left center / contain;

            width: 100%;
            height: 80px;
            margin-left: 0;
        }
    }
    // Шапка на мобильном
    &__mobile{
        display: none;

        // Кнопка для открытия меню
        &-menu{
            width: map-get($map: $spacers, $key: 3);
            height: map-get($map: $spacers, $key: 3);
            cursor: pointer;
        }
    }
    // Строка меню
    &__line{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: $spacer-gutter;

        &:last-child{
            margin-bottom: 0;
        }

        &_additional{
            padding-top: 5px;
        }
    }
    // Ссылка в header
    &__link{
        &_schedule{
            position: relative;

            font-size: 12px;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            text-decoration: none;

            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            grid-gap: 8px;

            margin-right: map-get($map: $spacers, $key: 1);

            &:before{
                content: '';
                display: block;
                width: 16px;
                height: 16px;

                transition: 0.3s;

                background-repeat: no-repeat;
                background-position: center;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill="%23DD5287" fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" /></svg>');
            }
        }
        
        &:hover, &:focus{
            color: $pink;
            text-decoration: none;
        }
    }
    // Контакты
    &__contacts-list{
        font-weight: $font-weight-bold;
    }
    &__networks-list{
        grid-gap: 10px;
    }
}
// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header{
        &__row{
            display: grid;
            grid-template-columns: 1fr 120px 1fr;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        padding: $spacer-gutter 0;
        
        &__desktop{
            display: none;
        }
        &__mobile{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            max-width: map-get($map: $container-max-widths, $key: lg);
            margin-left: auto;
            margin-right: auto;
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        &__mobile{
            max-width: map-get($map: $container-max-widths, $key: md);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        &__mobile{
            max-width: map-get($map: $container-max-widths, $key: sm);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .header{
        &__mobile{
            padding-right: $grid-gutter-width/2;
            padding-left: $grid-gutter-width/2;
            max-width: map-get($map: $container-max-widths, $key: xs);
        }
    }
}