.list_numeric{
    .list__item{
        position: relative;
        padding-left: 100px;
        min-height: 70px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .list__number{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            display: inline-block;
            overflow: hidden;

            border: 1px solid $border-color;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            
            color: $border-color;
            background-color: $white;
            box-shadow: 0px 0px 15px 0px rgba(240, 213, 221, 1);
            
            text-align: center;
            line-height: 66px;
            font-size: 44px;
            font-weight: 700;
        }

        & + .list__item{
            margin-top: map-get($spacers, 2);
        }
    }
}