.review_child{
    position: relative;
    border: 5px dotted $pink-light;

    &__img{
        position: relative;
        overflow: visible;
        margin-bottom: map-get($map: $spacers, $key: 3);

        &:after{
            display: block;
            content: '';
            
            width: 100%;
            height: 74px;

            background: url('../icon/rating.svg') no-repeat center/contain;

            position: absolute;
            left: 0;
            right: 0;
            bottom: -30px;
        }
    }
}