.page-logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1280px;
    max-width: 100%;
    margin: 0 auto;

    &__image{
        width: 180px;
        height: 100px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .page-logo{
        &__image {
            width: 30%;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .page-logo{
        justify-content: center;
        &__image {
            width: 30%;
        }
    }
}