.category{
    // Navigation tags
    &__tags{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: -4px;
        // padding: map-get($map: $spacers, $key: 2) 0;

        // Single tag
        &-item{
            font-size: map-get($map: $font-size, $key: sm);
            line-height: map-get($map: $font-size, $key: md);
            white-space: nowrap;

            margin: 4px;
            padding: 4px 10px;
            background-color: $white;
            border-radius: 16px;
            border: 1px solid $pink-light;

            &_all{
                font-weight: $font-weight-bold;
            }
            &:hover{
                border-color: $pink;
                text-decoration: none;
            }
            &:nth-child(n+14) {
                display: none;
            }

            &--active{
                border-color: $pink;
                background: $pink;
                color: $white;
                &:hover{
                    color: $white;
                }
            }
        }
        // JS trigger to show more
        &-show{
            font-size: map-get($map: $font-size, $key: sm);
            line-height: map-get($map: $font-size, $key: md);
            white-space: nowrap;
            margin: 4px;

            color: $pink;
            font-weight: $font-weight-bold;

            &--active{
                color: $grey;
            }
        }
        // Showed all tags
        &--active{
            .category__tags-item{
                display: inline-block;
            }
        }
    }
    // Category title
    &__title{
        margin: 0 0 map-get($map: $spacers, $key: 3);
    }
    //Grid
    &__row{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 3);
        grid-template-columns: repeat(3, 1fr);
    }
    // Single post
    &__item{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 1);
        grid-template-rows: 240px auto 1fr;

        // Превью
        &-img{
            border-radius: $border-radius;
            overflow: hidden;

            &_video{
                position: relative;
                cursor: pointer;
    
                &:before{
                    content: '';
                    display: block;
    
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    z-index: 99;
    
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
    
                    background: $white url('../icon/play-button.svg') no-repeat center / contain;
    
                    transition: 0.4s;
                }
    
                &:hover, &:focus{
                    &::before{
                        filter: opacity(.6);
                    }
                }
            }
        }
        // Видео
        &-video{
            width: 100%;
            height: 240px;
        }
        // Заголовок
        &-title{
            font-size: 21px;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            margin-bottom: 0;
        }
        // Дополнительный текст
        &-intro{
            font-size: map-get($map: $font-size, $key: lg);
            margin-bottom: 0;
        }
        // Ссылка «Далее»
        &-link{
            font-weight: $font-weight-bold;
            color: $pink;
            text-decoration: underline;
        }

        // Modification
        &_row{
            align-items: flex-start;
            align-content: flex-start;
            grid-template-columns: 200px 1fr;
            grid-template-rows: auto;

            &-content{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: $spacer-gutter;

                padding: $spacer-gutter 0;

                align-content: flex-start;
            }
        }
    }
    &__link{
        transition: 0.3s;
        &:hover{
            color: inherit;
            text-decoration: none;
            transform: scale(1.02);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .category{
        &__item{
            // Modification
            &_row{
                grid-template-columns: 160px 1fr;

                &-content{
                    padding: 0;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .category{
        &__item{
            margin-bottom: map-get($map: $spacers, $key: 2);

            // Modification
            &_row{
                grid-template-columns: 200px 1fr;

                &-content{
                    padding: $spacer-gutter 0;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .category{
        &__item{
            // Modification
            &_row{
                grid-template-columns: 140px 1fr;

                &-content{
                    padding: 0;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .category{
        &__item{
            // Modification
            &_row{
                grid-template-columns: 1fr;
            }
        }
    }
}