.btn_action{
    background: $pink;
    color: $white;
    border-color: $pink;
    font-weight: $font-weight-bold;

    &:hover{
        color: $white;
        background: darken($pink, 10%);
    }
}