.btn{
    outline: none;

    font-size: map-get($map: $font-size, $key: md);
    line-height: map-get($map: $font-size, $key: lg);

    text-align: center;

    padding: 14px 30px 15px;
    border: 3px solid;
    border-radius: 30px;
    max-width: 100%;
    
    cursor: pointer;
    transition: .4s;
    
    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }

    &--full, &_full{
        width: 100%;
    }
    &--disable{
        filter: grayscale(.75);
        cursor: not-allowed;
    }
}