.btn_secondary{
    background: inherit;
    border-color: $pink;
    color: $pink;
    font-weight: $font-weight-bold;

    &:hover, &:focus{
        color: darken($pink, 10%);
        border-color: darken($pink, 10%);
    }
}