.btn_default{
    background-color: $pink-light;
    border-color: $pink-light;
    color: $pink;
    font-weight: $font-weight-bold;

    &:hover{
        color: darken($pink, 10%);
        background: darken($pink-light, 5%);
    }
}