html,body {
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    width: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: 1.5rem;
}
.h1,h1{font-size: 3rem;}
.h2,h2{font-size: 2.75rem;}
.h3,h3{font-size: 2rem;}
.h4,h4{font-size: 1.75rem;}
.h5,h5{font-size: 1.5rem;}
.h6,h6{font-size: 1.25rem;}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1.6;
    &.small{
        font-size: .9em;
    }
    &.lead{
        font-size: 1.15em;
    }
}
ol, ul{
    padding: 0;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;
    &:hover, &:focus{
        outline: none;
    }
    &.link-inverse{
        color: $link-hover-color;
        &:hover{
            color: $link-color;
        }
    }
}
.p-relative{position: relative;}
.p-sticky{position: sticky; top: 0; left: 0; z-index: 101; background: $white;}

.d-flex{display: flex;}
.d-none{display: none;}

.text-white{color: $white;}
.text-black{color: $black;}
.text-grey{color: $grey;}
.text-pink{color: $pink;}

.text-uppercase{text-transform: uppercase;}
.text-bold,strong,b{font-weight: 700;}
.text-small,small,.small{font-size: 12px; line-height: 16px;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}

.img-fluid{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.img-border{
    border: 4px solid #655d6a;
}

.blockquote, blockquote{
    padding: 20px;
    background: $light-grey;
    border-left: 4px solid $grey;
}

.mt-0{margin-top: 0px!important;}
.mt-20{margin-top: 20px!important;}
.mt-40{margin-top: 40px!important;}
.mt-60{margin-top: 60px!important;}
.mb-0{margin-bottom: 0px!important;}
.mb-20{margin-bottom: 20px!important;}
.mb-40{margin-bottom: 40px!important;}
.mb-60{margin-bottom: 60px!important;}

.mr-0{margin-right: 0;}
.ml-0{margin-left: 0;}
.ml-auto{margin-left: auto;}
.mr-auto{margin-left: auto;}

.pt-0{padding-top: 0px!important;}
.pt-20{padding-top: 20px!important;}
.pt-40{padding-top: 40px!important;}
.pb-0{padding-bottom: 0px!important;}
.pb-20{padding-bottom: 20px!important;}
.pb-40{padding-bottom: 40px!important;}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .d-lg-none{display: none;}

    .mt-lg-0{margin-top: 0px!important;}
    .mt-lg-20{margin-top: 20px!important;}
    .mt-lg-40{margin-top: 40px!important;}
    .mb-lg-0{margin-bottom: 0px!important;}
    .mb-lg-20{margin-bottom: 20px!important;}
    .mb-lg-40{margin-bottom: 40px!important;}
    
    .mr-lg-0{margin-right: 0}
    .ml-lg-0{margin-left: 0}

    .pt-lg-0{padding-top: 0!important;}
    .pb-lg-0{padding-bottom: 0!important;}

    .text-lg-left{text-align: left;}
    .text-lg-center{text-align: center;}
    .text-lg-right{text-align: right;}
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .d-md-none{display: none;}
    
    .mt-md-0{margin-top: 0px!important;}
    .mt-md-20{margin-top: 20px!important;}
    .mt-md-40{margin-top: 40px!important;}
    .mb-md-0{margin-bottom: 0px!important;}
    .mb-md-20{margin-bottom: 20px!important;}
    .mb-md-40{margin-bottom: 40px!important;}

    .mr-md-0{margin-right: 0}
    .ml-md-0{margin-left: 0}

    .pt-md-0{padding-top: 0!important;}
    .pb-md-0{padding-bottom: 0!important;}

    .breadcrumbs{
        margin-bottom: 0;
    }
    .text-md-left{text-align: left;}
    .text-md-center{text-align: center;}
    .text-md-right{text-align: right;}
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .d-sm-none{display: none;}
    
    .h1,h1{font-size: 1.75rem;}
    .h2,h2{font-size: 1.75rem;}
    .h3,h3{font-size: 1.5rem;}
    .h4,h4{font-size: 1.5rem;}
    .h5,h5{font-size: 1.25rem;}
    .h6,h6{font-size: 1rem;}

    .text-sm-left{text-align: left;}
    .text-sm-center{text-align: center;}
    .text-sm-right{text-align: right;}

    .text-sm-small{font-size: 12px;}

    .mt-sm-0{margin-top: 0!important;}
    .mt-sm-20{margin-top: 20px!important;}
    .mt-sm-40{margin-top: 40px!important;}
    .mb-sm-0{margin-bottom: 0px!important;}
    .mb-sm-20{margin-bottom: 20px!important;}
    .mb-sm-40{margin-bottom: 40px!important;}

    .mr-sm-0{margin-right: 0}
    .ml-sm-0{margin-left: 0}

    .pt-sm-0{padding-top: 0!important;}
    .pb-sm-0{padding-bottom: 0!important;}
}