.contacts_inline{
    display: flex;
    flex-wrap: wrap;

    grid-gap: map-get($spacers, 2);

    &__item{
        // margin-top: 0;
        // margin-right: map-get($spacers, 1);

        // &:last-of-type{
        //     margin-right: 0;
        // }

        // &_phone{
        //     margin-right: 24px;
        //     &:last-of-type{
        //         margin-right: 0;
        //     }
        // }
    }
}
