// Блок с вызовом модальной формы заявки
.info-block{
    padding: map-get($spacers, 4) 0;
    background: linear-gradient(#f9eaf1, #f0c9d8);
    color: $grey;
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .info-block{
        padding: map-get($spacers, 3) 0;
    }   
}