.slider_index{
    &__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__image{
        // max-height: 100vh;
        height: 540px;

        flex: 0 0 calc(100% - 430px);
        max-width: calc(100% - 430px);
        border-radius: $spacer/4;

        background: no-repeat left center / cover;
    }
    &__content{
        // max-height: 100vh;
        height: 540px;
        overflow: hidden;

        flex: 0 0 420px;
        max-width: 420px;

        color: $white;
        background-color: $dark-grey;
        padding: $spacer;
        border-radius: $spacer/4;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title{
        font-family: 'Noto Serif', serif;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    &__intro{
        color: $light-grey;
        margin: $spacer/2 0 $spacer/2;
    }
    &__info{
        font-weight: 700;
        background: no-repeat left center / 30px;
        padding: 4px 4px 4px 40px;

        margin: 0 0 $spacer;
    }

    // Slick
    .slick-arrow{
        opacity: .5;
        transition: .4s;
        &:hover{
            opacity: 1;
        }
    }
    .slick-prev{
        left: 20px;
        z-index: 11;
    }
    .slick-next{
        left: calc(100% - 480px);
        z-index: 11;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'hd')){
    .slider_index{
        &__image,
        &__content{
            height: 480px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .slider_index{
        &__image,
        &__content{
            flex: 0 0 calc(50% - 5px);
            max-width: calc(50% - 5px);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider_index{
        &__image{
            flex: 0 0 100%;
            max-width: 100%;
            height: 240px;
            margin-bottom: 10px;
        }
        &__content{
            flex: 0 0 100%;
            max-width: 100%;
            height: auto;
        }
        &__info{
            margin-bottom: $spacer/2;
        }
        &__title{
            font-size: 1.5rem;
        }
        .slick-next{
            left: auto;
            right: 20px;

            top: 120px;
        }
        .slick-prev{
            top: 120px;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider_index{
        &__image{
            height: 180px;
        }
        &__content{
            padding: 20px;
        }
    }
}