.slider-nav{
    position: absolute;
    left: $spacer;
    bottom: 2*$spacer;

    width: 100%;
    max-width: calc(100% - 510px);
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .slider-nav{
        position: unset;
        max-width: 100%;
        margin-top: $spacer/2;
        // left: 0;
        // bottom: 0;
        .slick-list{
            padding: 0!important;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider-nav{
        margin-top: 10px;
    }
}