// Выделенный текст
.sertificate-content{
    padding-left: 80px;

    font-size: 1.15rem;
    line-height: 1.4;
    color: #45393e;

    background: url("../icon/sertificate.svg") no-repeat left center / 60px;

    width: 420px;
    max-width: 100%;
}