footer.footer
    .container
        .row
            .col-3.col-lg-6.col-sm-12
                .footer__logo
                p.footer__content.text-small.mb-0 Санкт-Петербург, Пр. Юрия Гагарина, 7, пом. 25 ЖК "Космос", справа от центрального входа.
            .col-3.col-lg-6.col-sm-12.mt-sm-20
                p.text-bold.footer__title Контакты
                ul.contacts
                    li.contacts__item.contacts__item_phone 
                        a.footer__link(href="tel:88001112233") 8 (812) 317-76-18
                    li.contacts__item.contacts__item_phone 
                        a.footer__link(href="tel:88001112233") 8 (921) 938-09-01
                    li.contacts__item.contacts__item_email 
                        a.footer__link(href="mailto:88001112233") info@magentaflower.ru
                ul.contacts.contacts_inline
                    li.contacts__item.contacts__item_networks.contacts__item_vk
                        a.footer__link(href="https://vk.com/magentaflower")
                    li.contacts__item.contacts__item_networks.contacts__item_fb
                        a.footer__link(href="https://vk.com/magentaflower")
                    li.contacts__item.contacts__item_networks.contacts__item_inst
                        a.footer__link(href="https://vk.com/magentaflower")
            .col-3.col-lg-6.col-sm-12.mt-lg-20
                p.text-bold.footer__title Курсы
                ul.list.list_circle
                    li.list__item
                        a(href="#") Базовый
                    li.list__item
                        a(href="#") Базовый
                    li.list__item
                        a(href="#") Базовый
                    li.list__item
                        a(href="#") Базовый
            .col-3.col-lg-6.col-sm-12.mt-lg-20
                p.text-bold.footer__title Блог
                ul.list.list_circle
                    li.list__item
                        a(href="#") Хочу быть флористом
                    li.list__item
                        a(href="#") Выбираем школу флористики
                    li.list__item
                        a(href="#") Мастер-класс по флористике
                p.text-bold.footer__link.mt-20 Часто задаваемые вопросы
        .row.mt-20
            .col-3.col-sm-12.col-lg-6
                p.footer__content.text-small
                    a.footer__link(href="#") Договор публичной оферты
            .col-3.col-sm-12.col-lg-6
                p.footer__content.text-small
                    a.footer__link(href="#") Политика конфиденциальности
            .col-3.col-sm-12.col-lg-6.mt-lg-20
                p.footer__content.text-small.mb-0 © 2019. Все права защищены.
.overlay.overlay--disable