header .header__btn{
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 4px 15px!important;

    text-align: center;

    cursor: pointer;
    transition: .4s;
        
    font-size: 12px;
    font-weight: bold;        
    text-transform: uppercase;
    color: $pink;
    background-color: $pink-light;
        
    &:hover, &:focus{
        color: darken($pink, 10%);
        background: darken($pink-light, 5%);
        text-decoration: none;
        outline: none;
    }
}