.bg-light-grey{
    background: $light-grey;
}
.bg-flowers_01{
    background: url("../img/bg-demo.jpg") no-repeat center bottom / cover;
}
.bg-flowers_02{
    background: url("../img/bg-result-01.jpg") no-repeat center bottom / cover;
}

.content{
    padding: 90px 0;
    &_inside{
        padding: 60px;
    }
    .row + .row{
        padding-top: 90px;
    }
    .text-top{
        padding-top: 10px;
    }
}
.subtitle{
    color: $pink;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .bg-flowers_01{
        padding-bottom: 160px;
        background-size: 1100px;
        background-color: $light-grey;
    }
    .content{
        &.pt-lg-0{padding-top: 0;}
        &.bg-flowers_01{padding-bottom: 160px;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        padding: 40px 0;
        &.pt-md-0{padding-top: 0;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content{
        .row + .row{
            padding-top: 60px;
        }
        &.pt-sm-0{padding-top: 0;}
    }
}