.bg-light-grey{background: $light-grey;}
.bg-light-pink{
    background: $pink-light;
    .btn_default{
        background-color: darken($pink-light, 4%);;
        &:hover{
            background: darken($pink-light, 7%);
        }
    }
}
.bg-pink{background: $pink;color: $white;}
.bg-flowers_01{background: url("../img/bg-demo.jpg") no-repeat center bottom / cover;}
.bg-flowers_02{background: url("../img/bg-result-01.jpg") no-repeat center bottom / cover;}
.bg-corporate{
    background: $pink url("../img/bg-corporate.jpg") no-repeat center / cover;
    color:$white;
    .h1{
        width: 580px;
        max-width: 100%;
    }
}

.content{
    padding: 90px 0;   
    .content__title{
        font-size: 3.5rem;
    }
    .content__heading{
        font-size: 2.75rem;
        line-height: 1.2;
        font-family: 'Noto Serif', serif;
    }
    .text-top{
        padding-top: 10px;
    }
    .row + .row{
        padding-top: 90px;
    }
    &_inside{
        padding: 60px;
    }
    &_offset-small{
        padding: 60px 0;
    }
}
.subtitle{
    color: $pink;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.img-sertificate{
    .img-fluid{
        max-width: calc(100% - 60px);
        margin-right: 0;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .bg-flowers_01{
        padding-bottom: 160px;
        background-size: 1100px;
        background-color: $light-grey;
    }
    .content{
        &.bg-flowers_01{padding-bottom: 160px;}
        .content__title{
            font-size: 2.5rem;
        }
        .content__heading{
            font-size: 1.75rem;
        }
    }
    .img-sertificate{
        .img-fluid{
            margin-left: 60px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        padding: 40px 0;
        .content__title{
            font-size: 1.75rem;
        }
        .content__heading{
            font-size: 1.5rem;
        }

        .row + .row{
            padding-top: 60px;
        }
    }
    .img-sertificate{
        .img-fluid{
            margin: 0 auto;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content{
        .row + .row{
            padding-top: 40px;
        }
    }
}