.content{
    padding: map-get($spacers, 6) 0; 
    .content__title{
        font-size: 3.375rem;
    }
    .text-top{
        padding-top: 10px;
    }
    .btn_absolute-position{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
    }
    // Отступы между row
    .row + .row{
        padding-top: map-get($spacers, 6);
    }
    // Отступы вокруг контента
    &_inside{
        padding: map-get($spacers, 4);
    }
    // Уменьшенные отступы сверху и снизу
    &_offset-small{
        padding: map-get($spacers, 4) 0;
    }
}
// Разделительная черта
.content-line{
    display: block;
    margin: 0 auto;
    width: 500px;
    max-width: 75%;
    height: 1px;
}


@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content{
        padding: map-get($spacers, 3) 0;
        .content__title{
            font-size: 2.5rem;
        }
        &.bg-flowers_01{padding-bottom: 160px;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        .content__title{
            font-size: 1.75rem;
        }
        .row + .row{
            padding-top: map-get($spacers, 4);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content{
        .row + .row{
            padding-top: map-get($spacers, 3);
        }
    }
}