.cta-block{
    position: relative;
    padding: 0 0 map-get($spacers, 5);
    background: $light-grey url("../img/bg-demo-contact.jpg") right center / cover;

    // Блоки с доп. информацией
    .cta-block__info{
        display: inline-block;
        max-width: 100%;
        padding: 40px 50px;
        margin-right: 20px;

        transform: translateY(-50px);

        border: 1px solid $border-color;
        border-radius: 24px;
        background-color: $white;
        box-shadow: 0px 0px 15px 0px rgba(240, 213, 221, 1);

        .subtitle{
            margin-bottom: .5em;
        }
        .price-old{
            font-family: 'Noto Serif';
            text-decoration: line-through;
            & + .price{
                margin-left: .75em;
            }
        }

        &.last{
            margin-right: 0px;
        }
    }
    .cta-block__info-title{
        margin: 0 0 .75em;
    }
    // Основной контент
    .cta-block__title{
        font-weight: bold;
        width: 440px;
        max-width: 100%;
        margin: 0 0 2rem;
    }
    .cta-block__offer{
        width: 260px;
        max-width: 100%;
        margin: 0 0 2rem;
        @extend .lead;
    }
    .cta-block__form{
        width: 400px;
        max-width: 100%;
        .form__input{
            width: 100%;
        }
    }

    &_summer{
        background: $light-grey url("../img/bg-contact-warm.jpg") right center / cover;
    }
    &_winter{
        background: $light-grey url("../img/bg-contact-cold.jpg") right center / cover;
    }
    &_offset-top{
        padding-top: map-get($spacers, 5);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .cta-block{
        padding: 0 0 60px;
        background-position-x: left;
        &_pt{
            padding-top: 60px;
        }
        .cta-block__info{
            max-width: calc(50% - 15px);

            margin-bottom: 20px;
            padding: 30px;
            .subtitle {
                font-size: 12px;
                letter-spacing: 0;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .cta-block{
        padding: 0 0 map-get($spacers, 4);
        .cta-block__info{
            max-width: 100%;

            transform: translateY(-40px);
            padding: 20px 30px;

            & + .cta-block__title{
                margin-top: -20px;
            }
        }
        .cta-block__title{
            margin: 0 0 2rem;
        }
        .cta-block__offer{
            width: 100%;
        }
    }
}