.header-block{
    position: relative;
    padding: 230px 0 150px;
    background: $light-grey url("../img/bg-demo-header.jpg") no-repeat right bottom / contain ;
    .header-block__subtitle{
        font-family: "Noto Sans";
        font-size: 1rem;
        display: inline-block;
        background: #e2e2e2;
        color: #797979;
        padding: 8px 24px 10px;
        border-radius: 28px;
        margin: 0 0 2rem;
    }
    .header-block__title{
        display: block;
        font-size: 3.375rem;
        font-weight: bold;
        margin: 0 0 map-get($spacers, 4);
        
        &_margin{
            margin: 0 0 4rem;
        }
    }
    .header-block__margin{
        display: block;
        margin-bottom: 4rem;
    }

    .header-block__info{
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.2;
        margin: .5rem 0;
    }
    .header-block__offer{
        color: #797979;
        @extend .text-small;
        width: 150px;
        max-width: 100%;
    }
    .header-block__container{
        position: relative;
        z-index: 2;
    }
    .header-block__image{
        max-width: 100%;

        position: absolute;
        left: 0;
        bottom: -100px;
        z-index: 1;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header-block{
        .header-block__title{
            font-size: 2.75rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header-block{
        padding-top: 150px;
        .header-block__image{
            top: 0;
            bottom: auto;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header-block{
        padding: 160px 0 80px;
        background-position-x: 100px;
        .header-block__title{
            font-size: 2.5rem;
            width: 480px;
            max-width: 100%;
        }
        .header-block__info{
            font-size: 1.25rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header-block{
        background-size: 860px;
        background-position-x: -260px;

        .header-block__title{
            font-size: 2rem;
            &_margin{
                margin-bottom: 2rem;
            }
        }
        .header-block__margin{
            margin-bottom: 2rem;
        }
        .header-block__info{
            line-height: 1.2;
        }
    }
}