.programm{
    padding: map-get($spacers, 4) 0;
    .programm__item{
        padding: map-get($spacers, 2) map-get($spacers, 3);
        background: $white;
        border: 1px solid #d3d3d3;
        border-radius: 20px;

        // Модификатор
        &_small{
            padding: map-get($spacers, 1) map-get($spacers, 2);
        }
    }
    .programm__title{
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.2;
        margin-bottom: 0;
    }
    .programm__time{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $grey;
        &:before{
            content:'';
            display: inline-block;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            background: url("../img/time-left-light.svg") no-repeat center / contain;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .programm{
        padding: map-get($spacers, 3) 0;
        .programm__title{
            font-size: 1.25rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .programm{
        .programm__item {
            padding: map-get($spacers, 1) map-get($spacers, 2);
        }
        .programm__title{
            margin-bottom: map-get($spacers, 1);
        }
        .programm__time{
            justify-content: flex-start;
        }
    }
}