.timetable{
    // Navbar
    &-nav{
        .timetable-nav__item{
            & + .timetable-nav__item{
                margin-top: 10px;
            }
        }
        .timetable-nav__link{
            text-decoration: none;
            background: url("/img/icon-circle.svg") no-repeat left center;
            background-size: 0px;
            &--active{
                @extend .text-bold;
                color: $pink;
                padding: 8px 0;
                padding-left: 30px;
                background-size: 20px;
            }
        }
    }
    // Main Area
    &-block{
        position: relative;

        border: 1px solid #b8b8b8;
        border-radius: 24px;
        background-color: $white;
        box-shadow: 0px 0px 15px 0px rgba(240, 213, 221, 1);
        
        padding-top: 140px;
        padding-bottom: 24px;
        overflow: hidden;
        margin-bottom: 40px;

        &.mb-0{margin-bottom: 0;}
        &.mb-40{margin-bottom: 40px;}

        &:hover{
            .timetable-btn{
                transform: translateY(0);
            }
        }
    }
    &-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 140px;

        background-position: center;
        background-size: cover;
    }
    &-category{
        padding: 6px 20px;
        text-transform: uppercase;
        color: $pink;
        &_type-1{background: lighten($color: $pink, $amount: 35%);}
        &_type-2{background: lighten($color: $pink, $amount: 36%);}
        &_type-3{background: lighten($color: $pink, $amount: 37%);}
        &_type-4{background: lighten($color: $pink, $amount: 38%);}
        &_type-5{color: $grey; background: $light-grey;}
    }
    &-title{
        @extend .text-bold;
        font-size: 1.25rem;
        line-height: 1.2;
        padding: 20px 20px 10px;
    }
    &-period{
        @extend .text-bold;
        color: $pink;
        padding: 0 20px;
    }
    &-teacher{
        padding: 0 20px 20px;
    }
    &-info{
        padding-left: 60px;
        background: url("/img/time-left-light.svg") no-repeat 20px center / 26px;
        @extend .text-small;
        color: $dark-grey;
    }
    &-btn{
        position: absolute;
        left: 0;
        bottom: -2px;
        @extend .text-bold;
        @extend .text-center;
        display: block;
        width: 100%;
        background: $pink;
        color: $white;
        padding: 16px 20px 18px;
        text-transform: uppercase;
        transform: translateY(100%);

        cursor: pointer;

        &:hover{
            color: $white;
            text-decoration: none;
            background: darken($pink, 10%);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .timetable{
        &-block{
            padding-bottom: 70px;
            &.mb-md-0{margin-bottom: 0px;}
            &.mb-md-40{margin-bottom: 40px;}
        }
        &-btn{
            transform: translateY(0);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .timetable{
        &-nav{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .timetable-nav__item{
                padding-right: 16px;
                & + .timetable-nav__item{
                    margin: 0;
                }
            }
            .timetable-nav__link{
                padding: 8px 0;
                &--active{
                    padding-left: 30px;
                }
            }
        }
        &-block{
            &.mb-sm-0{margin-bottom: 0px;}
            &.mb-sm-40{margin-bottom: 40px;}
        }
    }
}