@media all and (min-width: 1680px){
    body, html{
        font-size: 18px;
    }

    header .container,
    footer .container,
    .info-block .container,
    .slider-container.container{
        max-width: 1540px;
        width: 100%;
    }

    .contacts .contacts__item{
        font-size: 18px;
    }
    .navbar .navbar__link{
        font-size: 15px;
    }
    .btn {
        font-size: 18px;
    }
    .header .btn{
        font-size: 14px;
    }
    .header .header__line_right-col .header-link.header__item{
        font-size: 14px!important;
    }
    .navbar_left .navbar__link.navbar__link_online{
        line-height: 20px!important;
        font-size: 14px!important;
    }
    p.lead{
        font-size: 1.25rem;
    }
    .text-small, .header-block .header-block__offer, .timetable-info, small, .small {
        font-size: 16px;
        line-height: 20px;
    }

    // Header Block
    .header-block .header-block__offer{
        width: 220px;
    }
    // Programm Block 
    .page-programm .page-programm__title{
        font-size: 1.5rem;
    }
    // Sertificate
    .sertificate__content{
        width: 400px;
    }

    // List Item
    .list_advantage .list_advantage__item {
        width: 360px;
        font-size: 20px;
    }
    .list_advantage_full .list_advantage__item{
        width: 100%;
    }
    .list_advantage_full .list__item .list__item__title{
        font-size: 1.5rem;
        margin-top: -6px;
    }
    .list_circle .list__item{
        font-size: 20px;
    }
    .list_circle .list__item:before{
        width: 8px;
        height: 8px;
        border-radius: 4px;
        top: 10px;
    }

    // Cta Block
    .cta-block .cta-block__title {
        width: 640px;
    }
    .cta-block .cta-block__offer,
    .cta-block p.cta-block__offer {
        font-size: 1.25em;
        width: 420px!important;
    }

    // Info Item
    .info .info__content{
        height: 220px;
    }
    .info .info__link {
        font-size: 14px;
    }

    // Icon Col
    .icon-col .icon-col__title {
        font-size: 20px;
    }
    .icon-col .icon-col__content {
        width: 240px;
    }

    // Preview Item
    .preview-link .preview-link__link {
        font-size: 16px;
    }

    // Form
    .form .form__label {
        font-size: 16px;
    }
    .checkbox__label{
        line-height: 22px;
    }
    .checkbox__label:before{
        top: 6px;
    }
    .checkbox__input:checked + .checkbox__label:after{
        top: 10px;
    }
    .footer{
        p {
            font-size: 20px;
        }
    }

    /* ADS css */
    section.courses .courses .course .desc,
    section.courses .courses .course .desc.desc-js {
        font-size: 20px;
        line-height: 24px;
    }
    section.courses .courses .course .desc{
    max-height: 100px;
    }
    section.courses .courses .course .preview,
    section.courses .courses .course .text{
    height: 330px;
    }
    section.about .desc .right .text {
    font-size: 22px;
    line-height: 26px;
    }
    section.teachers .container,
    section.courses.blog .container,
    section.advantages .container{
    width: 1480px;
    }
    section.advantages .advantages_item .left {
    width: 40%;
    }
    section.advantages .advantages_item .text {
    font-size: 20px;
    }
    section.teachers .teacher .text {
    padding: 20px 40px;
    }
    section.teachers .teacher .desc {
    font-size: 20px;
    line-height: 24px;
    }
    .reviews-slider .text .name,
    .reviews-noslider .text .name,
    section.teachers .teacher .text .name {
    font-size: 30px;
    }
    .reviews-noslider .text .course,
    .reviews-noslider .text .desc,
    .reviews-slider .text .desc,
    section.teachers .teacher .text .info{
    font-size: 20px;
    }
    .reviews-slider .text .course{
    margin: 10px 0;
    }
    .reviews-noslider .text .course{
    margin: 20px 0;
    font-weight: 700;
    }

    section.teachers .btnall{
    max-width: 190px;
    font-size: 20px;
    }
    section.teachers .teacher {
    width: 320px;
    margin-left: calc((100% - 1280px) / 3);
    }
    section.teachers .teacher:nth-child(4n+1) {
    margin-left: 0;
    }
    section.about_advant h2{
    font-size: 42px;
    }
    section.about_advant .text{
    font-size: 22px;
    }
}