@import "variable.scss";

// @import "framework/gridHeader.scss";

// @import "header/header.scss";
// @import "header/header-btn.scss";
// @import "header/header-link.scss";
// @import "header/header-top.scss";
// @import "header/header-fixed.scss";
// @import "header/header-mobile-only.scss";

// @import "other/footer.scss";
// @import "other/navbar.scss";

// @import "form/form.scss";
// @import "form/form-input.scss";
// @import "form/checkbox.scss";

// @import "contact/contacts.scss";
// @import "block/networks.scss";

// @import "list/list.scss";
// @import "list/list_circle.scss";

// @import "item/item-icon.scss";

// @import "slider/slider-container.scss";
// @import "slider/slider.scss";
// @import "slider/slider_index.scss";
// @import "slider/slider_nav.scss";
// @import "slider/slider-nav.scss";

// @import "other/buttonHeader.scss";
// @import "other/jGrowl.scss";
// @import "other/offset.scss";


body{
    max-width: 100%; 
}
body a {
    color: #232323;
    &:hover{
        color: $link-hover-color;
    }
}

header *, footer.footer *
.navbar-mobile *, .item-icon *,
.jGrowl-notification *{
    color: #3d3e40;
}
.slider-container{
    position: relative;
}
.slider-container * {
    color: #fff;
}
header *, header *::before, header *::after,
footer.footer *, footer.footer *::before, footer.footer *::after,
.info-block *, .info-block *::before, .info-block *::after,
.item-icon *, .item-icon *::before, .item-icon *::after,
.slider-container, .slider-container::before, .slider-container::after,
.jGrowl-notification, .jGrowl-notification *, .jGrowl-notification *::before, .jGrowl-notification *::after,
.slider-container *, .slider-container *::before, .slider-container *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header, footer, .slider-container, .item-icon{
    position: initial;
    height: auto;
    background: unset;

    font-family: "Noto Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    line-height: 1.5;
}
header .contacts,
footer .contacts{
    width: unset;
    max-width: 100%;
    float: unset;
    height: unset;
    padding: 10px 0 0;
}
header .contacts_header{
    padding-top: 0;
}
header .contacts .contacts__item{
    line-height: 1.2;
}
.header-top .header{
    z-index: 11;
}
.header-top.main .header:after{
    opacity: 0;
}
.header-btn{
    max-width: 100%;
    display: inline-block;
    line-height: 18px;
}
.header-top.main .header .header__logo {
    background: url('/manager/templates/magenta2019/img/logo_white.svg') no-repeat center/contain!important;
}
.header__logo{
    display: block;
}
.navbar-mobile{
    font-family: 'Roboto';
    color: #3d3e40;
}

.slider-container .btn{
    font-family: 'Roboto';
    font-size: 16px;
    
    border: none;
    outline: none;
    padding: 15px 30px;
    border-radius: 30px;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    cursor: pointer;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    
    background: #dd5287;
    color: #ffffff;
    font-weight: bold;
}
.slider-container .btn:hover, .slider-container .btn:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background: #d3296a;
}
.slider_index__intro{
    font-family: 'Roboto';
    line-height: 1.4;
}
.slider_index__info{
    font-family: 'Roboto';
    font-size: 18px;
    padding: 6px 4px 6px 40px;
}
.slider_nav .slick-slide{
    margin: 0 5px;
    opacity: 0.5;
}
.slider_nav .slick-slide.slick-current{
    opacity: 1;
}

section.main{
    margin-top: -56px;
}

section.main, section.main .bg_handler img.bg_sl_mp{
    min-height: 600px;
    height: calc(100vh - 110px);
}
section.main .banner-im{
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.footer{
    line-height: 1.5;
    ul.list{
        padding: 0;
        li.list__item{
            list-style: none;
        }
    }
    p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 1.25rem;
        line-height: 1.6;
    }
    .text-small, small, .small {
        font-size: 12px;
        line-height: 16px;
    }
    .mb-0{
        margin-bottom: 0;
    }
    .mt-20{
        margin-top: 20px;
    }
}

body.card section.choice.choice_update,
section.choice.choice_update{
    min-height: unset;
    padding-bottom: 120px;
}
section.courses.blog {
    padding-top: 20px;
}
body.other-page section.reviews,
body.other-page section.teachers,
section.courses.portfolio {
    padding-top: 60px;
}
section.faq {
    padding: 100px 0 40px;
}
body.other-page section.about {
    padding-top: 60px;
    .h1_page{
        height: auto;
    }
}
footer.footer{
    position: unset;
}

.info-block{
    padding: map-get($spacers, 4) 0;
    background: linear-gradient(#f9eaf1, #f0c9d8);
    color: $grey;
    text-align: center;
    .h2, h2 {
        font-family: "Noto Serif", serif;
        font-size: 35px;
        color: #000;
    }
    p{
        font-family: "Noto Sans";
        line-height: 1.6;
        color: $grey;
        margin-bottom: 1.25rem;
    }
    .btn {
        border: none;
        padding: 18px 40px;
        border-radius: 30px;
        outline: none;
        text-align: center;
        display: inline-block;
        max-width: 100%;

        cursor: pointer;
        transition: .4s;
        &_action{
            background: $pink;
            color: #ffffff;
            font-weight: bold;
        }
    }
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-bold{
    font-weight: 700;
}

.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.img-fluid{
    max-width: 100%;
}

// Download Recommend Block
.item-icon{
    position: relative;
    background-color: $white;
    
    .btn{
        border: none;
        outline: none;
    
        padding: 15px 30px;
        border-radius: 30px;
        max-width: 100%;
        
        text-align: center;
        max-width: 100%;
    
        cursor: pointer;
        transition: .4s;
        
        &:hover, &:focus{
            text-decoration: none;
            outline: none;
        }
        &_default{
            color: $pink;
            background-color: $pink-light;
            font-weight: bold;
            &:hover{
                color: darken($pink, 10%);
                background: darken($pink-light, 5%);
            }
        }
    }
}
.item__title{
    font-size: 1.25rem;
    line-height: 1.2;
}
.item__input-col{
    flex: 0 0 calc(100% - 200px);
    max-width: calc(100% - 200px);
}
.d-none{
    display: none;
}

@media (max-width: 992px){
    .header .header__logo {
        background: url('/manager/templates/magenta2019/img/logo.svg') no-repeat center/contain!important;
    }
    section.main{
        margin-top: 0px;
    }
    section.main .banner-im{
        background-position-x: calc(50% + 60px);
    }
}
@media (max-width: 768px){
    .info-block{
        padding: 40px 0;
        .h2, h2{
            font-size: 26px;
        }
    }
}
@media (max-width: 576px){}
@media (max-width: 420px){
    section.main .banner-im{
        background-position-x: calc(50% + 140px);
    }
}