.header{
    padding: 20px 0 0;    

    .header__row{
        flex-wrap: nowrap;
    }
    .header__col{
        flex: 0 0 calc( 50% - 115px);
        max-width: calc( 50% - 115px);
    }
    .header__line{
        & + .header__line{
            margin-top: 20px;
        }

        &_right-col{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 5px;
        }
    }
    .header__item{
        & + .header__item{
            margin-left: map-get($spacers, 1);
        }
    }
    .header__logo{
        background: url("../img/logo.svg") no-repeat center 0px/ contain;
        
        flex: 0 0 230px;
        max-width: 230px;

        height: 140px;
        margin: 0 auto;
        display: block;
    }
}
@media all and (max-width: 1200px){
    .header{
        .header__logo{
            flex: 0 0 100px;
            max-width: 100px;
            height: 70px;
            background-position-y: bottom;
        }
        .header__col{
            flex: 0 0 calc( 50% - 50px);
            max-width: calc( 50% - 50px);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        display: none;
    }
}