.item{
    &__title{
        font-size: 1.25rem;
        line-height: 1.2;

        &_num{
            font-family: 'Noto Serif', serif;
            font-weight: bold;
            font-size: 3rem;

            color: $pink;
            max-width: 100%;
            white-space: nowrap;
            margin: 0 0 5px;
            overflow: hidden;
        }
    }
    &__number{
        font-size: 4rem;
        font-family: 'Noto Serif', serif;
        line-height: 1;

        position: relative;
    }

    &:not(.item_last){
        .item__number{
            &:after{
                display: block;
                content: '';

                width: 130px;
                height: 6px;
                background-color: $light-grey;

                position: absolute;
                right: 0;
                top: calc(50% - 3px);
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item{
        &__title{
            &_num{
                font-size: 2.5rem;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item{
        &__title{
            &_num{
                font-size: 2rem;
            }
        }
    }
}