html(lang="ru")
    include chunks/head.pug
    body.header-fixed
        script(src="/js/jquery.min.js")
        include chunks/header.pug
        section.header-block
            .container.header-block__container
                .row
                    .col-6.col-md-12.col-lg-10
                        p.header-block__subtitle #экспресс-курс
                        h1.header-block__title Освойте флористику  всего за&nbsp;5&nbsp;дней
                        .row
                            .col-6.col-sm-12.mb-sm-20.col-md-4.col-lg-4
                                .subtitle.text-uppercase Сроки
                                .header-block__info 40 ак. часов
                                .header-block__offer 80% практики и&nbsp;20%&nbsp;теории
                            .col-6.col-sm-12.col-md-4.col-lg-5
                                .subtitle.text-uppercase Уровень
                                .header-block__info обучение с нуля
                                .header-block__offer лучший способ начать освоение профессии
            img.header-block__image(src="/img/flowers.png")
        section.content
            .container
                p.h2.mb-40.text-bold Кому подходит экспресс-курс?
                .row
                    .col-4.col-sm-10.mb-sm-20.col-lg-6
                        p.icon-block.mb-0 желающим быстро получить  
                            span.text-bold и&nbsp;освоить новые навыки
                    .col-4.col-sm-10.mb-sm-20.col-lg-6
                        p.icon-block.mb-0 
                            span.text-bold получить знания 
                            | в области флористики для себя
                    .col-4.col-sm-10.col-lg-6
                        p.icon-block.mb-0 мечтающим 
                            span.text-bold работать 
                            | помощником&nbsp;флориста
                .row
                    .col-6.col-md-12.col-lg-8
                        p.h2.text-bold Как устроено обучение в&nbsp;школе «Маджента»? 
                    .col-6.col-md-12.col-lg-10
                        p.text-top Обучение организовано так, чтобы студент смог максимально погрузиться в свою специальность, не отвлекаясь на лишнее. В начале занятий вы получаете теоретические знания. Многократно применяя новые знания, решая задачи, вы тренируете умения и навык. Именно их все работодатели высоко ценят. После сдачи экзамена выпускники школы могут сразу найти работу по профессии.               
        section.content.bg-light-grey.bg-flowers_02
            .container
                p.h3.text-bold.mb-40 После окончания курса вы сможете:
                .row.justify-content-between
                    .col-4.mb-40.mb-lg-20.col-sm-12.col-lg-6
                        .icon-list
                            .icon.icon_default
                            p.mb-0 Правильно подбирать цветы к каждой работе, учитывая фактуру, цвет и законы композиции
                    .col-4.mb-40.mb-lg-20.col-sm-12.col-lg-6
                        .icon-list
                            .icon.icon_default
                            p.mb-0 Делать композиции в кашпо и коробках в различных стилях и техниках
                    .col-4.mb-40.mb-lg-20.col-sm-12.col-lg-6
                        .icon-list
                            .icon.icon_default
                            p.mb-0 Составлять букеты и модно их упаковывать. Профессионально работать с флористической губкой
                    .col-4.col-sm-12.mb-sm-20.col-lg-6
                        .icon-list
                            .icon.icon_default
                            p.mb-0 Креативно исполнять свадебные букеты (на своих ногах и в портбукетнице)
                    .col-4.col-sm-12.col-lg-6
                        .icon-list
                            .icon.icon_default
                            p.mb-0 Устроиться на работу на должности «Флорист» (помощник флориста)
        section.content
            .container
                h3.text-center.text-bold.mb-40 Работы выпускников экспресс-курса
                .row.no-gutters.portfolio.mb-40
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/02.png")
                        img.img-fluid(src="/img/02.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item
                        img.img-fluid(src="/img/02.png")
                .text-center
                    a.btn.btn_action(href="#") Хочу записаться
        section.content.programm.bg-light-grey
            .container
                p.h2.text-center.text-bold.mb-40 Программа курса
                .programm__item.item-slide.item-slide_programm.mb-40.mb-sm-20
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 1 день: «Инструменты и материалы»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        .row
                            .col-8.col-sm-12
                                p.subtitle Теория
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                                p.subtitle Практика
                                p.mb-0 спиральная техника
                            .col-4.col-sm-12.mt-sm-40
                                img.img-fluid.ml-auto.ml-sm-(src="../img/01.png")
                .programm__item.item-slide.item-slide_programm.mb-40.mb-sm-20
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 2 день: «Свежесрезанные цветы»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        p.subtitle Теория
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        p.subtitle Практика
                        p.mb-0 спиральная техника
                .programm__item.item-slide.item-slide_programm
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 3 день: «Цвет и настроение»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        p.subtitle Теория
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        p.subtitle Практика
                        p.mb-0 спиральная техника
        section.content
            .container
                .row.justify-content-between.flex-sm-column-reverse
                    .col-4.col-sm-12.col-md-5.sertificate
                        img.img-fluid.sertificate__image(src="/img/sertificate.jpg", alt="")
                        p.sertificate__content 100% работодателей отдадут предпочтение сотруднику прошедшему обучение у нас
                    .col-6.col-sm-12.mb-sm-40.col-md-7
                        p.h4.text-bold.mb-20 Вот чем мы лучше многих:
                        ul.list.list_advantage
                            li.list__item Преподаватели с 10-летним&nbsp;опытом
                            li.list__item После наших курсов открывают свой&nbsp;бизнес
                            li.list__item Помогаем с&nbsp;трудоустройством и&nbsp;конкурсами
                            li.list__item Выдаем сертификат
                            li.list__item Работаем со свежими живыми&nbsp;цветами
                            li.list__item 80% времени — практика, 20%&nbsp;—&nbsp;теория
        section.content.pt-lg-0
            .container
                .row
                    .col-9.col-md-12.col-lg-10
                        p.h1.text-bold.mb-md-40
                            span.text-pink Более 3500 
                            | человек из&nbsp;разных городов остались довольны
                .row.align-items-center.justify-content-between(style="padding-top:0;")
                    .col-5.col-md-7.col-sm-12.mb-sm-40
                        p.mb-20 Наш учебный центр расположен в Санкт-Петербурге и не смотря на это, около 10% всех наших студентов приезжают к нам из других городов.
                        p.mb-0
                            a.link-inverse.text-uppercase.text-bold(href="#") + отзывы наших выпускников 
                    .col-6.col-md-5.col-sm-12
                        img.img-fluid(src="/img/maps.png")
        section.cta-block.cta-block_winter
            .container.p-relative
                .cta-block__info
                    p.subtitle Ближайшая группа
                    p.h5.cta-block__info-title.text-bold с 15 июля по 19 июля
                    a.link-grey.text-small(href="#") + подробное расписание
                .cta-block__info
                    p.subtitle Обычная цена
                    p.cta-block__info-title
                        span.price-old 19 000 р.
                        span.price.h5.text-bold 15 800 р.
                    p.text-grey.text-small.mb-0 цена действительно до 12 июля
                p.h1.cta-block__title Оставьте заявку на&nbsp;обучение
                p.cta-block__offer Запишитесь на курс online и&nbsp;
                    span.text-bold.text-pink получите скидку 15%!
                form.form.cta-block__form(action="")
                    input.form__input.form__input_name(placeholder="Ваше имя")
                    input.form__input.form__input_phone(placeholder="Телефон")
                    button.btn.btn_action(type="submit") Хочу записаться
                    .form__agree.checkbox
                        input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                        label.checkbox__label(for="agree") согласен с 
                            a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
        section.content
            .container
                p.h1.text-bold.mb-20 Популярные вопросы
                .item-slide.item-slide_faq
                    .item-slide__title Какие инструменты нужны для занятий?
                    .item-slide__content
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                .item-slide.item-slide_faq
                    .item-slide__title Какие инструменты нужны для занятий?
                    .item-slide__content
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                .item-slide.item-slide_faq
                    .item-slide__title Какие инструменты нужны для занятий?
                    .item-slide__content
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                p.mb-0.mt-40
                    a.link-inverse.text-uppercase.text-bold(href="#") + Все вопросы
        
        //- <div id="jGrowl" class="top-right jGrowl">
        //-     <div class="jGrowl-notification"></div>
        //-     <div class="jGrowl-notification alert ui-state-highlight ui-corner-all af-message-success" style="display: block;">
        //-     <button class="jGrowl-close">×</button>
        //-     <div class="jGrowl-header"></div>
        //-     <div class="jGrowl-message">Номер телефона указан не корректно</div>
        //-     </div>
        //- </div>
        include chunks/footer.pug
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js") 
        //- link(href='./css/jquery.jgrowl.min.css', rel='stylesheet')