html(lang="ru")
    include chunks/head.pug
    body.header-fixed
        script(src="/js/jquery.min.js")
        include component/header/header.pug
        include component/navbar/navbar.pug
        //- Основной контент страницы
        section.page
            //- Первый экран 
            .page__header-block(style="background-image: url('../img/bg-default.jpg');")
                .container
                    h1.page__title Подарочные сертификаты
                    p.page__introtext.mb-40.mb-sm-20 Для творческих личностей, людей желающих попробовать 
                        | новое, тем, кто составляет букеты для себя и работающим флористам, для повышения уровня.
                    a.btn.btn_action.scroll(href="#test") Подобрать сертификат
            //- Слайдер с контентом
            .page__slider-container
                .row.slider.page__slider
                    .col-4
                        .info.info_offset-small
                            p.info__title.info__title_small Профессионалы высокого уровня
                            p.text-small.text-grey Преподают Елена Дмитриева и Татьяна Воронина: члены Национальной 
                                | Гильдии Флористов, флористы с 15-тилетним стажем, судьи проф. конкурсов по системе 
                                | сертификации FLORINT
                    .col-4
                        .info.info_offset-small
                            p.info__title.info__title_small Раскрывают творческий потенциал
                            p.text-small.text-grey Преподаватели имеют 10-летний опыт обучения, проверенные временем уникальные методики. Вы сможете создать шедевры и воссоздавать понравившиеся букеты/композиции.
                    .col-4
                        .info.info_offset-small
                            p.info__title.info__title_small Обучают европейским тенденциям
                            p.text-small.text-grey Преподаватели участвуют в международных выставках в Европе, отслеживая модные тенденции. А школа приглашает звезд мировой флористики для проведения мастер-классов.
                    .col-4
                        .info.info_offset-small
                            p.info__title.info__title_small Используют свежие цветы и зелень
                            p.text-small.text-grey Считаем, что научиться составлять букеты и композиции можно только с использованием свежесрезанных цветов и зелени.
                    .col-4
                        .info.info_offset-small
                            p.info__title.info__title_small Помогают открыть свой бизнес
                            p.text-small.text-grey Помогаем нашим выпускникам успешно открыть свой цветочный бизнес как в Санкт-Петербурге, так и в других городах России.
            .container.pb-60
                //- Денежный сертификат
                .info.bg-wave.mb-40
                    .row.align-items-center
                        .col-5.col-xl-5.col-lg-12
                            p.info__title Денежный сертификат
                            p.text-grey.mb-0 Укажите любую сумму и подарите возможность выбрать курс, мастер-класс 
                                | или индивидуальный урок самостоятельно.
                        .col-7.col-xl-7.col-lg-12.mt-lg-20
                            .form.mb-0
                                .form__group
                                    .form__col.form__col-input
                                        input.form-input.form-input--full#getSertificateValue(type="number" placeholder="Укажите сумму")
                                    .form__col.col-sm-12
                                        a.btn.btn--full.btn_action#getMoneySertificate(href="#") Сделать заказ
                //- Подбор сертификата
                .row.align-items-center.align-items-xl-start.flex-md-column-reverse
                    .col-5.col-xl-4.col-lg-5.col-md-12.mt-sm-20.mt-md-40
                        img.img-fluid.img-radius(src="../img/sertificate-mockup.jpg")
                    .col-7.col-xl-8.col-lg-7.col-md-12.col-lg-7.mt-sm-20#test
                        p.h2.text-bold Нужен идеальный <br/>подарок?
                        p Индивидуальный подбор сертификата. Пройдите наш опрос и мы 
                            | поможем выбрать подоходящий курс или мастер-класс.
                        .sertificate.sertificate_poll.mt-40
                            .sertificate__fill
                                .sertificate__fill-active(style="width: 25%;")
                            .sertificate__step.sertificate__step--active(data-width="25%" data-count="question-1")
                                .sertificate__title Шаг 1: заголовок
                                .row.mt-20.mb-20.sertificate__row
                                    .col-6.col-lg-12.mb-20   
                                        .sertificate__item.sertificate__item_image.sertificate__item--active(data-action="question-2")
                                            .sertificate__item-image(style="background-image: url('../img/pic-4.png');")
                                            .sertificate__item-title Вариант 1
                                    .col-6.col-lg-12.mb-20
                                        .sertificate__item.sertificate__item_image(data-action="question-3")
                                            .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
                                            .sertificate__item-title Вариант 2
                                    .col-6.col-lg-12
                                        .sertificate__item.sertificate__item_image(data-action="result-1")
                                            .sertificate__item-image(style="background-image: url('../img/pic-6.png');")
                                            .sertificate__item-title Вариант 3
                                .btn-group
                                    a.btn.btn_default.btn--disable(data-href="prev" href="#") Назад
                                    a.btn.btn_default(data-href="next" href="#") Вперед
                            .sertificate__step(data-count="question-2" data-width="50%")
                                .sertificate__title Шаг 2: вариант 1
                                .row.mt-20.mb-20.sertificate__row
                                    .col-6.col-lg-12.mb-lg-20   
                                        .sertificate__item.sertificate__item_icon(data-action="question-3")
                                            .sertificate__item-icon(style="background-image: url('../icon/star1.svg');")
                                            .sertificate__item-title Вариант 1
                                    .col-6.col-lg-12
                                        .sertificate__item.sertificate__item_icon(data-action="result-1")
                                            .sertificate__item-icon(style="background-image: url('../icon/star2.svg');")
                                            .sertificate__item-title Вариант 2
                                .btn-group
                                    a.btn.btn_default(data-href="prev" data-action="question-1" href="#") Назад
                                    a.btn.btn_default(data-href="next" href="#") Вперед
                            .sertificate__step(data-count="question-3" data-width="75%")
                                .sertificate__title Шаг 2: вариант 2
                                .row.mt-20.mb-20.sertificate__row
                                    .col-6.col-lg-12.mb-lg-20   
                                        .sertificate__item.sertificate__item_image(data-action="question-2")
                                            .sertificate__item-image(style="background-image: url('../img/pic-4.png');")
                                            .sertificate__item-title Вариант 1
                                    .col-6.col-lg-12
                                        .sertificate__item.sertificate__item_image(data-action="result-1")
                                            .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
                                            .sertificate__item-title Вариант 2
                                .btn-group
                                    a.btn.btn_default(data-href="prev" data-action="question-1" href="#") Назад
                                    a.btn.btn_default(data-href="next" href="#") Вперед
                            .sertificate__step(data-count="result-1" data-width="100%")
                                .sertificate__title Результат 1
                                .sertificate__result.mt-20.mb-20
                                    .sertificate__item.sertificate__item_result.mb-20
                                        .sertificate__item-image.sertificate__item-image_result(style="background-image: url('../img/pic-5.png');")
                                        .sertificate__item-content
                                            a.sertificate__item-link(href="courses.html") Базовый курс флористики
                                            p.text-small.mb-0 количество часов: 70
                                            p.text-small.mb-0 график: с 12 по 23 октября
                                            p.text-small стоимость: 30 000
                                        a.sertificate__item-buy(href="#" title="Купить сертификат")
                                    .sertificate__item.sertificate__item_result
                                        .sertificate__item-image.sertificate__item-image_result(style="background-image: url('../img/pic-4.png');")
                                        .sertificate__item-content
                                            a.sertificate__item-link(href="courses.html") Рождественские композиции со свечами в школе флористики
                                            p.text-small.mb-0 количество часов: 70
                                            p.text-small.mb-0 график: с 12 по 23 октября
                                            p.text-small стоимость: 30 000
                                        a.sertificate__item-buy(href="#" title="Купить сертификат")
                                .btn-group
                                    a.btn.btn_default(data-href="prev" data-action="question-1" href="#") Вернуться в начало
        //- CTA блок с формой
        section.cta-block.cta-block_offset-top#getSertificate
            .container.p-relative
                p.h1.cta-block__title.mt-0 Знаете какой нужен сертификат?
                p.cta-block__offer Оставьте номер телефона и менеждер поможет завершить оформление заказа 
                    span.text-bold.text-pink#sertificateInfo 
                form.form.cta-block__form(action="")
                    input.form-input.form-input--full.mb-20.sertificate-action-input(placeholder="Выбрать сертификат" value="")
                    input.form-input.form-input--full.mb-20.phone(placeholder="Телефон")
                    button.btn.btn_action(type="submit") Заказать сертификат
                    .form__agree.checkbox
                        input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                        label.checkbox__label(for="agree") согласен с 
                            a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
        include component/footer/footer.pug
        //- Модальные окна
        .modal.sertificate.sertificate_modal#sertificateModal
            .sertificate__item.sertificate__item_modal.mb-20
                .sertificate__item-image(style="background-image: url('../img/pic-3.png');")
                .sertificate__item-content.sertificate__item-content_modal
                    p.sertificate_modal__title Мастер-класс «Рождественские композиции со свечами»
                    p.text-small.mb-0 количество часов: 5
                    p.text-small.mb-0 график: с 12 по 12 октября
                    p.text-small стоимость: 2500
            .sertificate__item.sertificate__item_modal.mb-20
                .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
                .sertificate__item-content.sertificate__item-content_modal
                    p.sertificate_modal__title Базовый курс флористики
                    p.text-small.mb-0 количество часов: 70
                    p.text-small.mb-0 график: с 12 по 23 октября
                    p.text-small стоимость: 30 000
            .sertificate__item.sertificate__item_modal.mb-20
                .sertificate__item-image(style="background-image: url('../img/pic-5.png');")
                .sertificate__item-content.sertificate__item-content_modal
                    p.sertificate_modal__title Полный курс флористики
                    p.text-small.mb-0 количество часов: 70
                    p.text-small.mb-0 график: с 12 по 23 октября
                    p.text-small стоимость: 30 000
            .sertificate__item.sertificate__item_modal
                .sertificate__item-image(style="background-image: url('../img/pic-4.png');")
                .sertificate__item-content.sertificate__item-content_modal
                    p.sertificate_modal__title Рождественские композиции со свечами в школе флористики
                    p.text-small.mb-0 количество часов: 70
                    p.text-small.mb-0 график: с 12 по 23 октября
                    p.text-small стоимость: 30 000
        .modal.modal_form#sertificateMoney
            form.form(action="")
                input.form-input.form-input--full.mb-20.phone(placeholder="Телефон")
                label.text-bold.text-small Сумма сертификата:
                input.form-input.form-input--full.mb-20#sertificateValue(placeholder="Укажите сумму" value="")
                button.btn.btn_action(type="submit") Заказать сертификат
                .form__agree.checkbox
                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                    label.checkbox__label(for="agree") согласен с 
                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
        
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/jquery.inputmask.js")

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        script(src="./js/slick.min.js")

        script(src="./js/app.min.js") 