html(lang="ru")
    include chunks/head.pug
    body.header-fixed
        script(src="/js/jquery.min.js")
        include chunks/header.pug
        section.header-block
            .container.header-block__container
                .row
                    .col-7.col-md-12.col-lg-10
                        h1.header-block__title.mb-40 Свадебный online-курс флористики
                        p.text-pink.text-bold Освойте профессию флориста за 20 дней
                        ul.list.list_circle.mb-40
                            li.list__item 27 полноценных уроков
                            li.list__item Разбор практики с преподавателем
                            li.list__item Обучение с нуля всех желающих
                            li.list__item Бесплатный вебинар
                        p
                            a.btn.btn_action(href="#") Хочу записаться
                    .col-12.mt-60.mt-md-40
                        .d-flex.header-block__info-row
                            .header-block__info-row__col.mb-sm-20
                                .subtitle-light.text-grey Когда
                                .header-block__info доступен 24/7
                            .header-block__info-row__col.mb-sm-20
                                .subtitle-light.text-grey Уровень
                                .header-block__info обучение с нуля
                            .header-block__info-row__col.mb-sm-20
                                .subtitle-light.text-grey Формат
                                .header-block__info online-курс
                            .header-block__info-row__col.last
                                .subtitle-light.text-grey Документ
                                .header-block__info сертификат
        section.content.content_offset-small.p-relative
            .container
                p.h2.text-center.text-bold Для кого этот курс?
                .row.mt-60.mb-60
                    .col-6.col-sm-12.mb-40
                        .info.info_row
                            .col-5
                                img.img-fluid.img-border(src="../img/test-06.png")
                            .col-7
                                p.info__title Начинающих флористов
                                p.info__intro.text-grey Поздравьте сотрудников с&nbsp;помощью выездного творческого мастер-класса или проведите его прямо в офисе.
                    .col-6.col-sm-12.mb-40
                        .info.info_row
                            .col-5
                                img.img-fluid.img-border(src="../img/test-07.png")
                            .col-7
                                p.info__title Сотрудников цветочного магазина
                                p.info__intro.text-grey Поздравьте сотрудников с&nbsp;помощью выездного творческого мастер-класса или проведите его прямо в офисе.
                    .col-6.col-sm-12
                        .info.info_row
                            .col-5
                                img.img-fluid.img-border(src="../img/test-08.png")
                            .col-7
                                p.info__title Собственников цветочного магазина
                                p.info__intro.text-grey Поздравьте сотрудников с&nbsp;помощью выездного творческого мастер-класса или проведите его прямо в офисе.
                    .col-6.col-sm-12
                        .info.info_row
                            .col-5
                                img.img-fluid.img-border(src="../img/test-09.png")
                            .col-7
                                p.info__title Желающих получить новые знания
                                p.info__intro.text-grey Поздравьте сотрудников с&nbsp;помощью выездного творческого мастер-класса или проведите его прямо в офисе.
                p.h4.text-center.text-bold Что вы получите на online-курсе?
                .row.mt-60.mb-40.justify-content-center
                    .col-4.col-md-6.col-sm-12
                        .list.list_numeric
                            .list__item Опыт закупки и правильного хранения цветов 
                                span.list__number 1
                            .list__item Поддержку и комментарии от&nbsp;известных преподавателей  
                                span.list__number 2
                            .list__item Собственное портфолио 
                                span.list__number 3
                    .col-4.col-md-6.col-sm-12
                        .list.list_numeric
                            .list__item Навыки создания букетов в&nbsp;профессиональной технике 
                                span.list__number 4
                            .list__item Сертификат школы, который ценится в&nbsp;Европе и&nbsp;РФ  
                                span.list__number 5
                            .list__item Бесплатный вебинар с чемпионом Европы по флористике 
                                span.list__number 6
                a.btn.btn_action.btn_absolute-position(href="#") Записаться на курс
        section.content.bg-light-pink.bg-border
            .container
                p.h2.text-center.text-bold После обучения вы сможете
                .row.mt-60.mb-sm-20
                    .col-4.col-md-6
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/flowerpot-pink.svg")
                            .item-icon__content Составлять букеты и композиции в кашпо, коробках и корзинах в различных стилях и техниках
                    .col-4.col-md-6
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/bag-pink.svg")
                            .item-icon__content Правильно ухаживать за свежими цветами, продлевая им жизнь и сохраняя внешний вид
                    .col-4.col-md-6
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/diamond-pink.svg")
                            .item-icon__content Делать букет невесты в самых популярных техниках (на своих ногах и в портбукетнице)
                    .col-4.col-md-6
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/flower-pink.svg")
                            .item-icon__content Подбирать цветы к каждой работе, учитывая фактуру, цвет и законы композиции
                    .col-4.col-md-6
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/bouquet-pink.svg")
                            .item-icon__content Составить резюме и устроиться на работу на должность "Флорист" (помощник флориста)
                    .col-4.col-md-6
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/shears-pink.svg")
                            .item-icon__content Владеть профессиональной терминологией, разбираться в инструментах и материалах
                p.h4.text-center.text-bold Работы выпускников online-курса
                .row.mt-60.mb-40.no-gutters.portfolio
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/02.png")
                        img.img-fluid(src="/img/02.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item
                        img.img-fluid(src="/img/02.png")
                .pagination.justify-content-center
                    a.pagination__item.pagination__item--active(href="#") 1
                    a.pagination__item(href="#") 2
                    a.pagination__item(href="#") 3
                .mt-40.text-center
                    a.btn.btn_action(href="#") Хочу уметь также!
        section.info-content
            .container
                p.h2.text-center.text-bold Обучение у нас популярно! Почему?
                .content-line.mt-40.mb-40
                .row
                    .col-4.item
                        p.item__title.text-bold
                            span.text-pink-secondary 01.
                            |  Поддержка от экспертов
                        p.text-pink-light После каждого практического занятия вы фотографируете свою работу и получаете обратную связь 
                            | от преподавателя в&nbsp;течение&nbsp;48&nbsp;часов
                    .col-4.item
                        p.item__title.text-bold
                            span.text-pink-secondary 02.
                            |  Сертификат школы
                        p.text-pink-light Курс завершается экзаменом, после чего Вы получаете Сертификат Школы «Маджента», который ценится в сфере флористики не только в России, но и за рубежом
                    .col-4.item
                        p.item__title.text-bold
                            span.text-pink-secondary 03.
                            |  Полные базовые навыки
                        p.text-pink-light Lorem ipsum dolor sit amet. Amet, consectetur, adipisci velit, sed ut perspiciatis, unde omnis dolor. Sint, obcaecati cupiditate non numquam eius.
                .row.info-content__position.justify-content-center.pt-0
                    .col-5
                        .info.info_person.bg-pink
                            .info_person__img
                            p.subtitle-light.text-pink-light.text-small.mb-0 преподаватель курса
                            p.info__title Елена Дмитриева
                            p.info__intro.text-pink-light Флорист-дизайнер международного уровня,  с опытом работы более 10 лет.
                    .col-5
                        .info.info_person.bg-pink
                            .info_person__img
                            p.subtitle-light.text-pink-light.text-small.mb-0 преподаватель курса
                            p.info__title Татьяна Воронина
                            p.info__intro.text-pink-light Флорист-дизайнер международного уровня,  с опытом работы более 10 лет.
        section.programm.bg-light-grey
            .container  
                p.h4.text-bold.text-center.mb-60 Программа online-курса
                .programm__item.programm__item_small.item-slide.item-slide_programm.mb-20
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 1 день: «Инструменты и материалы»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        .row
                            .col-8.col-sm-12
                                p.subtitle Теория
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                                p.subtitle Практика
                                p.mb-0 спиральная техника
                            .col-4.col-sm-12.mt-sm-40
                                img.img-fluid.ml-auto.ml-sm-(src="../img/01.png")
                .programm__item.programm__item_small.item-slide.item-slide_programm.mb-20
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 2 день: «Свежесрезанные цветы»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        p.subtitle Теория
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        p.subtitle Практика
                        p.mb-0 спиральная техника
                .programm__item.programm__item_small.item-slide.item-slide_programm
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 3 день: «Цвет и настроение»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        p.subtitle Теория
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        p.subtitle Практика
                        p.mb-0 спиральная техника
                .text-center.mt-40
                    a.text-grey-dark.text-bold.text-small(href="#") Показать ещё темы
        section.content
            .container
                p.h2.text-bold.mb-60 Как проходит обучение?
                .row
                    .col-3.item
                        p.item__number.text-pink 01
                        p.item__title.text-bold Занятия
                        p.text-grey Lorem ipsum dolor sit amet. Amet, consectetur, adipisci velit, sed ut perspiciatis, unde omnis dolor. Sint, obcaecati cupiditate non numquam eius. Eos, qui ratione voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    .col-3.item
                        p.item__number.text-pink 02
                        p.item__title.text-bold Практика
                        p.text-grey Amet, consectetur, adipisci velit, sed quia dolor. Autem quibusdam et aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus. Perferendis doloribus asperiores repellat. numquam eius modi tempora incidunt.
                    .col-3.item
                        p.item__number.text-pink 03
                        p.item__title.text-bold Обратная связь
                        p.text-grey Temporibus autem vel eum fugiat, quo minus. Esse, quam nihil molestiae consequatur, vel illum.
                        .info.info_small.d-inline-block
                            p.subtitle.mb-0 Бонус
                            p.text-grey Бесплатный вебинар с&nbsp;флористами
                    .col-3.item
                        p.item__number.text-pink 04
                        p.item__title.text-bold Работа мечты
                        p.text-grey Vitae dicta sunt, explicabo iste natus error. Itaque earum rerum necessitatibus saepe eveniet, ut labore et quas molestias excepturi. Reprehenderit, qui in culpa, qui dolorem eum fugiat, quo minus.
        include chunks/footer.pug
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/jquery.inputmask.js")

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        script(src="./js/slick.min.js")
        
        script(src="./js/app.min.js")