html(lang="ru")
    include chunks/head.pug
    body.header-fixed
        script(src="/js/jquery.min.js")
        include chunks/header.pug
        section.header-block.header-block_col
            .container.header-block__container
                .row.align-items-center
                    .col-7.col-md-12.col-lg-6
                        h1.header-block__title.mb-40 Online-курс флористики
                        p.text-pink.text-bold.lead Освойте профессию флориста за 20 дней
                        ul.list.list_circle.mb-20
                            li.list__item 27 полноценных уроков
                            li.list__item Разбор практики с преподавателем
                            li.list__item Обучение с нуля всех желающих
                            li.list__item Бесплатный вебинар
                        .d-flex.header-block__info-row.mb-40.mb-sm-20
                            .header-block__info-col.mb-20.mb-lg-0.mb-md-10
                                .subtitle-light.text-grey Когда
                                .header-block__info доступен 24/7
                            .header-block__info-col.mb-20.mb-lg-0.mb-md-10
                                .subtitle-light.text-grey Уровень
                                .header-block__info обучение с нуля
                            .header-block__info-col.mb-lg-0.mb-md-10
                                .subtitle-light.text-grey Формат
                                .header-block__info online-курс
                            .header-block__info-col.last
                                .subtitle-light.text-grey Документ
                                .header-block__info сертификат
                        p
                            a.btn.btn_action(href="#") Хочу записаться
                    .col-5.col-md-12.col-lg-6.mt-sm-40
                        .header-block_col__image(style="background-image:url('../img/01.png');")
        section.content.content_offset-small.p-relative
            .container
                .row.mb-40.mb-sm-20
                    .col-7.col-lg-10.col-sm-12
                        p.h1.text-bold.mb-0 Кому идеально подойдет этот курс
                .row
                    .col-3.col-lg-6.col-sm-12.mb-40.mb-sm-20
                        .cources
                            .cources__img(style="background-image:url('../img/02.png');")
                            .cources__title Начинающим флористам
                            ul.list.list_circle
                                li.list__item даст отличную теоретическую и практическую базу
                                li.list__item станет хорошим стартом для Вашего творческого развития
                                li.list__item даст общее представление о том, как устроен флористический бизнес
                                li.list__item научит как правильно оборудовать цветочный магазин и подготовить его к открытию
                    .col-3.col-lg-6.col-sm-12.mb-40.mb-sm-20
                        .cources
                            .cources__img(style="background-image:url('../img/01.png');")
                            .cources__title Флористам с&nbsp;опытом работы
                            ul.list.list_circle
                                li.list__item даст отличную теоретическую и практическую базу
                                li.list__item станет хорошим стартом для Вашего творческого развития
                                li.list__item даст общее представление о том, как устроен флористический бизнес
                                li.list__item научит как правильно оборудовать цветочный магазин и подготовить его к открытию
                    .col-3.col-lg-6.col-sm-12.mb-40.mb-sm-20
                        .cources
                            .cources__img(style="background-image:url('../img/04.png');")
                            .cources__title Владельцам цветочного бизнеса
                            ul.list.list_circle
                                li.list__item даст отличную теоретическую и практическую базу
                                li.list__item станет хорошим стартом для Вашего творческого развития
                                li.list__item даст общее представление о том, как устроен флористический бизнес
                                li.list__item научит как правильно оборудовать цветочный магазин и подготовить его к открытию
                    .col-3.col-lg-6.col-sm-12.mb-40.mb-sm-20
                        .cources
                            .cources__img(style="background-image:url('../img/03.png');")
                            .cources__title Всем творческим людям
                            ul.list.list_circle
                                li.list__item даст отличную теоретическую и практическую базу
                                li.list__item станет хорошим стартом для Вашего творческого развития
                                li.list__item даст общее представление о том, как устроен флористический бизнес
                                li.list__item научит как правильно оборудовать цветочный магазин и подготовить его к открытию
                .info.info_promo.text-center.bg-corporate.mt-40.mb-60
                    p.info_promo__subtitle БЕСПЛАТЫЙ ВЕБИНАР
                    p.info_promo__title 7 ключевых навыков современного флориста
                    p.info_promo__content.mb-0 До начала вебинара:
                    .timer.mt-20.mb-20(id="countdown" data-time="06/12/2020 10:30")
                    a.btn.btn_default(href="#") Присоединиться
                p.h4.text-bold.mb-0 Что вы получите на online-курсе?
                .list.list_numeric.row.mt-60.mb-20.mt-sm-40.justify-content-md-center
                    .list__item.list__item_col.col-4.col-xl-5.col-lg-6.col-md-9.col-sm-12.mb-20 Опыт закупки и правильного хранения цветов 
                        span.list__number 1
                    .list__item.list__item_col.col-4.col-xl-5.col-lg-6.col-md-9.col-sm-12.mb-20 Поддержку и комментарии от&nbsp;известных преподавателей  
                        span.list__number 2
                    .list__item.list__item_col.col-4.col-xl-5.col-lg-6.col-md-9.col-sm-12.mb-20 Собственное портфолио 
                        span.list__number 3
                    .list__item.list__item_col.col-4.col-xl-5.col-lg-6.col-md-9.col-sm-12.mb-20 Навыки создания букетов в&nbsp;профессиональной технике 
                        span.list__number 4
                    .list__item.list__item_col.col-4.col-xl-5.col-lg-6.col-md-9.col-sm-12.mb-20 Сертификат школы, который ценится в&nbsp;Европе и&nbsp;РФ  
                        span.list__number 5
                    .list__item.list__item_col.col-4.col-xl-5.col-lg-6.col-md-9.col-sm-12.mb-20 Бесплатный вебинар с чемпионом Европы по флористике 
                        span.list__number 6
                a.btn.btn_action.btn_absolute-position(href="#") Записаться на курс
        section.content.bg-light-pink.bg-border
            .container
                p.h2.text-center.text-bold.pt-lg-40 После обучения вы сможете
                p.text-center.lead.text-grey Устроиться на должность «помощник флориста», «флорист» или даже открыть цветочный бизнес
                .row.mt-60.mt-sm-40.mb-sm-20
                    .col-4.col-lg-6.col-md-6.col-sm-12
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/flowerpot-pink.svg")
                            .item-icon__content Составлять букеты и композиции в кашпо, коробках и корзинах в различных стилях и техниках
                    .col-4.col-lg-6.col-md-6.col-sm-12
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/bag-pink.svg")
                            .item-icon__content Правильно ухаживать за свежими цветами, продлевая им жизнь и сохраняя внешний вид
                    .col-4.col-lg-6.col-md-6.col-sm-12
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/diamond-pink.svg")
                            .item-icon__content Делать букет невесты в самых популярных техниках (на своих ногах и в портбукетнице)
                    .col-4.col-lg-6.col-md-6.col-sm-12
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/flower-pink.svg")
                            .item-icon__content Подбирать цветы к каждой работе, учитывая фактуру, цвет и законы композиции
                    .col-4.col-lg-6.col-md-6.col-sm-12
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/bouquet-pink.svg")
                            .item-icon__content Составить резюме и устроиться на работу на должность "Флорист" (помощник флориста)
                    .col-4.col-lg-6.col-md-6.col-sm-12
                        .item-icon.mb-60.mb-sm-20
                            img.item-icon__img(src="../icon/shears-pink.svg")
                            .item-icon__content Владеть профессиональной терминологией, разбираться в инструментах и материалах
                p.h4.text-center.text-bold Работы выпускников online-курса
                .row.mt-60.mt-sm-40.mb-40.no-gutters.portfolio
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/02.png")
                        img.img-fluid(src="/img/02.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/03.png")
                        img.img-fluid(src="/img/03.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/01.png")
                        img.img-fluid(src="/img/01.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item(data-fancybox="gallery" href="/img/04.png")
                        img.img-fluid(src="/img/04.png")
                    .col-3.col-sm-6.col-md-4.portfolio__item
                        img.img-fluid(src="/img/02.png")
                .pagination.justify-content-center
                    a.pagination__item.pagination__item--active(href="#") 1
                    a.pagination__item(href="#") 2
                    a.pagination__item(href="#") 3
                .mt-40.text-center
                    a.btn.btn_action(href="#") Хочу уметь также!
        section.info-advantage
            .container
                p.h1.text-bold.mb-40 Обучение у нас популярно! Почему?
                .row._justify-content-center
                    .col-4.col-lg-6.col-md-12.col-sm-12.mb-lg-40.item
                        p.item__title.text-bold
                            span.text-pink 01.
                            |  Поддержка от экспертов
                        p После каждого практического занятия вы фотографируете свою работу и получаете обратную связь 
                            | от преподавателя в&nbsp;течение&nbsp;48&nbsp;часов
                    .col-4.col-lg-6.col-md-12.col-sm-12.mb-lg-40.item
                        p.item__title.text-bold
                            span.text-pink 02.
                            |  Сертификат школы
                        p Курс завершается экзаменом, после чего Вы получаете Сертификат Школы «Маджента», который ценится в сфере флористики не только в России, но и за рубежом
                    .col-4.col-lg-6.col-md-12.col-sm-12.item
                        p.item__title.text-bold
                            span.text-pink 03.
                            |  Полные базовые навыки
                        p Lorem ipsum dolor sit amet. Amet, consectetur, adipisci velit, sed ut perspiciatis, unde omnis dolor. Sint, obcaecati cupiditate non numquam eius.
                .row.info-advantage__position._justify-content-center
                    .col-6.col-xl-6.col-lg-6.col-md-10.col-sm-12.mb-lg-40
                        .info.info_person.bg-pink
                            .info__img(style="background-image: url('../img/Elena.jpg')")
                            p.subtitle-light.text-pink-light.text-small.mb-0 преподаватель курса
                            p.info__title Елена Дмитриева
                            p.info__intro.text-pink-light Флорист-дизайнер международного уровня, с&nbsp;опытом работы более&nbsp;10 лет.
                    .col-6.col-xl-6.col-lg-6.col-md-10.col-sm-12
                        .info.info_person.bg-pink
                            .info__img(style="background-image: url('../img/Tatiana.jpg')")
                            p.subtitle-light.text-pink-light.text-small.mb-0 преподаватель курса
                            p.info__title Татьяна Воронина
                            p.info__intro.text-pink-light Флорист-дизайнер международного уровня, с&nbsp;опытом работы более 10&nbsp;лет.
        section.programm.bg-light-grey
            .container  
                p.h4.text-bold.text-center.mb-60.mb-lg-40 Программа online-курса
                .programm__item.programm__item_small.programm__item_slide.item-slide.item-slide_programm
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 1 день: «Инструменты и материалы»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        .row
                            .col-8.col-sm-12
                                p.subtitle Теория
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                                p.subtitle Практика
                                p.mb-0 спиральная техника
                            .col-4.col-sm-12.mt-sm-40
                                img.img-fluid.ml-auto.ml-sm-(src="../img/01.png")
                .programm__item.programm__item_small.programm__item_slide.item-slide.item-slide_programm.mt-20
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 2 день: «Свежесрезанные цветы»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        p.subtitle Теория
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        p.subtitle Практика
                        p.mb-0 спиральная техника
                .programm__item.programm__item_small.programm__item_slide.item-slide.item-slide_programm.mt-20
                    .row.align-items-center
                        p.programm__title.col-7.col-sm-12.col-md-6 3 день: «Цвет и настроение»
                        p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                    .programm__content.item-slide__content
                        p.subtitle Теория
                        p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        p.subtitle Практика
                        p.mb-0 спиральная техника
                .hidden-theme.hidden-theme--hidden(style="display:none;")
                    .programm__item.programm__item_small.programm__item_slide.item-slide.item-slide_programm.mt-20
                        .row.align-items-center
                            p.programm__title.col-7.col-sm-12.col-md-6 1 день: «Инструменты и материалы»
                            p.programm__time.col-5.mb-0.col-sm-12.col-md-6 2 часа теории   +   4 часа практики
                        .programm__content.item-slide__content
                            .row
                                .col-8.col-sm-12
                                    p.subtitle Теория
                                    p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                                    p.subtitle Практика
                                    p.mb-0 спиральная техника
                                .col-4.col-sm-12.mt-sm-40
                                    img.img-fluid.ml-auto.ml-sm-(src="../img/01.png")    
                .text-center.mt-40
                    a.show-theme.show-theme--active.text-grey-dark.text-bold.text-small(href="#") Показать ещё темы
        section.content
            .container
                p.h1-lead.text-bold.mb-60 Как проходит обучение?
                .row.mb-60
                    .col-3.col-lg-6.col-sm-12.item.item_step.mb-lg-40
                        .item__content
                            p.item__title.text-bold Занятия
                            p.text-grey Lorem ipsum dolor sit amet. Amet, consectetur, adipisci velit, sed ut perspiciatis, unde omnis dolor. Sint, obcaecati cupiditate non numquam eius. Eos, qui ratione voluptatem accusantium doloremque laudantium, totam rem aperiam.
                        p.item__number.text-pink.text-bold 01
                    .col-3.col-lg-6.col-sm-12.item.item_step.mb-lg-40
                        .item__content
                            p.item__title.text-bold Практика
                            p.text-grey Amet, consectetur, adipisci velit, sed quia dolor. Autem quibusdam et aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus. Perferendis doloribus asperiores repellat. numquam eius modi tempora incidunt.
                        p.item__number.text-pink.text-bold 02
                    .col-3.col-lg-6.col-sm-12.item.item_step.mb-sm-40
                        .item__content
                            p.item__title.text-bold Обратная связь
                            p.text-grey Temporibus autem vel eum fugiat, quo minus. Esse, quam nihil molestiae consequatur, vel illum.
                            .info.info_promo-small.d-inline-block
                                span.info_promo__subtitle.text-bold Бонус!
                                span.text-small Получите бесплатный вебинар с&nbsp;флористами
                        p.item__number.text-pink.text-bold 03
                    .col-3.col-lg-6.col-sm-12.item.item_step.item_last
                        .item__content
                            p.item__title.text-bold Работа мечты
                            p.text-grey Vitae dicta sunt, explicabo iste natus error. Itaque earum rerum necessitatibus saepe eveniet, ut labore et quas molestias excepturi. Reprehenderit, qui in culpa, qui dolorem eum fugiat, quo minus.
                        p.item__number.text-pink.text-bold 04
                p.h4.text-bold.mb-40 Популярные вопросы
                .row
                    .col-6.col-md-12
                        .item-slide.item-slide_faq.item-slide_faq-small
                            .item-slide__title Какие инструменты нужны для прохождения курса?
                            .item-slide__content
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        .item-slide.item-slide_faq.item-slide_faq-small
                            .item-slide__title Какие материалы понадобятся для обучения?
                            .item-slide__content
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        .item-slide.item-slide_faq.item-slide_faq-small
                            .item-slide__title Какие инструменты нужны для занятий?
                            .item-slide__content
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                    .col-6.col-md-12
                        .item-slide.item-slide_faq.item-slide_faq-small
                            .item-slide__title Для кого рассчитан этот курс?
                            .item-slide__content
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        .item-slide.item-slide_faq.item-slide_faq-small
                            .item-slide__title Какие инструменты нужны для прохождения курса?
                            .item-slide__content
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                        .item-slide.item-slide_faq.item-slide_faq-small
                            .item-slide__title Какие материалы понадобятся для обучения?
                            .item-slide__content
                                p инструменты и материалы. Способы ухода за свежесрезанными цветами. Техники составления букета. 
                .item.mt-40.item-icon.item-icon_information
                    img.item-icon__img(src="../icon/plus.svg")
                    .row.align-items-center
                        .col-8.col-lg-12.mb-lg-20
                            p.item__title.text-bold.mb-10 Рекомендации по набору инструментов 
                            p.text-grey Подготовили для вас чек-лист по необходимым инструментам для обучения и начала работы
                        .col-4.col-lg-12.text-right.text-lg-left
                            a.btn.btn_default(href="#") Скачать чек-лист
        section.content.pt-0
            .container
                p.h2.text-bold.mb-60.mb-sm-40 Ваше резюме после курса
                .item.item_person.bg-wave
                    .row.justify-content-end
                        .col-2.col-md-3.col-sm-12
                            img.img-fluid.ml-sm-0(src="../img/pic.png" alt="" title="")
                        .col-8.col-xl-7.col-lg-10.col-md-9.col-sm-12
                            p.subtitle-light.text-grey.mb-0.mt-20 Должность
                            p.item__title.text-bold Флорист, помощник флориста
                            p.text-bold.mt-40 КЛЮЧЕВЫЕ НАВЫКИ
                            .row
                                .col-6.col-md-12.mb-md-20
                                    ul.list.list_circle
                                        li.list__item Опыт закупки цветов
                                        li.list__item Умение правильного хранения цветов 
                                        li.list__item Опыт восстановления внешнего вида
                                .col-6.col-md-12
                                    ul.list.list_circle
                                        li.list__item Опыт закупки цветов
                                        li.list__item Умение правильного хранения цветов 
                                        li.list__item Опыт восстановления внешнего вида
                        .col-2.col-xl-3.col-lg-10.col-md-9.col-sm-12.mt-lg-20
                            p.subtitle-light.text-grey.mb-0.mt-20 Зарплата от
                            p.item__title.text-bold 40 000 р.
        section.content.bg-light-pink
            .container
                p.h4.text-bold.text-center.mb-60.mb-sm-40 Доступные варианты онлайн-обучения
                .row.align-items-center.justify-content-center
                    .col-4.col-lg-8.col-md-12.mb-lg-40
                        .price-col
                            .price-col__title «Полное погружение»
                            ul.list.list_circle.price-col__list
                                li.list__item доступен 12 месяцев
                                li.list__item бесплатный вебинар
                                li.list__item обратная связь от преподавателей
                                li.list__item 1 час общения с преподавателем
                            .price-col__info
                                .price-col__info__col
                                    p.mb-0.text-grey.text-small обычная цена
                                    p.price-col__value.price-col__value_old-price 38 000
                                .price-col__info__col
                                    p.mb-0.text-pink.text-small со скидкой
                                    p.price-col__value.price-col__value_new-price 35 000
                                a.btn.btn_default(href="#") Записаться
                    .col-4.col-lg-8.col-md-12.mb-lg-40
                        .price-col.price-col_popular
                            .price-col__label Популярный
                            .price-col__title.mt-20 «Оптимальный»
                            ul.list.list_circle.price-col__list
                                li.list__item доступен 12 месяцев
                                li.list__item бесплатный вебинар
                                li.list__item обратная связь от преподавателей
                                li.list__item.list__item_disabled 1 час общения с преподавателем
                            .price-col__info
                                .price-col__info__col
                                    p.mb-0.text-grey.text-small обычная цена
                                    p.price-col__value.price-col__value_old-price 38 000
                                .price-col__info__col
                                    p.mb-0.text-pink.text-small со скидкой
                                    p.price-col__value.price-col__value_new-price 35 000
                                a.btn.btn_default(href="#") Записаться
                    .col-4.col-lg-8.col-md-12
                        .price-col
                            .price-col__title «Самостоятельный»
                            ul.list.list_circle.price-col__list
                                li.list__item доступен 12 месяцев
                                li.list__item бесплатный вебинар
                                li.list__item.list__item_disabled обратная связь от преподавателей
                                li.list__item.list__item_disabled 1 час общения с преподавателем
                            .price-col__info
                                .price-col__info__col
                                    p.mb-0.text-grey.text-small обычная цена
                                    p.price-col__value.price-col__value_old-price 38 000
                                .price-col__info__col
                                    p.mb-0.text-pink.text-small со скидкой
                                    p.price-col__value.price-col__value_new-price 35 000
                                a.btn.btn_default(href="#") Записаться
        //- section.cta-block.cta-block_offset-top
        //-     .container.p-relative
        //-         p.h1.cta-block__title.mt-0 Остались вопросы?
        //-         p.cta-block__offer.text-grey(style="width: 380px;") Задай их любым удобным способом и мы ответим на них в течении 5 минут! 
        //-         .networks.mt-40
        //-             a.networks__item(href="#")
        //-                 img.img-fluid(src="../icon/vk.svg")
        //-             a.networks__item(href="#")
        //-                 img.img-fluid(src="../icon/whatsapp.svg")
        //-             a.networks__item(href="#")
        //-                 img.img-fluid(src="../icon/telegram.svg")
        section.content.content_offset-small
            .container
                .slider.slider_reviews
                    .info.info_review.text-center
                        .info__img(style="background-image: url('../img/test-05.jpg');")
                        p.text-bold Ирина Толстова
                        p.info__intro.text-grey.text-small.text-small Iure reprehenderit, qui blanditiis praesentium voluptatum deleniti atque corrupti. Eum fugiat, quo voluptas sit amet. Doloremque laudantium, totam rem aperiam
                    .info.info_review.text-center
                        .info__img(style="background-image: url('../img/test-06.png');")
                        p.text-bold Ирина Толстова
                        p.info__intro.text-grey.text-small.text-small Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
                    .info.info_review.text-center
                        .info__img(style="background-image: url('../img/test-07.png');")
                        p.text-bold Ирина Толстова
                        p.info__intro.text-grey.text-small.text-small Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
                    .info.info_review.text-center
                        .info__img(style="background-image: url('../img/test-08.png');")
                        p.text-bold Ирина Толстова
                        p.info__intro.text-grey.text-small.text-small Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
                    .info.info_review.text-center
                        .info__img(style="background-image: url('../img/test-09.png');")
                        p.text-bold Ирина Толстова
                        p.info__intro.text-grey.text-small.text-small Lorem ipsum dolor sit amet. Accusamus et accusamus et expedita distinctio tempore. Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo. Corrupti, quos dolores et quas.
        aside.mb-60
            .container
                include chunks/networks.pug
        include chunks/footer.pug
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/jquery.inputmask.js")

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        script(src="./js/slick.min.js")
        
        script(src="./js/app.min.js")