html(lang="ru")
    include chunks/head.pug
    body.header-top
        script(src="/js/jquery.min.js")
        include chunks/header.pug
        section.content.content_offset-small
            .container
                h1.text-bold.mb-0 Наши преподаватели
                .row
                    .col-3.col-xl-4.col-md-6.col-sm-12.mt-40
                        a.teacher(href="teacher.html")
                            .teacher__photo
                            .teacher__content
                                p.teacher__name Елена
                                p.teacher__surname Дмитриева
                                p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
                    .col-3.col-xl-4.col-md-6.col-sm-12.mt-40
                        a.teacher(href="teacher.html")
                            .teacher__photo
                            .teacher__content
                                p.teacher__name Елена
                                p.teacher__surname Дмитриева
                                p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
                    .col-3.col-xl-4.col-md-6.col-sm-12.mt-40
                        a.teacher(href="teacher.html")
                            .teacher__photo
                            .teacher__content
                                p.teacher__name Елена
                                p.teacher__surname Дмитриева
                                p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
                    .col-3.col-xl-4.col-md-6.col-sm-12.mt-40
                        a.teacher(href="teacher.html")
                            .teacher__photo
                            .teacher__content
                                p.teacher__name Елена
                                p.teacher__surname Дмитриева
                                p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
                    .col-3.col-xl-4.col-md-6.col-sm-12.mt-40
                        a.teacher(href="teacher.html")
                            .teacher__photo
                            .teacher__content
                                p.teacher__name Елена
                                p.teacher__surname Дмитриева
                                p.teacher__intro Основатель студии. Флорист дизайнер международного уровня, с опытом работы более 10 лет.
        aside.mb-60
            .container
                include chunks/networks.pug
        include chunks/footer.pug
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=79c72616-7091-4150-914c-4d2e2a2ad526" type="text/javascript")
        script(src="./js/app.min.js")