html(lang="ru")
    include chunks/head.pug
    body.header-top
        script(src="/js/jquery.min.js")
        include chunks/header.pug
        section.content.content_inside
            .container
                h1.text-bold.mb-60 Актуальное расписание курсов
                .row
                    .col-3
                        .timetable-nav
                            .timetable-nav__item
                                a.timetable-nav__link.timetable-nav__link--active(href="#") Все курсы
                            .timetable-nav__item
                                a.timetable-nav__link(href="#") Базовые курсы
                            .timetable-nav__item
                                a.timetable-nav__link(href="#") Свадебные курсы
                            .timetable-nav__item
                                a.timetable-nav__link(href="#") Семинары
                            .timetable-nav__item
                                a.timetable-nav__link(href="#") Мастер-классы
                            .timetable-nav__item
                                a.timetable-nav__link.timetable-nav__link--disable(href="#") Архив курсов
                    .col-9
                        .timetable-row.row
                            .col-4
                                .timetable-block
                                    .timetable-img(style="background-image: url('./img/test-01.jpg');")
                                    .timetable-category.timetable-category_type-1 Базовые курсы
                                    .timetable-title Название курса
                                    .timetable-period 21.11.2019 - 21.01.2020
                                    .timetable-teacher Анна Литвинова
                                    .timetable-info
                                        .timetable-info__item 5 часов теории
                                        .timetable-info__item 12 часов практики
                                    a.timetable-btn(href="#") Записаться
                            .col-4
                                .timetable-block
                                    .timetable-img(style="background-image: url('./img/test-02.jpg');")
                                    .timetable-category.timetable-category_type-2 Свадебные курсы
                                    .timetable-title Название курса
                                    .timetable-period 21.11.2019 - 21.01.2020
                                    .timetable-teacher Анна Литвинова
                                    .timetable-info
                                        .timetable-info__item 5 часов теории
                                        .timetable-info__item 12 часов практики
                                    a.timetable-btn(href="#") Записаться
                            .col-4
                                .timetable-block
                                    .timetable-img(style="background-image: url('./img/test-03.jpg');")
                                    .timetable-category.timetable-category_type-3 Семинары
                                    .timetable-title Название курса
                                    .timetable-period 21.11.2019 - 21.01.2020
                                    .timetable-teacher Анна Литвинова
                                    .timetable-info
                                        .timetable-info__item 5 часов теории
                                        .timetable-info__item 12 часов практики
                                    a.timetable-btn(href="#") Записаться
                            .col-4
                                .timetable-block
                                    .timetable-img(style="background-image: url('./img/test-04.jpg');")
                                    .timetable-category.timetable-category_type-4 Мастер-классы
                                    .timetable-title Название курса
                                    .timetable-period 21.11.2019 - 21.01.2020
                                    .timetable-teacher Анна Литвинова
                                    .timetable-info
                                        .timetable-info__item 5 часов теории
                                        .timetable-info__item 12 часов практики
                                    a.timetable-btn(href="#") Записаться
                            .col-4
                                .timetable-block
                                    .timetable-img(style="background-image: url('./img/test-05.jpg');")
                                    .timetable-category.timetable-category_type-5 Архив курсов
                                    .timetable-title Название курса
                                    .timetable-period 21.11.2019 - 21.01.2020
                                    .timetable-teacher Анна Литвинова
                                    .timetable-info
                                        .timetable-info__item 5 часов теории
                                        .timetable-info__item 12 часов практики
                                    a.timetable-btn(href="#") Записаться
        section.cta-block.cta-block_pt
            .container.p-relative
                p.h1.cta-block__title Оставьте заявку на обучение
                p.cta-block__offer Запишитесь на курс online и&nbsp;
                    span.text-bold.text-pink получите скидку 15%!
                form.form.cta-block__form(action="")
                    input.form__input.form__input_name(placeholder="Ваше имя")
                    input.form__input.form__input_phone(placeholder="Телефон")
                    button.btn.btn_action(type="submit") Хочу записаться
                    .form__agree.checkbox
                        input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                        label.checkbox__label(for="agree") согласен с 
                            a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
        include chunks/footer.pug
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js") 