.sertificate_modal{
    width: 650px;
    max-width: 100%;

    max-height: 90vh;
    border-radius: 0;

    overflow: auto;

    &__title{
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;
        text-transform: uppercase;
        margin-bottom: 4px;
    }
}