header
    .header
        .container
            .row.header__row
                .col.header__col
                    .header__line
                        ul.contacts.contacts_inline.text-bold
                            li.contacts__item.contacts__item_phone
                                a.header__link(href="tel:88001112233") 8 800 111-22-33
                            li.contacts__item.contacts__item_phone
                                a.header__link(href="tel:88001112233") 8 800 111-22-33
                    .header__line
                        nav.navbar.navbar_left
                            a.navbar__link(href="/online.html") Online-курсы
                            a.navbar__link(href="/index.html") Очные курсы
                            a.navbar__link(href="#") О школе
                            a.navbar__link(href="/sertificate.html") Сертификаты
                a.header__logo(href="/")
                .col.header__col
                    .header__line.header__line_right-col
                        a.header-link.header__item(href="#") Оплата и доставка
                        a.header-btn.btn.btn_default.header__item(href="/timetable.html") Расписание
                        ul.contacts.contacts_inline.contacts_header.header__item
                            li.contacts__item.contacts__item_networks.contacts__item_vk
                                a.footer__link(href="https://vk.com/magentaflower")
                            li.contacts__item.contacts__item_networks.contacts__item_fb
                                a.footer__link(href="https://vk.com/magentaflower")
                            li.contacts__item.contacts__item_networks.contacts__item_inst
                                a.footer__link(href="https://vk.com/magentaflower")
                    .header__line
                        nav.navbar.navbar_right
                            a.navbar__link(href="#") Отзывы
                            a.navbar__link(href="#") Преподаватели
                            a.navbar__link(href="#") Портфолио
                            a.navbar__link(href="/contact.html") Контакты
    .header-mobile-only
        .container
            .row.align-items-center
                .col-8
                    a.header__logo(href="/")
                .col-4.text-right
                    svg.nav-btn#nav(viewBox="0 0 24.00 24.00" xml:space="preserve")
                        path(fill="#000000" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 3,8L 3,7L 20,7L 20,8L 3,8 Z M 20,12L 20,13L 3,13L 3,12L 20,12 Z M 3,17L 20,17L 20,18L 3,18L 3,17 Z")
.navbar-mobile
    nav.navbar
        .navbar__item
            a.navbar__link(href="#") Online-курсы
        .navbar__item
            a.navbar__link(href="#") Очные курсы
        .navbar__item
            a.navbar__link(href="#") О школе
        .navbar__item
            a.navbar__link(href="#") Преподаватели
        .navbar__item
            a.navbar__link(href="#") Портфолио
        .navbar__item
            a.navbar__link(href="#") Отзывы
        .navbar__item
            a.navbar__link(href="#") Блог
        .navbar__item
            a.navbar__link(href="/contact.html") Контакты
    ul.contacts
        li.contacts__item.contacts__item_phone
            a.header__link(href="tel:88001112233") 8 800 111-22-33
        li.contacts__item.contacts__item_phone
            a.header__link(href="tel:88001112233") 8 800 111-22-33
    a.header-btn.btn.btn_default(href="#") Актуальное расписание курсов    