.networks{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;

    &__item{
        flex: 0 0 80px;
        max-width: 33%;

        padding: 0 20px;
        transition: .3s;

        height: 50px;

        &:hover{
            padding: 0 16px;
        }
    }
}