.advt{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 401;

    background-color: $pink;

    &__row{
        display: flex;
        grid-gap: $spacer-gutter;

        justify-content: center;
        align-items: center;
        padding: 6px $spacer-gutter;

        font-size: map-get($map: $font-size, $key: sm);
        line-height: map-get($map: $font-size, $key: md);
    }
    &__text{
        color: $white;
    }
    &__btn{

        font-weight: $font-weight-bold;
        color: $white;

        &:hover{
            text-decoration: underline;
            color: $white;
        }
    }
}

.advt + .header_fixed{
    top: 34px;
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .advt{
        padding-top: 6px;
        padding-bottom: 6px;

        &__row{
            flex-wrap: wrap;
            grid-gap: 8px;
        }
        &__text{
            text-align: center;
        }
    }
    // .advt + .header_fixed{
    //     top: 66px;
    // }
}